@model AIYunNet.CMS.Domain.Model.WebUser
@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "AddAndUpdateUser";
    Layout = "~/Areas/SysAdmin/Views/Shared/_SysAdminLayout.cshtml";
    WebWorker work = ViewBag.worker;
    if (Model.UserID == 0)
    {
        Model.AreasID = "0";
        Model.AreasName = "全城";
    }
    string PositionCode = Request["usertype"];
    if (PositionCode != null)
    {
        Model.PositionCode = PositionCode;
    }
}

<div class="box">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#UserInfoTab" data-toggle="tab">用户信息</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="caseInfoTab">
            <div class="panel-body">

                    <div class="innerLR">
                        <div class="form-horizontal">
                            <div class="form-group" style="display:none">
                                @Html.HiddenFor(m => m.UserID, new { id = "hidUserID" })
                               
                            </div>
                            <div class="form-group">
                                <label for="UserName" class="col-sm-2 control-label">账户(联系方式)：</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UserName" class="col-sm-2 control-label">密码(如果不需要修改密码请不要填写)：</label>
                                <div class="col-sm-3">
                                    <input type="password" value="" name="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="NickName" class="col-sm-2 control-label">昵称：</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.NickName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TrueName" class="col-sm-2 control-label">真实姓名：</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.TrueName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Email" class="col-sm-2 control-label">邮箱：</label>
                                <div class="col-sm-3">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Sex" class="col-sm-2 control-label">性别：</label>
                                <div class="col-sm-4">
                                   男 @Html.RadioButtonFor(m => m.Sex, "男", new { @name = "Sex"})
                                    女 @Html.RadioButtonFor(m => m.Sex, "女", new { @name = "Sex" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="UserType" class="col-sm-2 control-label">用户类型：</label>
                                <div class="col-sm-3">
                                    <select class="form-control"  id="PositionCode" name="PositionCode">
                                        <option value="WebWorkerLeader">装修工长</option>
                                        <option value="WebWorker">装修工人</option>
                                        <option value="WebUser">业主</option>
                                    </select>
                                </div>
                            </div>

                            @*地区*@
                            <div class="form-group">
                                <label for="city" class="col-sm-2 control-label">城市：</label>
                                <div class="col-sm-3">
                                    @Html.DropDownListFor(m => m.ProvinceID, new SelectList(ViewBag.provinceList, "Value", "Text"), new { @class = "form-control", id = "ProvinceID" })
                                </div>
                                <input type="hidden" value="@Model.ProvinceName" name="ProvinceName" />
                                <div class="col-sm-3">
                                    <select name="CityID" class="form-control" id="cityid"></select>
                                </div>
                                <input type="hidden" value="@Model.CityName" name="CityName" />
                            </div>
                            <script>
                                $(function () {
                                    $("#PositionCode").val("@Model.PositionCode");
                                    

                                    var provinceid = $("#ProvinceID").val();
                                    var ProvinceName = $("#ProvinceID").find("option:selected").text();

                                    getcitylist(provinceid);
                                    $("#ProvinceID").change(function () {
                                        provinceid = $("#ProvinceID").val();
                                        ProvinceName = $("#ProvinceID").find("option:selected").text();
                                        getcitylist(provinceid);
                                        $("input[name='ProvinceName']").val(ProvinceName);
                                        var CityName = $("#cityid  option:selected").text();
                                        var CityID = $("#cityid  option:selected").val();
                                        $("input[name='CityName']").val(CityName);
                                    });
                                    $("#cityid").val("@Model.CityID");
                                    var cityid = $("#cityid  option:selected").val();
                                    $("#cityid").change(function () {
                                        var CityName = $("#cityid  option:selected").text();
                                        var CityID = $("#cityid  option:selected").val();
                                        $("input[name='CityName']").val(CityName);
                                    });

                                    function getcitylist(provinceid) {
                                        $.ajax({
                                            async: false,
                                            type: "post",
                                            url: "/SysAdmin/city/GetCityListByfather",
                                            data: {
                                                father: provinceid
                                            },
                                            success: function (data) {
                                                if (data != null) {
                                                    var html = '';
                                                    $.each(data.list, function (i, item) {
                                                        html += '<option value="' + item.cityID + '">' + item.city + '</option>'
                                                    });
                                                    $("#cityid").empty();
                                                    $("#cityid").append(html);

                                                }
                                                else {

                                                }
                                            },
                                            error: function (xhr, type) {
                                                alert('Ajax error!2');
                                            }
                                        });
                                    }

                                })
                            </script>
                            <div class="form-group">
                                <label for="Address" class="col-sm-2 control-label">服务地区：</label>
                                <div class="col-sm-5">
                                    <input  type="hidden" name="AreasID" value="@Model.AreasID">
                                    <input class="form-control"  readonly="readonly" type="text" name="AreasName" value="@Model.AreasName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Address" class="col-sm-2 control-label">籍贯：</label>
                                <div class="col-sm-3">
                                    <input class="form-control" name="Address" type="text" value="@work.Address">
                                </div>
                            </div>
                            @if (Model.PositionCode == "WebWorkerLeader")
                            {
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">工作年限：</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="WorkYearsID" name="WorkYearsID">
                                            @foreach (var iten in ViewBag.workyearslist as List<WebLookup>)
                                            {
                                                <option value="@iten.Code">@iten.Description</option>
                                            }
                                        </select>
                                     
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">工程价位：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" name="PriceName" type="text" value="@work.PriceName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">擅长领域：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control"  type="text" value="@work.GoodAtStyle" name="GoodAtStyle">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">评价自己：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" name="WorkerMotto" type="text" value="@work.WorkerMotto">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">个人简介：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="WorkerInfo" type="text" value="@work.WorkerInfo">
                                    </div>
                                </div>
                            }
                            else if (Model.PositionCode == "WebWorker")
                            {
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">工作年限：</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="WorkYearsID" name="WorkYearsID">
                                            @foreach (var iten in ViewBag.workyearslist as List<WebLookup>)
                                            {
                                                <option value="@iten.Code">@iten.Description</option>
                                            }
                                        </select>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">工种：</label>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="WorkerPositionID" name="WorkerPositionID">
                                            @foreach (var iten in ViewBag.workPositionList as List<WebLookup>)
                                            {
                                                <option value="@iten.Code">@iten.Description</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">工程价位：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" name="PriceName" type="text" value="@work.PriceName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">擅长领域：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" name="GoodAtStyle" type="text" value="@work.GoodAtStyle">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">评价自己：</label>
                                    <div class="col-sm-3">
                                        <input class="form-control" name="WorkerMotto" type="text" value="@work.WorkerMotto">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Address" class="col-sm-2 control-label">个人简介：</label>
                                    <div class="col-sm-8">
                                        <input class="form-control" name="WorkerInfo" type="text" value="@work.WorkerInfo">
                                    </div>
                                </div>
                            }
                            <div class="form-group">
                                <label class="col-sm-2 control-label">设置：</label>
                                <div class="col-sm-offset col-sm-5">
                                    <div class="checkbox col-sm-2">
                                        <label class="checkbox-custom">
                                            <input type="checkbox" value="true" name="IsLock" id="IsLock"/>
                                            锁定
                                        </label>
                                    </div>
                                    @if (Model.PositionCode != "WebUser")
                                    {
                                        <div class="checkbox col-sm-3">
                                            <label class="checkbox-custom">
                                                <input type="checkbox" value="true" name="InUser" id="InUser"/>
                                                通过审核
                                            </label>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9" style="text-align:center">
                                    <button type="submit" class="btn btn-primary new_button_style" id="bao">保存</button>
                                    <button type="reset" class="btn new_button_style">清空</button>
                                    <a class="btn btn-primary new_button_style" id="Returnback">返回</a>
                                </div>
                            </div>

                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

            $("#Returnback").click(function () {
                window.location.href = sessionStorage.getItem('url');
            })


        })
        $("#WorkYearsID").val('@work.WorkYearsID');
        $("#WorkerPositionID").val("@work.WorkerPositionID");
        if ('@Model.IsLock'=='True')
        {
            $("input[name='IsLock']").prop('checked', true);
        }
        if ('@Model.InUser' == 'True')
        {
            $("input[name='InUser']").prop('checked', true);
        }
        $("#bao").click(function () {
            var UserID = '@Model.UserID';
            var UserName = $("input[name=UserName]").val();
            var Password = $("input[name=Password]").val();
            var NickName = $("input[name=NickName]").val();
            var TrueName = $("input[name=TrueName]").val();
            var Email = $("input[name=Email]").val();
            var Sex = $("input[name='Sex']:checked").val();
            var PositionCode = $("#PositionCode").val();
            var Telephone = $("input[name=UserName]").val();
            var ProvinceID = $("#ProvinceID option:selected").val();
            var ProvinceName = $("input[name=ProvinceName]").val();
            var CityID = $("#cityid option:selected").val();
            var CityName = $("input[name=CityName]").val();
            var AreasID = $("input[name=AreasID]").val();
            var AreasName = $("input[name=AreasName]").val();
            var WorkYearsID = $("#WorkYearsID option:selected").val();
            var WorkYears = $("#WorkYearsID option:selected").text();
            var PriceName = $("input[name=PriceName]").val();
            var GoodAtStyle = $("input[name=GoodAtStyle]").val();
            var WorkerMotto = $("input[name=WorkerMotto]").val();
            var WorkerInfo = $("input[name=WorkerInfo]").val();
            var WorkerPositionID = $("#WorkerPositionID option:selected").val();
            var WorkerPosition = $("#WorkerPositionID option:selected").text();
            var Address = $("input[name=Address]").val();
            var IsLock = false;
            if ($("#IsLock").get(0).checked)
            {
                IsLock = true;
            }

            var InUser = false;
            if ($("#InUser").get(0).checked) {
                InUser = true;
            }

            $.ajax({
                async: false,
                type: "post",
                url: "/SysAdmin/UsersCenter/AddAndUpdateUserAndWorkerModel",
                data: {
                    UserID: UserID,
                    UserName: UserName,
                    Password: Password,
                    NickName: NickName,
                    TrueName: TrueName,
                    Email: Email,
                    Sex: Sex,
                    PositionCode: PositionCode,
                    Telephone: Telephone,
                    ProvinceID: ProvinceID,
                    ProvinceName: ProvinceName,
                    CityID: CityID,
                    CityName: CityName,
                    AreasID: AreasID,
                    AreasName: AreasName,
                    WorkYearsID: WorkYearsID,
                    WorkYears: WorkYears,
                    PriceName: PriceName,
                    GoodAtStyle: GoodAtStyle,
                    WorkerMotto: WorkerMotto,
                    WorkerInfo: WorkerInfo,
                    WorkerPositionID: WorkerPositionID,
                    WorkerPosition: WorkerPosition,
                    IsLock: IsLock,
                    InUser: InUser,
                    Address: Address

                },
                success: function (data) {
                    if (data.retCode == 1) {
                        swal({
                            title: "添加成功",
                            text: "是否继续添加人员信息？",
                            type: "success",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "是, 继续",
                            cancelButtonText: "不, 返回",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },
                        function (isConfirm) {
                            var url = sessionStorage.getItem('url');
                            if (isConfirm) {
                                window.location.href = window.location.href;
                            } else {
                                window.location.href = url;
                            }
                        });
                    }

                },
                error: function (xhr, type) {
                    alert('Ajax error!2');
                }
            });
        })


    </script>
}