@model AIYunNet.CMS.Domain.Model.WebWorker
@using AIYunNet.CMS.BLL.Service;
@using AIYunNet.CMS.Domain.Model;
@using AIYunNet.CMS.BLL.IService;
@using AIYunNet.CMS.Common.Utility
@{
    Layout = null;
}
<div class="gz-250">
    <div class="ngz-gzphoto"><img src="@AppSettingsHelper.ImgUrl@Model.WorkerImage"></div>
    <a href="javascript:void(0);" class="J_callForeman ngz-yybtn" data-foremanid="6689" data-foremanname="@Model.WorkerName">预约我免费报价</a>
    <div class="ngz-border clear" style="border-bottom: 0;border-top: 0;">
        <div class="ngz-xx-w clear">
            <div class="ngz-xm-w"><h2>@Model.WorkerName</h2>
            @if (Model.IsAuthentication)
            {<i class="rz"></i>@:已认证
                            }
            @if (Model.IsBond)
            {<i class="level-03"></i>@:保证金
                            }
            </div>
            <p style="width: 110px;margin-top:20px;"><i class="ngz-ico-jg"></i>城市：<em title="@Model.CityName">@Model.CityName</em></p>
            <p style="width: 110px;margin-top:20px;"><i class="ngz-ico-cy"></i>从业：<em>@Model.WorkYears</em></p>
            <p style="width: 220px;" class="ellipsis"><i class="ngz-ico-qy"></i>服务区域：<em title="@Model.AreasName">@Model.AreasName</em></p>
        </div>
        <div class="ngz-xx-w clear">
            <p style="width: 110px;"><i class="ngz-ico-qd"></i>签单总数：<span>3</span></p>
            <p style="width: 110px;"><i class="ngz-ico-yy"></i>预约总数：<span>59</span></p>
            <p style="width: 110px;"><i class="ngz-ico-pj"></i>业主评价：<span>@Model.CommentCount</span></p>
            <p style="width: 110px;"><i class="ngz-ico-zjgd"></i>在建工地：<span>@Model.IsBuildingCount</span></p>
            @*<p>&nbsp;&nbsp;工地整体评级:&nbsp;&nbsp;<i class="star-00"></i></p>*@
        </div>
        <div class="ngz-xx-w clear" style="border: 0;">
            <p style="width:220px;"><i class="ngz-ico-jl"></i>接受装修第三方监管</p>
            <p style="width:220px;"><i class="ngz-ico-bzj"></i>由网站托管20%装修款</p>
            <p style="width:220px;"><i class="ngz-ico-zb"></i>售后：整体2年，水电5年</p>
        </div>
    </div>
    <i class="ngz-call">@Model.WorkerPhone</i>
    <div class="ngz-border clear" style="margin-top: 22px;display:none;">
        <div class="ngz-tit"><h2>预约我的业主</h2><span>共<i>59</i>人</span></div>
        <ul class="ngz-my-yz">
            <li><div class="name">孟女士</div><div class="address ellipsis">保密</div><div class="date">01-17</div></li>
            <li><div class="name">刘先生</div><div class="address ellipsis">河北放管大厦</div><div class="date">01-16</div></li>
            <li><div class="name">薄先生</div><div class="address ellipsis">保密</div><div class="date">01-16</div></li>
            <li><div class="name">吕先生</div><div class="address ellipsis">保密</div><div class="date">01-11</div></li>
            <li><div class="name">陈先生</div><div class="address ellipsis">保密</div><div class="date">01-06</div></li>
            <li><div class="name">陈先生</div><div class="address ellipsis">天津</div><div class="date">01-05</div></li>
            <li><div class="name">A先生</div><div class="address ellipsis">水溪苑</div><div class="date">01-03</div></li>
            <li><div class="name">金先生</div><div class="address ellipsis">保密</div><div class="date">01-02</div></li>
            <li><div class="name">蔡先生</div><div class="address ellipsis">保密</div><div class="date">01-02</div></li>
        </ul>
    </div>
</div>
