@model AIYunNet.CMS.Domain.Model.WebWorker
@using AIYunNet.CMS.BLL.Service;
@using AIYunNet.CMS.Domain.Model;
@using AIYunNet.CMS.BLL.IService;
@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "DecWorkerDetail";
    Layout = "~/Views/Shared/_LayoutDec.cshtml";
}
<link href="~/Content/design/sheji.workerdetail.css" rel="stylesheet" />
<style>
    .gr-main {
        height:250px;
    }
    .gr-jj {
        margin-top: 28px;
    text-align: left;
    width:89%;
    padding: 20px;
    }
    .more_opus:hover {
    background: #f77071;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #f77071;
}
     .more_opus {
    width: 796px;
    height: 40px;
    border: solid 1px #dd4f50;
    font-size: 14px;
    color: #dd4f50;
    text-align: center;
    line-height: 40px;
    display: block;
    cursor: pointer;
    margin: 5px 0;
    margin-left:100px;
}
</style>
<div class="container">
    <div class="content clearfix">
        <div class="global_pie">
            <ul class="column_list">
                <li class="location">我的位置：</li>
                <li>
                    <a href="/Index/HomeIndex">脉空间</a>
                    <em class="arrow_gray_right"></em>
                </li>
                <li>
                    <a href="/workers/DecWorkerList">找工人</a>
                    <em class="arrow_gray_right"></em>
                </li>
                <li>
                    <a href="#">@Model.WorkerName </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="gr-info">
                <ul class="gr-main">
                    <li style="text-align: right; padding-right: 10px;">
                        点击量：@Model.PageViewCount&nbsp;&nbsp;&nbsp;&nbsp;
                    </li>
                    <li class="gr-logo">
                        <img title="@Model.WorkerName" alt="@Model.WorkerName" src="@AppSettingsHelper.ImgUrl@Model.WorkerImage">
                    </li>
                    <li class="gr-jj">
                        <b>@Model.WorkerName 简介:</b>
                        <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.WorkerInfo
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="zhuangxiu"  style="background: #EE8F25;padding: 5px 20px;color: #fff;font-size: 16px;">
                            找TA装修
                        </a>
                    </li>
                </ul>
                <ul class="gr-detail">
                    <li><b>工&nbsp;种：</b>@Model.WorkerPosition</li>
                    <li><b>工&nbsp;价：</b>@Model.PriceName</li>
                    <li><b>从&nbsp;业：</b>@Model.WorkYears</li>
                    <li><b>联系方式：</b>@Model.WorkerPhone</li>
                    <li><b>所在城市：</b>@Model.ProvinceName&nbsp;@Model.CityName</li>
                    <li style="width: 75%;"><b>服务区域：</b>@Model.AreasName</li>
                    <li style="width: 100%;"><b>擅长领域：</b>@Model.GoodAtStyle</li>
                </ul>
               
                <div class="gr-sgdetail">
                    <div class="titlebar">
                        <div class="title">
                            施工案例
                        </div>
                    </div>
                    <div class="row mt30 clearfix">
                        

                    </div>
                    <div class="clear">
                    </div>
                </div>
                <a href="javascript:void(0)" target="_blank" class="more_opus" style="display: block;">更多作品&nbsp;&gt;</a>
                <div class="gr-pj">
                    <div class="titlebar">
                        <div class="title">
                            业主评价
                        </div>
                    </div>
                    <ul id="pjlist">

                        <dl class="comment-list">
                            <dt>
                                <img src="http://localhost:4316//UploadFiles/Images/PeopleImage/2017/04/25/6c7beac1-61ed-4af8-992f-477e8fa32311.jpg" onerror="this.onerror=null;this.src='/Member/UpControl/upload/avatars/noavatar_small.gif';">
                            </dt>
                            <dd style="display: table">
                                <div style="display: table-cell; vertical-align: middle">
                                    <div class="clearfix">
                                        <span class="pull-right"></span><b>
                                            0工长
                                        </b>
                                    </div>
                                    <p>
                                        <b>
                                            徐超群零工 :
                                        </b><a title="请问你哪里还有人没？你好">
                                            请问你哪里还有人没？你好
                                        </a>
                                    </p>
                                </div>
                            </dd>


                        </dl>
                        <dl class="comment-list">
                            <dt>
                                <img src="http://localhost:4316//UploadFiles/Images/PeopleImage/2017/04/25/6c7beac1-61ed-4af8-992f-477e8fa32311.jpg" onerror="this.onerror=null;this.src='/Member/UpControl/upload/avatars/noavatar_small.gif';">
                            </dt>
                            <dd style="display: table">
                                <div style="display: table-cell; vertical-align: middle">
                                    <div class="clearfix">
                                        <span class="pull-right"></span><b>
                                            0工长
                                        </b>
                                    </div>
                                    <p>
                                        <b>
                                            徐超群零工 :
                                        </b><a title="请问你哪里还有人没？你好">
                                            请问你哪里还有人没？你好
                                        </a>
                                    </p>
                                </div>
                            </dd>


                        </dl>
                        <dl class="comment-list">
                            <dt>
                                <img src="http://localhost:4316//UploadFiles/Images/PeopleImage/2017/04/25/6c7beac1-61ed-4af8-992f-477e8fa32311.jpg" onerror="this.onerror=null;this.src='/Member/UpControl/upload/avatars/noavatar_small.gif';">
                            </dt>
                            <dd style="display: table">
                                <div style="display: table-cell; vertical-align: middle">
                                    <div class="clearfix">
                                        <span class="pull-right"></span><b>
                                            0工长
                                        </b>
                                    </div>
                                    <p>
                                        <b>
                                            徐超群零工 :
                                        </b><a title="请问你哪里还有人没？你好">
                                            请问你哪里还有人没？你好
                                        </a>
                                    </p>
                                </div>
                            </dd>


                        </dl>
                        <dl class="comment-list">
                            <dt>
                                <img src="http://localhost:4316//UploadFiles/Images/PeopleImage/2017/04/25/6c7beac1-61ed-4af8-992f-477e8fa32311.jpg" onerror="this.onerror=null;this.src='/Member/UpControl/upload/avatars/noavatar_small.gif';">
                            </dt>
                            <dd style="display: table">
                                <div style="display: table-cell; vertical-align: middle">
                                    <div class="clearfix">
                                        <span class="pull-right"></span><b>
                                            0工长
                                        </b>
                                    </div>
                                    <p>
                                        <b>
                                            徐超群零工 :
                                        </b><a title="请问你哪里还有人没？你好">
                                            请问你哪里还有人没？你好
                                        </a>
                                    </p>
                                </div>
                            </dd>


                        </dl>
                    </ul>
                    <div class="clear">
                    </div>
                </div>

            </div>
        </div>
    </div>
    

</div>
<script>
    $(".zhuangxiu").click(function () {
        var peoplename = "@Model.WorkerName";
        var userid = "@Model.UserID";
        if ("@SessionHelper.Get("userName")" != "" && "@SessionHelper.Get("userName")" != null) {
            window.open('/PeopleCenter/CenterDemand/updateAndAddDemand?id=0&UserID=' + userid + '&peoplename=' + peoplename, '_blank');
        } else {
        layer.open({
            type: 2,
            scrollbar: false,
            title: '登陆',
            shadeClose: true,
            shade: 0.8,
            area: ['330px', '330px'],
            content: ['/PeopleCenter/UserCenter/LoinOnButton?UserID=' + userid + '&peoplename=' + peoplename, 'no'],
            end: function () {
                location.reload();
            }

        });
    }
    });
    $(function () {
        GetPageList(1);

        function GetPageList(pageIndex) {
            var PageSize = 8;
            $.ajax({
                async: false,
                type: "post",
                url: "../Handler/GetPageListAjax.ashx",
                data: {
                    pageIndex: pageIndex,
                    PageSize: PageSize,
                    WorkerID: "@Model.WorkerID",
                    methodname: "GetDecBuidingList"
                },
                success: function (data) {
                    if (data) {
                        var datajson = eval('(' + data + ')');
                        var html = "";
                        $.each(datajson.list, function (i, item) {

                            html += '<div class="col-5">'
                                + '<div class="case-list">'
                                + '<div class="pic">'
                                + '<a style="height: 170px; display: block" target="_blank" href="/Workers/DecWorkerBuidingDetail?WorkerID=@Model.WorkerID&BuidingID=' + item.BuidingID + '">'
                                + '<img title="' + item.BuidingTitle + '" alt="' + item.BuidingTitle + '" src="@AppSettingsHelper.ImgUrl' + item.BuidingImage + '">'
                                + '</a><div class="info">'
                                + '<a target="_blank" href="/Workers/DecWorkerBuidingDetail?WorkerID=@Model.WorkerID&BuidingSingleID=' + item.BuidingID + '">' + item.BuidingTitle + '&nbsp;' + item.Space + '㎡'
                                + '</a></div></div>'
                                + '<div class="handle">'
                                + '<div class="floatL qdje">'
                                + '总价：<strong>' + item.Price + '元</strong>'
                                + '</div>'
                                + ' <a class="floatR see" href="../zb/yygd2376">预约参观</a>'
                                + '</div></div></div>';
                        })
                        $(".row").append(html);
                        if (pageIndex + 1 <= datajson.pageCount) {
                            $(".more_opus").click(function () {
                                GetPageList(pageIndex + 1);
                            })
                        } else {
                            $(".more_opus").remove();
                            var button = '<a href="javascript:void(0)" target="_blank" class="more_opus" style="display: block;">没有更多了</a>'
                            $(".gr-sgdetail").after(button);
                        }


                        //列出页码,jq分页控件

                    } else {
                        $(".row").empty();
                    }
                },
                error: function (xhr, type) {
                    alert('Ajax error!');
                }
            });

        }

        //分页回调函数
        function pageselectCallback(pageIndex) {
            //获取当前页码
            GetPageList(pageIndex.getCurrent());
        }
    })
</script>

