@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "PeopleDetail";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    string userAccount = SessionHelper.Get("userName");
    WebUserService webuserservice = new WebUserService();
    IWebCommon webcommenservice = new WebCommonService();
    WebUser webuser = webuserservice.GetWebUserByAccount(userAccount);
}
<style>
    .zp_nrm_r em {
        display: block;
        float: left;
        width: 95px;
        float: left;
        height: 51px;
        line-height: 51px;
        text-align: left;
        font-family: Microsoft YaHei;
        margin-right: 10px;
    }

    .zp_nrm_l {
        height: 198px;
    }

        .zp_nrm_l a {
            color: #0099ff;
        }
</style>
@section head{


    <link href="~/Content/Plugins/webupload/jQueryfileupload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/Plugins/webupload/jQueryfileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.fileupload.js"></script>
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.fileupload-ui.js"></script>
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.iframe-transport.js"></script>}

<div class="centers_mr">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active" id="UacountInfo">账户信息</a>
            <a class="tit-name" id="UproInfo">职业信息</a>
            <script>
                $(".tit-name").click(function(e){
                    var id=$(e.target).attr('id');

                    $("#"+id).addClass("active");
                    $("#"+id).prevAll("a").removeClass("active");
                    $("#"+id).nextAll("a").removeClass("active");

                    $("#"+id+"list").attr("style","");
                    $("#"+id+"list").prevAll("div").attr("style","display:none;");
                    $("#"+id+"list").nextAll("div").attr("style","display:none;");

                });
            </script>
        </div>
        <div class="items-con">
            <div class="zp_nrm" id="UacountInfolist">
                <input type="hidden" value="@webuser.PositionCode" name="PositionCode"/>
                <input type="hidden" value="@webuser.PositionType" name="PositionType"/>
                <!--left-->
                <div class="zp_nrm_l">
                    <img src="@AppSettingsHelper.ImgUrl@webuser.Img" id="ImgLook">
                    <input type="hidden" name="PeopleImage" value="@webuser.Img" id="ImageUrl" />
                    <input type="hidden" name="thumbnailImage" value="@webuser.thumbnailImage" id="thumbnailImage" />
                    <input type='button' value='上传图片' onclick='javascript: $("#ImageUpload").click();' />
                    <input type="file" name="ImageUpload" id="ImageUpload" multiple style="display:none;" /><a href="javascript:void(0);" id="BtnUpload">更换头像</a>
                </div>
                <!--right-->
                <div class="zp_nrm_r">
                    <p><em>用户名(昵称)：</em><i><input type="text" class="u-ipt-txt" value="@webuser.NickName" style="margin-top:11px; width:100px;" name="NickName" /></i></p>
                    <p>
                        <em>类&nbsp;&nbsp;&nbsp;&nbsp;别：</em>
                        <i>@webcommenservice.GetLookupDesc("User_position", webuser.PositionCode)</i>
                        <a href="/PeopleCenter/Certification/Authentication" class="renzheng-btn">身份认证</a><a href="/PeopleCenter/Certification/GuarantMoney" class="renzheng-btn">申请缴纳质保金</a><span class="ts">认证后可以发布作品吸引设计订单哦</span>
                    </p>


                    <p><em>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：</em><i><input type="text" class="u-ipt-txt" value="@webuser.Email" style="margin-top:11px; width:180px;" name="Email" /></i></p>
                    <p><em>手&nbsp;机&nbsp;号：</em><i>@webuser.Telephone</i><a href="u_safe.html">更换</a></p>
                    <p><em>真实姓名：</em><i><input type="text" class="u-ipt-txt" value="@webuser.TrueName" style="margin-top:11px; width:100px;" name="TrueName" /></i></p>
                    <p><em>性&nbsp;&nbsp;&nbsp;&nbsp;别：</em><i><input type="radio" value="男" name="Sex" />男</i><i><input type="radio" value="女" name="Sex" />女</i></p>
                    <span class="borth_m">
                        <em>所在地：</em>
                        <select class="ziliao-diqu-ipt" id="ProvinceID" name="ProvinceID">
                            @foreach (var province in ViewBag.provinceList as List<t_Province>)
                            {
                                <option value="@province.provinceID">@province.province</option>
                            }
                        </select>
                        <select class="ziliao-diqu-ipt" id="CityID" name="CityID"></select>
                    </span>
                    <p style="height: 160px;">
                        <em>服务区域：</em>
                        <span id="Areaslist">

                        </span>
                        <input name="AreasID" type="hidden" value="@webuser.AreasID" />
                        <input name="AreasName" type="hidden" value="@webuser.AreasName" />
                    </p>
                    <script>
                        $(function () {
                            $("#ProvinceID").val("@webuser.ProvinceID");
                            var ProvinceID= $("#ProvinceID").val();
                            getcitylist(ProvinceID);
                            $("#ProvinceID").change(function(){
                                ProvinceID=$("#ProvinceID").val();
                                getcitylist(ProvinceID);
                                var CityID=$("#CityID  option:selected").val();
                                getArealist(CityID);
                            });

                            $("#CityID").change(function () {
                                var CityID=$("#CityID  option:selected").val();
                                getArealist(CityID)
                            });

                            $("#CityID").val("@webuser.CityID");
                            var CityID=$("#CityID  option:selected").val();
                            getArealist(CityID);

                            var AreasIDlist="@webuser.AreasID";
                            if(AreasIDlist=="0")
                            {
                                $("#allarea").prop('checked',true);
                                $("input:checkbox[name='areaidList']").prop('checked',true);
                            }else
                            {
                                var AreaarrList=AreasIDlist.split(',');
                                for(var i=0;i<AreaarrList.length;i++)
                                {
                                    if(AreaarrList[i]!="")
                                        $("#areaid"+AreaarrList[i]).prop('checked',true);
                                }
                            }


                            //获取区域list
                            function getArealist(cityid)
                            {
                                $.ajax({
                                    async: false,
                                    type: "post",
                                    url: "/SysAdmin/city/GetAreasListByfather",
                                    data: {
                                        father: cityid
                                    },
                                    success: function (data) {
                                        if (data != null) {
                                            var html = '';
                                            html='<label class="checkbox-custom" style="padding-right: 10px;">'
                                            +'<input id="allarea" type="checkbox" value="" />全城'
                                            +'</label>'
                                            $.each(data.list, function (i,item) {
                                                html += '<label class="checkbox-custom" style="padding-right: 10px;">'
                                                    +'<input name="areaidList" id="areaid'+item.areaID+'" type="checkbox" value="'+item.areaID+'" />'
                                                    +'<input type="hidden" name="areanameList" value="'+item.area+'" />'
                                                    +item.area
                                                    +'</label>';
                                            });
                                            $("#Areaslist").empty();
                                            $("#Areaslist").append(html);
                                            selectAllarea();
                                        }
                                        else {

                                        }
                                    },
                                    error: function (xhr, type) {
                                        alert('Ajax error!2');
                                    }
                                });
                            };
                            //区域动作
                            function selectAllarea()
                            {
                                $("#allarea").click(function(){
                                    if($('#allarea').is(':checked')) {
                                        // do something
                                        $("input:checkbox[name='areaidList']").prop('checked',true);
                                    }else{$("input:checkbox[name='areaidList']").prop('checked',false);}
                                });
                            }
                            function getcitylist(provinceid)
                            {
                                $.ajax({
                                    async: false,
                                    type: "post",
                                    url: "/SysAdmin/city/GetCityListByfather",
                                    data: {
                                        father: provinceid
                                    },
                                    success: function (data) {
                                        if (data != null) {
                                            var html = '';
                                            $.each(data.list, function (i,item) {
                                                html += '<option value="' + item.cityID + '">' + item.city + '</option>'
                                            });
                                            $("#CityID").empty();
                                            $("#CityID").append(html);

                                        }
                                        else {

                                        }
                                    },
                                    error: function (xhr, type) {
                                        alert('Ajax error!2');
                                    }
                                });
                            }
                        })
                    </script>



                    <div><a href="javascript:void(0);" class="public_m3" id="userbutton">保存修改</a></div>
                </div>

            </div>
            @{ Html.RenderPartial("_DesignerView");}
        </div>
    </div>
</div>
<script>

    $(function () {
        //获取类别
        var ptype="@webuser.UserType";
        if(ptype!=null && ptype!="")
        {
            $("#UserType").val(ptype);
        }

        //获取性别
        var sex="@webuser.Sex";
        if(sex!=null && sex!="")
        {
            $("input[name=Sex][value="+sex+"]").attr("checked","true");
        }


        var jqXHRData = new Array();
        initFileUpload();
        $('#BtnUpload').on('click', function () {
            if (jqXHRData.length > 0) {
                for (var i = 0; i < jqXHRData.length; i++) {
                    jqXHRData[i].submit();
                }
                return true;
            } else {
                return false;
            }
        });
        function initFileUpload() {
            $('#ImageUpload').fileupload({
                url: '/PeopleCenter/UploadPic/CenterPictrueUpload',
                dataType: 'json',
                add: function (e, data) {
                    jqXHRData.push(data);
                },
                done: function (event, data) {
                    if (data.result.isUploaded) {
                        //$("#ImageUpload").val(data.result.message);
                        $("#ImageUrl").val(data.result.message);
                        $("#ImgLook").attr("src", "@AppSettingsHelper.ImgUrl" + data.result.message);
                        $("#thumbnailImage").val(data.result.thumbnailmessage);
                    } else {
                        alert(data.result.message);
                    }
                },
                fail: function (event, data) {
                    if (data.files[0].error) {
                        alert(data.files[0].error);
                    }
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    //$('#progress .bar').css('width', progress + '%');
                }
            });
        }
    });
    //获取区域
    function getArea()
    {
        var AreasID = "";
        var AreasName="";
        if($('#allarea').is(':checked'))
        {
            AreasID="0";
            AreasName="全城";
        }else
        {
            $("input:checkbox[name='areaidList']:checked").each(function() {
                AreasID += $(this).val() + ",";
                AreasName+=$(this).next("input").val()+","
            });
        }
        $("input[name='AreasID']").val(AreasID);
        $("input[name='AreasName']").val(AreasName);
    }

    $("#userbutton").click(function () {
        getArea();
        var NickName = $("input[name=NickName]").val();
        var TrueName= $("input[name=TrueName]").val();
        var PeopleImage = $("input[name=PeopleImage]").val();
        var thumbnailImage = $("input[name=thumbnailImage]").val();
        var Email = $("input[name=Email]").val();
        var Sex = $("input[name=Sex]:checked").val();
        var CityID = $("#CityID").val();
        var CityName=$("#CityID  option:selected").text();
        var ProvinceID = $("#ProvinceID").val();
        var ProvinceName=$("#ProvinceID  option:selected").text();
        var AreasID= $("input[name=AreasID]").val();
        var AreasName=$("input[name=AreasName]").val();
        var PositionType=$("input[name=PositionType]").val();
        var PositionCode=$("input[name=PositionCode]").val();
        $.ajax({
            async: false,
            type: "post",
            url: "/PeopleCenter/UserCenter/UpdatePeople",
            data: {
                UserID:'@webuser.UserID',
                NickName:NickName,
                Email: Email,
                Sex: Sex,
                PeopleImage: PeopleImage,
                thumbnailImage: thumbnailImage,
                TrueName:TrueName,
                PeoplePhone:'@webuser.Telephone',
                CityID:CityID,
                CityName:CityName,
                ProvinceID:ProvinceID,
                ProvinceName:ProvinceName,
                AreasID:AreasID,
                AreasName:AreasName,
                PositionType:PositionType,
                PositionCode:PositionCode

            },
            success: function (data) {
                if (data == 1) {
                    alert("修改成功！");
                    window.location.href = window.location.href;
                }
                else {
                    alert("修改失败！");
                }
            },
            error: function (xhr, type) {
                alert('Ajax error!2');
            }
        });
    })
</script>