@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.Common.Utility;
@{
    Layout = "~/Views/Shared/_LayoutDecCompany.cshtml";
    string userAccount = SessionHelper.Get("userName");
    WebUserService webuserservice = new WebUserService();
    WebPeopleService webpeopleservice = new WebPeopleService();
    WebUser webuser = webuserservice.GetWebUserByAccount(userAccount);
    WebPeople webpeople = webpeopleservice.GetWebPeopleByUserID(webuser.UserID);
    WebWorkerService workerSer = new WebWorkerService();
    WebWorker webworker = workerSer.GetWebWorkerByUserID(webuser.UserID);
    WebBuidingService buidingSer = new WebBuidingService();
    //if (webpeopleservice.IsHaveuser(webuser.UserID))
    //{
    //    webpeople = webpeopleservice.GetWebPeopleByUserID(webuser.UserID);
    //}
}
<style>
    .wrap_1180 .new_top_bar, .wrap_1180 .index_logo, .wrap_1180 .top_menu, .wrap_1180 .content, .wrap_1180 .cppyright_content {
        width: 1180px;
    }
</style>
<link href="/content/meichen/css/basestyle.css" rel="stylesheet" type="text/css" />
<link href="/content/meichen/css/mc.css" rel="stylesheet" type="text/css" />
<link href="/content/meichen/css/user_center.css" rel="stylesheet" type="text/css" />
<link href="/content/meichen/css/font-awesome.min.css" rel="stylesheet" type="text/css" />


<link href="~/Content/Plugins/datatables/jquery.dataTables.css" rel="stylesheet" />

<link href="~/Content/meichen/css/bootstrap.css" rel="stylesheet" />
<script src="~/Content/Plugins/jQueryUI/jquery-ui.js"></script>
<script src="~/Content/Plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/Content/design/js/jquery.validate.min.js"></script>
<script src="~/Content/design/js/messages_zh.js"></script>

@RenderSection("head", required: false)

<div class="topper" style="display:none;">
    <div class="wrap cl">
        <div class="t-left">您好，欢迎来到脉空间官方网站</div>
        <div class="t-right">
            <ul class="cl">
                <li class="user-list">
                    <div class="top-user">
                        <a href="/PeopleCenter/UserCenter/PeopleCenterIndex">
                            <img src="@AppSettingsHelper.ImgUrl@webuser.thumbnailImage"><span>
                                @if (webuser.NickName == null || webuser.NickName == "")
                            { @webuser.UserName}
                            else
                            {@webuser.NickName }
                        </span><i class="fa fa-caret-down"></i>
                    </a>
                </div>
                <div class="pop-dwon">
                    <a href="/PeopleCenter/UserCenter/PeopleCenterIndex"><i class="fa fa-user-o"></i>个人主页</a>
                    <a href="#"><i class="fa fa-commenting-o"></i>我的消息</a>
                    <a href="#"><i class="fa fa-heart-o"></i>我的关注</a>
                    <a href="/PeopleCenter/CenterCases/CenterCaselist"><i class="fa fa-image"></i>我的作品</a>
                    <a href="/PeopleCenter/UserCenter/LoginOn" class="last"><i class="fa fa-power-off"></i>退出登录</a>
                </div>
            </li>
            <li><a href="/AboutUs/AboutUsDetail" target="_blank" onclick="sessionStorage.setItem('key', 'helpcenter');">帮助中心</a></li>
            <li><a href="/AboutUs/AboutUsDetail" target="_blank" onclick="sessionStorage.setItem('key', 'linkus');">联系我们</a></li>
        </ul>
    </div>
</div>
</div>
<script type="text/javascript">
    $(function () {


        var setTime;
        $(".user-list").hover(function () {
            var _this = $(this);
            setTime = setTimeout(function () {
                _this.addClass("hover");
                $(".top-user i").removeClass("fa-caret-down").addClass("fa-caret-up");
                $(".user-list .pop-dwon").slideDown(300);
            }, 300);
        }, function () {
            var _this = $(this);
            if (setTime) {
                clearTimeout(setTime);
            }
            $(".user-list .pop-dwon").hide();
            _this.removeClass("hover");
            $(".top-user i").removeClass("fa-caret-up").addClass("fa-caret-down");
        });
    });
</script>
<div class="user-header">
    <div class="u-main">
        <div class="u-logo">
            @if (webuser.PositionCode == "WebPeople")
            {
                <a href="/PeopleCenter/UserCenter/PeopleCenterIndex">设计师中心</a>
            }
            else if (webuser.PositionCode == "WebWorkerLeader")
            {
                <a href="/PeopleCenter/UserCenter/PeopleCenterIndex">工长中心</a>
            }
            else if (webuser.PositionCode == "WebWorker")
            {
                <a href="/PeopleCenter/UserCenter/PeopleCenterIndex">工人中心</a>
            }
            else
            {
                <a href="/PeopleCenter/UserCenter/PeopleCenterIndex">用户中心</a>
            }
        </div>
        <div class="menu">
            <a href="/index/HomeIndex" class="active">返回首页</a>
            @if (webuser.PositionCode == "WebPeople")
            {
                <a href="/Workers/DecDesignerIndex?peopleID=@SessionHelper.Get("PositionID")" class="active" target="_blank">查看我的主页</a>
            }
            else if (webuser.PositionCode == "WebWorkerLeader")
            {
                <a href="/Workers/DecWorkLeaderDetail?WorkerID=@SessionHelper.Get("PositionID")" class="active" target="_blank">查看我的主页</a>
            }
            else if (webuser.PositionCode == "WebWorker")
            {
                <a href="/Workers/DecWorkerDetail?WorkerID=@SessionHelper.Get("PositionID")" class="active" target="_blank">查看我的主页</a>
            }

            <a href="/PeopleCenter/CenterCases/AddandUpdateCenterCase?CaseID=0" class="upld upzp">上传案例</a>
            <a href="upload_needs.html" class="upld upxq" target="_blank" style="display:none;">发布需求</a>
        </div>
        <div class="xx-count" style="display:none;">
            <a href="u_works_list.html"><i class="fa fa-tags"></i>我的原创<em>12</em></a>
            <a href="u_works_list.html"><i class="fa fa-share"></i>我的转载<em>12</em></a>
            <a href="u_user_list.html"><i class="fa fa-user"></i>我的粉丝<em>12</em></a>
            <a href="u_xiaoxi_list.html"><i class="fa fa-commenting"></i>我的消息<em>12</em></a>
        </div>
    </div>
</div>

<div class="centers_m">
    <!--left-->
    <div class="centers_ml">
        <!--头像-->
        <div class="center_header">
            <a href="/PeopleCenter/UserCenter/PeopleCenterIndex"><img src="@AppSettingsHelper.ImgUrl@webuser.Img" /></a>
            <div class="u-name">
                您好，<span>
                    @if (webuser.NickName == null || webuser.NickName == "")
                { @webuser.UserName}
                else
                {@webuser.NickName }
            </span>
        </div>
        <div class="u-lx-dj">
            @{ 
                int stars = 0;
                if (webpeople != null)
                {
                    stars = webpeople.Stars;
                }
                if (webworker != null)
                {
                    stars = webworker.Stars;
                }
                }
            @if (webuser.PositionCode != "WebUser")
            {
                @:等级：
                for (int i = 1; i <= stars / 25; i++)
                {
                    <img src="~/Content/imgStar/jinguan.gif"/>
                }
                for (int i = 1; i <= stars % 25 / 5; i++)
                {
                 <img src="~/Content/imgStar/huangguan.gif" />
                }
                for (int i = 1; i <= stars % 5; i++)
                {
                 <img src="~/Content/imgStar/zuanshi.gif" />
                }
            } else
            {
                if (buidingSer.GetCompleteWebBuidingListByUserID(Convert.ToInt32(SessionHelper.Get("UserID"))).Count() > 0)
                {
                    @:VIP会员
                }
                else
                {
                    @:普通会员
                }
                
            }


        </div>
        <div class="u-qianming">@*<input type="text" placeholder="这个用户很懒，什么都没有写" />*@</div>
        <div class="u-area"><span>@webuser.ProvinceName</span>，<span>@webuser.CityName</span></div>
    </div>
    <div class="u-safe-btn">
        <a href="/PeopleCenter/UserCenter/PeopleDetail"><i class="fa fa-vcard"></i>个人资料</a>
        <a href="/PeopleCenter/UserCenter/UserCenterSafe"><i class="fa fa-get-pocket"></i>账户安全</a>
    </div>
    <div class="centers_listm">
        <div class="listbox">
            <div class="centers_listm_one_in"><i class="fa fa-wrench"></i><span>我的装修</span><b></b></div>
            <div class="gjszmdm">
                <a href="/PeopleCenter/CenterCases/BuidingStagesListByUser" class="center_in_self"><span>装修进度</span></a>
            </div>
        </div>
        <!--分类开始-->
        @if (webuser.PositionCode == "WebPeople")
        {
            <div class="listbox">
                <div class="centers_listm_one_in"><i class="fa fa-photo"></i><span>我的作品</span><b></b></div>
                <div class="gjszmdm">
                    <a href="/PeopleCenter/CenterCases/CenterCaselist" class="center_in_self"><span>设计案例</span></a>
                </div>
            </div>
        }
        else if (webuser.PositionCode == "WebWorkerLeader" || webuser.PositionCode == "WebWorker")
        {
            <div class="listbox">
                <div class="centers_listm_one_in"><i class="fa fa-building"></i><span>晒我家</span><b></b></div>
                <div class="gjszmdm">
                    <a href="/PeopleCenter/CenterCases/WorkerBuidingList" class="center_in_self"><span>装修案例</span></a>
                </div>
            </div>
            <div class="listbox">
                <div class="centers_listm_one_in"><i class="fa fa-file-text"></i><span>装修订单</span><b></b></div>
                <div class="gjszmdm">
                    <a href="/PeopleCenter/CenterCases/WorkerDemandList?UserID=@webuser.UserID" class="center_in_self"><span>我的订单</span></a>
                    <a href="/PeopleCenter/CenterCases/BuidingStagesList" class="center_in_self"><span>订单进度</span></a>
                </div>
            </div>
        }

        <div class="listbox">
            <div class="centers_listm_one_in"><i class="fa fa-reorder"></i><span>设计装修需求</span><b></b></div>
            <div class="gjszmdm">
                <a href="/PeopleCenter/CenterDemand/PeopleDemandList" class="center_in_self"><span>我的需求</span></a>
                @if (webuser.PositionCode != "WebUser")
                {
                    <a href="/PeopleCenter/CenterDemand/DemandListToMe" class="center_in_self"><span>业主需求</span></a>
                }
               
            </div>
        </div>
        @if (webuser.PositionCode != "WebUser")
        {
            <div class="listbox">
                <div class="centers_listm_one_in"><i class="fa fa-paper-plane"></i><span>资格认证</span><b></b></div>
                <div class="gjszmdm">
                    <a href="/PeopleCenter/Certification/Authentication" class="center_in_self"><span>身份认证</span></a>
                    <a href="/PeopleCenter/Certification/GuarantMoney" class="center_in_self"><span>申请缴纳质保金</span></a>
                    <a href="/PeopleCenter/Certification/CertificStatic" class="center_in_self"><span>审核状态</span></a>
                </div>
            </div>
        }

        <div class="listbox" style="display:none;">
            <div class="centers_listm_one_in"><i class="fa fa-commenting"></i><span>我的消息</span><b></b></div>
            <div class="gjszmdm">
                <a href="u_xiaoxi_list.html" class="center_in_self"><span>系统消息</span></a>
                <a href="u_xiaoxi_list.html" class="center_in_self"><span>用户留言</span></a>
            </div>
        </div>
        <div class="listbox">
            <div class="centers_listm_one_in"><i class="fa fa-puzzle-piece"></i><span>关注收藏</span><b></b></div>
            <div class="gjszmdm">
                <a href="u_user_list.html" class="center_in_self"><span>我的关注</span></a>
                <a href="u_works_list.html" class="center_in_self"><span>收藏的作品</span></a>
                <a href="u_works_list.html" class="center_in_self"><span>收藏的需求</span></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".centers_listm_one_in").click(function () {
            $(this).next(".gjszmdm").slideToggle().siblings("gjszmdm").slideUp()
            $(this).children("b").toggleClass("active")
        });
        var indexPeopleCenterLeft=$.session.get('PeopleCenterLeft');
        $(".center_in_self").eq(indexPeopleCenterLeft).attr("style", "background:#a1e6ff;");

        $('.center_in_self').click(function(){
            var index=$(".center_in_self").index($(this));
            sessionStorage.setItem('PeopleCenterLeft', index);

        });
    })
</script>

@RenderBody()

<div class="clearfiexd"></div>
</div>


@RenderSection("Scripts", required: false)
