@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.Common.Utility;
@{ 
    string userAccount = SessionHelper.Get("userName");

    WebUserService webuserservice = new WebUserService();
    WebPeopleService webpeopleservice = new WebPeopleService();
    WebUser webuser = webuserservice.GetWebUserByAccount(userAccount);
    WebPeople webpeople = new WebPeople();
    if (webpeopleservice.IsHaveuser(webuser.UserID))
    {
        webpeople = webpeopleservice.GetWebPeopleByUserID(webuser.UserID);
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>会员中心</title>
    <meta content="脉空间" name="keywords">
    <meta content="脉空间" name="description">
    <meta http-equiv="Cache-Control" content="max-age=180">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/content/meichen/css/basestyle.css" rel="stylesheet" type="text/css" />
    <link href="/content/meichen/css/mc.css" rel="stylesheet" type="text/css" />
    <link href="/content/meichen/css/user_center.css" rel="stylesheet" type="text/css" />
    @*<script src="/content/meichen/js/jquery-1.8.3.min.js"></script>*@
    <script src="~/Content/Plugins/jQuery/jQuery-2.2.0.min.js"></script>
    <script src="~/Content/Plugins/jQueryUI/jquery-ui.js"></script>
    <link href="/content/meichen/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <script src="~/Content/Scripts/jquery.pagination.js"></script>
    <script src="~/Content/Scripts/vue/vue.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <div class="topper">
        <div class="wrap cl">
            <div class="t-left">您好，欢迎来到脉空间官方网站</div>
            <div class="t-right">
                <ul class="cl">
                    <li class="user-list">
                        <div class="top-user"><a href="/PeopleCenter/UserCenter/PeopleCenterIndex"><img src="@AppSettingsHelper.ImgUrl@webpeople.thumbnailImage"><span>@if (webuser.NickName == null || webuser.NickName == "")
                        { @webuser.UserName}
                        else
                        {@webuser.NickName }</span><i class="fa fa-caret-down"></i></a></div>
                        <div class="pop-dwon">
                            <a href="/PeopleCenter/UserCenter/PeopleCenterIndex"><i class="fa fa-user-o"></i>个人主页</a>
                            <a href="#"><i class="fa fa-commenting-o"></i>我的消息</a>
                            <a href="#"><i class="fa fa-heart-o"></i>我的关注</a>
                            <a href="/PeopleCenter/CenterCases/CenterCaselist"><i class="fa fa-image"></i>我的作品</a>
                            <a href="/PeopleCenter/UserCenter/LoginOn" class="last"><i class="fa fa-power-off"></i>退出登录</a>
                        </div>
                    </li>
                    <li><a href="/AboutUs/AboutUsDetail" target="_blank"  onclick="sessionStorage.setItem('key', 'helpcenter');">帮助中心</a></li>
                    <li><a href="/AboutUs/AboutUsDetail" target="_blank" onclick="sessionStorage.setItem('key', 'linkus');">联系我们</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {


            var setTime;
            $(".user-list").hover(function () {
                var _this = $(this);
                setTime = setTimeout(function () {
                    _this.addClass("hover");
                    $(".top-user i").removeClass("fa-caret-down").addClass("fa-caret-up");
                    $(".user-list .pop-dwon").slideDown(300);
                }, 300);
            }, function () {
                var _this = $(this);
                if (setTime) {
                    clearTimeout(setTime);
                }
                $(".user-list .pop-dwon").hide();
                _this.removeClass("hover");
                $(".top-user i").removeClass("fa-caret-up").addClass("fa-caret-down");
            });
        });
    </script>
    <div class="user-header">
        <div class="u-main">
            <div class="u-logo"><a href="/PeopleCenter/UserCenter/PeopleCenterIndex"></a></div>
            <div class="menu">
                <a href="/index/homepage" class="active">返回首页</a>
                <a href="/PeopleCenter/CenterCases/AddandUpdateCenterCase?CaseID=0" class="upld upzp">上传案例</a>
                <a href="upload_needs.html" class="upld upxq" target="_blank"  style="display:none;">发布需求</a>
            </div>
            <div class="xx-count" style="display:none;">
                <a href="u_works_list.html"><i class="fa fa-tags"></i>我的原创<em>12</em></a>
                <a href="u_works_list.html"><i class="fa fa-share"></i>我的转载<em>12</em></a>
                <a href="u_user_list.html"><i class="fa fa-user"></i>我的粉丝<em>12</em></a>
                <a href="u_xiaoxi_list.html"><i class="fa fa-commenting"></i>我的消息<em>12</em></a>
            </div>
        </div>
    </div>

    <div class="centers_m">
        <!--left-->
        <div class="centers_ml">
            <!--头像-->
            <div class="center_header">
                <a href="/PeopleCenter/UserCenter/PeopleCenterIndex"><img src="@AppSettingsHelper.ImgUrl@webpeople.PeopleImage" /></a>
                <div class="u-name">您好，<span>@if (webuser.NickName == null || webuser.NickName == "")
                { @webuser.UserName}
                else {@webuser.NickName }</span></div>
                <div class="u-lx-dj"><span><i class="fa fa-mortar-board"></i></span><span class="vip-grade"><i class="fa fa-vimeo"></i><em>23</em></span></div>
                <div class="u-qianming">@*<input type="text" placeholder="这个用户很懒，什么都没有写" />*@</div>
                <div class="u-area"><span>石家庄</span>，<span>裕华区</span></div>
            </div>
            <div class="u-safe-btn">
                <a href="/PeopleCenter/UserCenter/PeopleDetail"><i class="fa fa-vcard"></i>个人资料</a>
                <a href="/PeopleCenter/UserCenter/UserCenterSafe"><i class="fa fa-get-pocket"></i>账户安全</a>
            </div>
            <div class="centers_listm">
                <!--分类开始-->
                <div class="listbox">
                    <div class="centers_listm_one_in"><i class="fa fa-photo"></i><span>我的作品</span><b></b></div>
                    <div class="gjszmdm">
                        <a href="/PeopleCenter/CenterCases/CenterCaselist" class="center_in_self"><span>我的案例</span></a>
                        @*<a href="u_works_list.html" class="center_in_self"><span>转载作品</span></a>
                        <a href="u_works_list.html" class="center_in_self"><span>审核中</span></a>*@
                    </div>
                </div>
                <div class="listbox">
                    <div class="centers_listm_one_in"><i class="fa fa-paper-plane"></i><span>我的需求</span><b></b></div>
                    <div class="gjszmdm">
                        <a href="/PeopleCenter/Certification/Authentication" class="center_in_self"><span>身份认证</span></a>
                        <a href="/PeopleCenter/Certification/GuarantMoney" class="center_in_self"><span>申请缴纳质保金</span></a>
                        <a href="/PeopleCenter/Certification/CertificStatic" class="center_in_self"><span>审核状态</span></a>
                    </div>
                </div>
                <div class="listbox"  style="display:none;">
                    <div class="centers_listm_one_in"><i class="fa fa-commenting"></i><span>我的消息</span><b></b></div>
                    <div class="gjszmdm">
                        <a href="u_xiaoxi_list.html" class="center_in_self"><span>系统消息</span></a>
                        <a href="u_xiaoxi_list.html" class="center_in_self"><span>用户留言</span></a>
                    </div>
                </div>
                <div class="listbox">
                    <div class="centers_listm_one_in"><i class="fa fa-puzzle-piece"></i><span>关注收藏</span><b></b></div>
                    <div class="gjszmdm">
                        <a href="u_user_list.html" class="center_in_self"><span>我的关注</span></a>
                        <a href="u_works_list.html" class="center_in_self"><span>收藏的作品</span></a>
                        <a href="u_works_list.html" class="center_in_self"><span>收藏的需求</span></a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $(".centers_listm_one_in").click(function () {
                    $(this).next(".gjszmdm").slideToggle().siblings("gjszmdm").slideUp()
                    $(this).children("b").toggleClass("active")
                });
            })
        </script>

        @RenderBody()

        <div class="clearfiexd"></div>
    </div>
    <div class="footer">
        <div class="ft-menu">
            <div class="wrap hide">
                <dl>
                    <dt><i class="fa fa-compass"></i>新手指南</dt>
                    <dd>
                        <a href="#">注册新用户</a>
                        <a href="#">设计入门</a>
                        <a href="#">设计机构入门</a>
                        <a href="#">规则中心</a>
                        <a href="#">会员须知</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-mortar-board"></i>设计师</dt>
                    <dd>
                        <a href="#">上传作品</a>
                        <a href="#">查看需求</a>
                        <a href="#">购买设计作品</a>
                        <a href="#">案例作品</a>
                        <a href="#">我的故事</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-institution"></i>设计机构</dt>
                    <dd>
                        <a href="#">投标赚钱</a>
                        <a href="#">发布作品</a>
                        <a href="#">赚钱利器</a>
                        <a href="#">大咖分享</a>
                        <a href="#">设计机构联盟</a>
                        <a href="#">美城商学院</a>
                        <a href="#">机构等级</a>
                    </dd>
                </dl>
                <dl>
                    <dt><i class="fa fa-get-pocket"></i>交易保障</dt>
                    <dd>
                        <a href="#">双倍赔付</a>
                        <a href="#">美城担保交易</a>
                        <a href="#">诚信管理中心</a>
                        <a href="#">曝光台</a>
                        <a href="#">信用查询</a>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="ft-cop">
            <p>Copyright 2005-2016 meicheng.com 版权所有 <a href="#">苏ICP备102002274-4号</a> 苏B2-200080005 不良信息举报电话：0527-88390110  邮箱：110@meicheng.com</p>
            <p><a href="#"><img src="/content/meichen/images/ft0.jpg"></a><a href="#"><img src="/content/meichen/images/ft1.jpg"></a><a href="#"><img src="/content/meichen/images/ft2.jpg"></a><a href="#"><img src="/content/meichen/images/ft3.jpg"></a><a href="#"><img src="/content/meichen/images/ft4.jpg"></a></p>
        </div>
    </div>
</body>
@RenderSection("Scripts", required: false)
</html>
