@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.Domain.Model
@model WebBuidingContract
@{
    ViewBag.Title = "BuidingContract";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
    string guid = Request["guid"];
    List<string> list = new List<string>();
    WebBuidingService buidingSer = new WebBuidingService();
    if (Model.thumbnailImage != "")
    {
        list = Model.thumbnailImage.Split('|').Where(c => c != "").ToList();
    }
    WebBuiding buiding = buidingSer.GetWebBuidingByGuID(guid);
}

<style>
    .container1 {
        width: 100%;
        height: 100%;
        overflow: auto;
        clear: both;
    }

    .z_photo {
        /*width: 5rem;*/
        height: 8rem;
        padding: 0.3rem;
        overflow: auto;
        clear: both;
        /*margin: 1rem auto;*/
        border: 1px solid #555;
    }

        .z_photo img {
            width: 3rem;
            height: 3rem;
        }

    .z_addImg {
        float: left;
        margin-right: 0.2rem;
    }

    .z_file {
        width: 1rem;
        height: 1rem;
        background: url(/Content/WorkerApp/MimageUpload/multiIimageUpload/z_add.png) no-repeat;
        background-size: 100% 100%;
        float: left;
        margin-right: 0.2rem;
    }

        .z_file input::-webkit-file-upload-button {
            width: 1rem;
            height: 1rem;
            border: none;
            position: absolute;
            outline: 0;
            opacity: 0;
        }

        .z_file input#file {
            display: block;
            width: auto;
            border: 0;
            vertical-align: middle;
        }
    /*遮罩层*/

    .z_mask {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
    }

    .z_alert {
        width: 3rem;
        height: 2rem;
        border-radius: .2rem;
        background: #fff;
        font-size: .24rem;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -1.5rem;
        margin-top: -2rem;
    }

        .z_alert p:nth-child(1) {
            line-height: 1.5rem;
        }

        .z_alert p:nth-child(2) span {
            display: inline-block;
            width: 49%;
            height: .5rem;
            line-height: .5rem;
            float: left;
            border-top: 1px solid #ddd;
        }

    .z_cancel {
        border-right: 1px solid #ddd;
    }
</style>
<script>
    var html = "<h1>上传装修合同</h1>";
    $("#header").append(html);
</script>
<link href="~/Content/mui-master/dist/css/mui.min.css" rel="stylesheet" />
<script src="~/Content/mui-master/dist/js/mui.js"></script>
<link href="~/Content/WorkerApp/css/buttoncss.css" rel="stylesheet" />
<div class="container" id="container">

    <div class="min-price">
        <div class="min-price-tit"><h2>上传装修合同</h2></div>
        
    </div>
    <input />

    <div class="min-price">
        <div class="min-price-tit"><h2>合同须知</h2></div>
        <div class="min-price-con">写点什么吧写点什么吧写点什么吧写点什么吧写点什么吧写点什么吧写点什么吧写点什么吧</div>
    </div>
    <div class="min-price">
        <div class="min-price-tit"><h2>合同下载</h2></div>
        <div class="min-price-con">下载</div>
    </div>
    <div class="min-price">
        <div class="min-price-tit"><h2>上传合同图片</h2></div>
        <input value="@Model.id" name="id" type="hidden" />
        <input value="@Model.imgcontract" name="imgcontract" type="hidden" />
        <input value="@Model.thumbnailImage" name="thumbnailImage" type="hidden" />
        <input value="@buiding.BuidingTitle" name="filename" type="hidden" />
        <!--    照片添加    -->
        <div class="z_photo">
            <div class="z_file">
                <input type="file" name="file" id="file" value="" accept="image/*" multiple onchange="imgChange('z_photo','z_file');" />

            </div>
            @if (list.Count > 0)
            {
                foreach (var item in list)
                {
                    <div class="z_addImg"><img src="@AppSettingsHelper.ImgUrl@item"></div>
                }

            }
        </div>

        <!--遮罩层-->
        <div class="z_mask">
            <!--弹出框-->
            <div class="z_alert">
                <p>确定要删除这张图片吗？</p>
                <p>
                    <span class="z_cancel">取消</span>
                    <span class="z_sure">确定</span>
                </p>
            </div>
        </div>
    </div>
         @if (Model.IsPass == 0)
         {
            <a href="javascript:updateConstract()" class="order" style="color:white;background-color:#413129">提交合同</a>
         }
         else if (Model.IsPass == 2)
         {
            <div class="min-price">
                <div class="min-price-tit"><h2>审核结果</h2></div>
                <div class="min-price-con" style="color:red; font-size:19px;">合同未通过审核</div>
            </div>
            <a href="javascript:updateConstract()" class="order" style="color:white;background-color:#413129">提交合同</a>
         }
         else
         {
            <div class="min-price">
                <div class="min-price-tit"><h2>审核结果</h2></div>
                <div class="min-price-con"  style="color:#009688;font-size:19px;">合同通过审核</div>
            </div>
         }

    <script>
			mui.init({
				swipeBack:true //启用右滑关闭功能
			});
			mui('.mui-switch').each(function() { //循环所有toggle
				/**
				 * toggle 事件监听
				 */
				this.addEventListener('toggle', function(event) {
					//event.detail.isActive 可直接获取当前状态
				    //this.parentNode.querySelector('span').innerText = '状态：' + (event.detail.isActive ? 'true' : 'false');
				    if (event.detail.isActive) {
				        $("input[name=IsComplete]").val(1);
				    } else
				    {
				        $("input[name=IsComplete]").val(0);
				    }
				});
			});
    </script>
    <script>
        //px转换为rem
        (function(doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function() {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);

        function imgChange(obj1, obj2) {
            $(".z_addImg").remove();
            //获取点击的文本框
            var file = document.getElementById("file");
            //存放图片的父级元素
            var imgContainer = document.getElementsByClassName(obj1)[0];
            //获取的图片文件
            var fileList = file.files;
            //文本框的父级元素
            var input = document.getElementsByClassName(obj2)[0];
            var imgArr = [];
            var ImgContent = "";
            var thumContent = "";
            //遍历获取到得图片文件
            for (var i = 0; i < fileList.length; i++) {

                var imgUrl = window.URL.createObjectURL(file.files[i]);
                imgArr.push(imgUrl);
                var img = document.createElement("img");
                img.setAttribute("src", imgArr[i]);
                var imgAdd = document.createElement("div");
                imgAdd.setAttribute("class", "z_addImg");
                imgAdd.appendChild(img);
                imgContainer.appendChild(imgAdd);

                var data = new FormData();
                data.append('file', file.files[i]);
                data.append("name", file.files[i].name);

                $.ajax({
                    type: "post",
                    url: "/MobileApp/upload/mPictrueUpload",
                    datatype: 'JSON',
                    fileElementId: 'file',
                    async: false,
                    // 告诉jQuery不要去处理发送的数据
                    processData: false,
                    // 告诉jQuery不要去设置Content-Type请求头
                    contentType: false,
                    cache: false,
                    traditional: true,
                    data: data,
                    success: function (data) {
                        if (data.isUploaded) {
                            ImgContent += data.message + "|";
                            thumContent += data.thumbnailmessage + "|";

                            //信息框
                        //    layer.open({
                        //        content: '您的申请已经成功提交，请等待对方回复！'
                        //      , btn: '我知道了'
                        //    });
                        //} else {
                        //    layer.open({
                        //        content: '您已经提交了合作申请，不能重复提交！'
                        //      , btn: '我知道了'
                        //    });

                        }
                    }

                });
            };

            $("input[name=imgcontract]").val(ImgContent);
            $("input[name=thumbnailImage]").val(thumContent);
            //imgRemove();
        };

        function imgRemove() {
            var imgList = document.getElementsByClassName("z_addImg");
            var mask = document.getElementsByClassName("z_mask")[0];
            var cancel = document.getElementsByClassName("z_cancel")[0];
            var sure = document.getElementsByClassName("z_sure")[0];
            for (var j = 0; j < imgList.length; j++) {
                imgList[j].index = j;
                imgList[j].onclick = function() {
                    var t = this;
                    mask.style.display = "block";
                    cancel.onclick = function() {
                        mask.style.display = "none";
                    };
                    sure.onclick = function() {
                        mask.style.display = "none";
                        t.style.display = "none";
                    };

                }
            };
        };

    </script>
    <script>

        function updateConstract()
        {
            //var IsComplete = $("input[name=IsComplete]").val()=="1"?true:false;
            var id = $("input[name=id]").val();
            var imgcontract = $("input[name=imgcontract]").val();
            var thumbnailImage = $("input[name=thumbnailImage]").val();
            var filename = $("input[name=filename]").val();
            $.ajax({
                type: "post",
                url: "/MobileApp/MobileComment/EditBuidingContract",
                data: {
                    id: id,
                    IsPass: '0',
                    Guid: '@guid',
                    filename:filename,
                    imgcontract: imgcontract,
                    thumbnailImage: thumbnailImage
                },
                success: function (data) {
                    if (data.RetCode == 1) {
                        //信息框
                        layer.open({
                            content: '发布成功！请等待审核。'
                          , btn: '我知道了'
                            , yes: function ()
                            {
                                self.location = document.referrer;
                            }
                        });
                    } else {
                        layer.open({
                            content: '发布失败！'
                          , btn: '我知道了'
                        });

                    }
                }

            });
        }
    </script>
</div>

