<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>脉空间</title>
    @Html.Partial("_headCssJs")
    @RenderSection("head", required: false)
</head>
<body style="position: relative;">
    <div class="wrap_1180">

        @Html.Partial("_LayoutDecTopBar")
        <!--主导航-->
        @RenderBody()
        <!--友情链接-->
        @Html.Partial("_LayoutDecFriendLink")
    </div>
    <!--版权等-->
    @Html.Partial("_LayoutDecCopyRight")
    <!--版权等 End-->
    @RenderSection("Scripts", required: false)
</body>
</html>
