@model AIYunNet.CMS.Domain.Model.DecDemand
@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.Domain.Model
@{
    ViewBag.Title = "Demanddetail";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    DecDemandAcceptService ser = new DecDemandAcceptService();
    DecDemandAccept acc = ser.GetAcceptByGuid(Model.Guid);
    WebCommonService commonService = new WebCommonService();
}

<div class="centers_mr">
    <div class="centers_r_items">
        <div class="upload-left">
            <form id="stageCaseForm">
                <div class="req-push-title">
                    <p class="req-name">
                        <i></i><span>需求详情</span>
                    </p>
                </div>
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label">小区名称</span></div>
                    @Html.HiddenFor(m => m.id)
                    @Html.HiddenFor(m => m.Guid)
                    <div class="tab-r">
                        @Model.buidingname
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label">需求类型</span></div>
                    <div class="tab-r">
                        @Model.DemandTypeName
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label"><i></i>所在城市</span></div>
                    <div class="tab-r">
                        @Model.ProvinceName &nbsp;&nbsp;&nbsp;@Model.CityName
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l">
                        <span class="form-box-label">装修面积</span>
                    </div>
                    <div class="tab-r">
                        @Model.buidingSpace m²
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l">
                        <span class="form-box-label">户型</span>
                    </div>
                    <div class="tab-r">
                        @Model.HouseType
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label">业主姓名</span></div>
                    <div class="tab-r">
                        @Model.ownername
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                @if (acc.IsAccept == 1)
                {
                    <div class="form-box-list">
                        <div class="tab-l"><span class="form-box-label">业主电话</span></div>
                        <div class="tab-r">
                            @Model.ownertel
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                }
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label">装修风格</span></div>
                    <div class="tab-r">
                        @Model.OneSentence
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l">
                        <span class="form-box-label">需求说明</span>
                    </div>
                    <div class="tab-r">
                        @Model.Info
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                @if (acc.IsAccept == 0)
                {
                    <div class="form-box-list">
                        <div class="tab-l">
                            <span class="form-box-label">是否接受</span>
                        </div>
                        <div class="tab-r set_div">
                            <input type="radio" name="IsAccept" value="1" />
                            <span class="set_l" style="padding-right:20px;">接受</span>
                            <input type="radio" name="IsAccept" value="2" />
                            <span class="set_l">拒绝</span>
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                }
                else if (acc.IsAccept == 1)
                {
                    <div class="form-box-list">
                        <div class="tab-l">
                            <span class="form-box-label">是否接受</span>
                        </div>
                        <div class="tab-r set_div" style="color:#03fc90">
                            已接受
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                }
                else
                {
                    <div class="form-box-list">
                        <div class="tab-l">
                            <span class="form-box-label">是否接受</span>
                        </div>
                        <div class="tab-r set_div" style="color:#ff0000">
                            已拒绝
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                }


                @if (acc.IsAccept == 0)
                {
                    <div class="form-box-list">                   
                        <a id="btnSubmit" class="btn-submit" href="javascript:void()">提交</a>               
                    </div>
                }

            </form>
        </div>
    </div>
</div>
@section Scripts{
    <script>

        $(function () {

            $("#btnSubmit").click(function () {
                var IsAccept = $("input[name='IsAccept']:checked").val();
                var DemandGuid = $("input[name='Guid']").val();
                $.ajax({
                    type: "post",
                    url: "/PeopleCenter/CenterDemand/updateIsAccept",
                    data: {
                        DemandGuid: DemandGuid,
                        IsAccept: IsAccept
                    },
                    success: function (data) {
                        if (data.RetCode == 1) {

                            layer.alert('信息已发送！', {
                                icon: 6, yes: function () {
                                    window.location.href = $.session.get('lasturl');
                                }
                            });
                            

                        }
                    }

                });
            });

        })

    </script>
}
