@model AIYunNet.CMS.Domain.Model.WebCompany
@using AIYunNet.CMS.BLL.IService;
@using AIYunNet.CMS.BLL.Service;
@using AIYunNet.CMS.Domain.Model;
@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "CompanyDetail";
    Layout = "~/Areas/WebChatApp/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Areas/WebChatApp/Views/AppCompanys/CompanyTitle.cshtml")
<div class="content">
    <div class="container features-page" style="margin-top: 0px!important;">
        <a href="/WebChatApp/AppCompanys/CompanyCaseList?companyID=@Model.CompanyID"><i class="fa fa-navicon"></i>         装修案例         <i class="fa fa-angle-right"></i></a>
        <a href="/WebChatApp/AppCompanys/CompanyDesignerList?companyID=@Model.CompanyID"><i class="fa fa-share-alt"></i>              设计团队        <i class="fa fa-angle-right"></i></a>
    </div>
    <div class="one-half-responsive">
        <div class="sliding-door">           
            <div class="sliding-door-bottom">
                <a href="#">
                    <em></em>
                    <strong>电话:</strong>
                    @Model.CompanyPhone
                </a>
            </div>
        </div>
        <div class="sliding-door-clear"></div>
    </div>
    
    <div class="one-half-responsive">
        <div class="sliding-door">       
            <div class="sliding-door-bottom">
                <a href="#">
                    <em></em>
                    <strong>地址:</strong>
                    @Model.CompanyAddress
                </a>
            </div>
        </div>
        <div class="sliding-door-clear"></div>
    </div>
    <div class="container">
        <div class="toggle-1">
            <a href="#" class="deploy-toggle-1 toggle-1-active">公司简介</a>
            <div class="toggle-content" style="overflow: hidden; display: block;">
                <p>
                    <img src="@AppSettingsHelper.thumbnailImage@Model.thumbnailImage" class="float-left" width="70" alt="img">
                    @Html.Raw(Model.CompanyInfo)
                </p>
            </div>
        </div>
    </div>
    <div class="decoration"></div>
    @*新闻部分*@
    @Html.Partial("~/Areas/WebChatApp/Views/AppRecommend/NewsRecommend.cshtml")
    @*推送部分*@
    @Html.Partial("~/Areas/WebChatApp/Views/AppRecommend/CompanyRecommend.cshtml")
</div>