@model AIYunNet.CMS.Domain.Model.WebBuiding
@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.BLL.Service
@{
    ViewBag.Title = "mBuidingDetail";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
    List<WebBuidingStages> stageslist = ViewBag.stageslist;
    DecDemand demand = ViewBag.demand;
    WebWorkerService workerSer = new WebWorkerService();
    WebBuidingCaseCommentService comSer = new WebBuidingCaseCommentService();
    WebBuidingCaseComment coment = comSer.GetWebBuidingCaseCommentByGuid(demand.Guid);
    //WebBuidingStages buidingstage = ViewBag.buidingstage as WebBuidingStages;
    WebBuidingContractService contractSer = new WebBuidingContractService();
    WebBuidingContract constract = contractSer.GetContractByGuid(demand.Guid);
    if (constract == null)
    {
        constract = new WebBuidingContract();
    }
}
<link href="~/Content/layui/css/layui.css" rel="stylesheet" />
<script>
    $(function () {
        $("title").html("@Model.BuidingTitle");
        //var html = "<h1>AU装修宝</h1>";
        //$("#header > .back").after(html);
    })
</script>
<div class="container" id="container">
    @*<div class="details-img"><img src="@AppSettingsHelper.ImgUrl@Model.BuidingImage"></div>*@
    <ul class="details-price clearfix">
        <li><em>@Model.Price</em>元<em style="margin-left:15px;">@Model.Space</em>平米</li>
        <li>开工日期：@Model.StartTime</li>
        <li>类&nbsp;&nbsp;&nbsp;&nbsp;型：@demand.DemandTypeName</li>
        <li>户&nbsp;&nbsp;&nbsp;&nbsp;型：@demand.HouseType</li>
    </ul>

    @*<div class="details-img"><img src="@AppSettingsHelper.ImgUrl@Model.BuidingImage"></div>
    <ul class="details-price clearfix">
        <li><em>@Model.Price</em>元<em style="margin-left:15px;">@Model.Space</em>平米</li>
        <li>类型：@ViewBag.demand.DemandTypeName</li>
    </ul>*@
    <div class="min-price">
        <div class="min-price-tit"><h2>做工详情</h2></div>
        <ul class="layui-timeline">
            <li class="layui-timeline-item">
                <i class="layui-icon layui-timeline-axis" style="background-color: #009688;color: #009688;"></i>

                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">签订合同</h3>
                    @if (constract.id == 0)
                    {
                        <p style="font-size: 20px;">合同未上传</p>
                    }
                    else
                    {
                        if (constract.IsPass == 0)
                        {
                            <p style="font-size: 20px;">合同审核中... ...</p>
                        }
                        else if (constract.IsPass == 2)
                        {
                            <p style="font-size: 20px;color:red;">合同未通过审核</p>
                        }
                        else
                        {
                            <p style="font-size: 20px;color:#009688;">合同通过审核</p>
                        }
                    }

                </div>
            </li>
            @foreach (WebBuidingStages item in stageslist)
            {
                <li class="layui-timeline-item">
                    @if (item.IsUserEnd == 1)
                    {
                        <i class="layui-icon layui-timeline-axis" style="background-color: #009688;color: #009688;"></i>
                    }
                    else if (item.IsUserEnd == 2)
                    {
                        <i class="layui-icon layui-timeline-axis" style="background-color: red;color: red;"></i>
                    }
                    else
                    {
                        if (item.IsComplete)
                        {
                            <i class="layui-icon layui-timeline-axis" style="background-color: #007aff;color: #007aff;"></i>
                        }
                        else
                        {
                            <i class="layui-icon layui-timeline-axis" style="background-color: #999999;color: #999999;"></i>
                        }
                    }
                    @*<i class="layui-icon layui-timeline-axis"></i>*@
                    <div class="layui-timeline-content layui-text">
                        <h3 class="layui-timeline-title">@item.StageName</h3>
                        @if (item.IsUserEnd == 1)
                        {
                            <p style="font-size: 20px;color:#009688;">该阶段项目业主验收通过</p>
                        }
                        else if (item.IsUserEnd == 2)
                        {
                            <p style="font-size: 20px;color:red;">该阶段项目业主验收未通过</p>
                        }
                        else
                        {
                            if (item.IsComplete)
                            {
                                <p style="font-size: 20px;color:#007aff;">该阶段项目已完成等待验收中... ...</p>
                            }
                            else
                            {
                                <p style="font-size: 20px;">该阶段项目未完成</p>
                            }
                        }

                        <p style="margin-top:10px;">@item.wordContent</p>
                        @{
                            List<string> img = new List<string>();
                            if (item.ImgContent != "" && item.ImgContent != null)
                            {
                                img = item.ImgContent.Split('|').Where(c => c != "").ToList();
                            }
                        }
                        <p style="margin-top:10px;">
                            @foreach (string ite in img)
                            {
                                <img src="@AppSettingsHelper.ImgUrl@ite" style="max-width:100%;margin-top:5px;">
                            }
                        </p>
                    </div>
                </li>
                            }
            <li class="layui-timeline-item">
                @if (Model.IsWorkerEnd == 1)
                {
                    <i class="layui-icon layui-timeline-axis" style="background-color: #007aff;color: #007aff;"></i>
                }
                else
                {
                    <i class="layui-icon layui-timeline-axis" style="background-color: #999999;color: #999999;"></i>
                }
                @*<i class="layui-icon layui-timeline-axis"></i>*@
                <div class="layui-timeline-content layui-text">
                    <h3 class="layui-timeline-title">项目竣工</h3>
                    @if (Model.IsWorkerEnd == 1)
                    {
                        <p style="font-size: 20px;color:#009688;">项目已完成</p>
                    }
                    else
                    {
                        <p style="font-size: 20px;">项目未完成</p>
                    }  
                    @if (Model.IsComment > 0)
                    {
                        string comstring = "好评";
                        if (coment.Score == 1)
                        {
                            comstring = "差评";
                        }
                        else if (coment.Score == 2)
                        {
                            comstring = "中评";
                        }

                        <p style="margin-top:5px;font-size: 16px;color: #333">业主评价：@comstring</p>
                        <p style="margin-top:5px;font-size: 16px;color: #333">评价详情：@coment.Comment</p>
                    }
                    @if (Model.IsUserEnd == 1)
                    {
                        <p style="margin-top:5px;font-size: 16px;">质保到期时间：@Model.QualityTime</p>
                        <p style="margin-top:5px;font-size: 16px;">质保电话：15727322586</p>
                    }                 
                </div>
            </li>
        </ul>
    </div>

</div>

