@model AIYunNet.CMS.Domain.Model.WebCaseImg
@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "AddOrEditWebCaseImg";
    Layout = "~/Areas/SysAdmin/Views/Shared/_SysAdminLayout.cshtml";
}

<<div class="box">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#caseInfoTab" data-toggle="tab">图片信息（不限制图片高度）</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="caseInfoTab">
            <div class="panel-body">
                @using (Ajax.BeginForm("AddOrEditWebCaseImg", new AjaxOptions { HttpMethod = "Post", OnSuccess = "afterAddOrEditWebCaseImg" }))
                {
                    <div class="innerLR">
                        <div class="form-horizontal">
                            <div class="form-group" style="display:none">
                                @Html.HiddenFor(m => m.imgID, new { id = "hidImgID" })
                            </div>
                            <div class="form-group">
                                <label for="DecType" class="col-sm-2 control-label">图库类型：</label>
                                <div class="col-sm-3">

                                    @Html.DropDownListFor(m => m.DecType, new SelectList(ViewBag.Case_DecType, "Value", "Text"), new { @class = "form-control", id = "DecType" })

                                </div>
                            </div>
                            <div class="form-group" id="jiazhuang">
                                <label for="ImgJzstyle" class="col-sm-2 control-label">风格筛选：</label>
                                <div class="col-sm-3">

                                    @Html.DropDownListFor(m => m.JzStyle, new SelectList(ViewBag.Case_style, "Value", "Text"), new { @class = "form-control", id = "Case_style" })

                                </div>
                                <label for="ImgJzspce" class="col-sm-2 control-label">家装空间：</label>
                                <div class="col-sm-3">

                                    @Html.DropDownListFor(m => m.JzSpace, new SelectList(ViewBag.Case_Img_Jzspace, "Value", "Text"), new { @class = "form-control", id = "Case_Img_Jzspace" })

                                </div>
                            </div>
                            <div class="form-group" id="gongzhuang" style="display:none;">
                                <label for="ImgGzspace" class="col-sm-2 control-label">工装空间：</label>
                                <div class="col-sm-3">

                                    @Html.DropDownListFor(m => m.GzStyle, new SelectList(ViewBag.Case_gz_style, "Value", "Text"), new { @class = "form-control", id = "Case_gz_style" })

                                </div>
                            </div>
                            <script>
                                $(function(){
                                    var DecType="@Model.DecType";
                                    if(DecType=="2")
                                    {
                                        $("#jiazhuang").hide();
                                        $("#gongzhuang").show();
                                    }
                                    $("#DecType").change(function(){
                                        DecType = $(this).val();
                                        if(DecType=="2")
                                        {
                                            $("#jiazhuang").hide();
                                            $("#gongzhuang").show();
                                        }else
                                        {
                                            $("#jiazhuang").show();
                                            $("#gongzhuang").hide();
                                        }
                                    });
                                })
                            </script>
                            <div class="form-group">
                                <label for="ImgTitle" class="col-sm-2 control-label">名称：</label>
                                <div class="col-sm-8">
                                    @Html.TextBoxFor(m => m.imgName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ImgTitle" class="col-sm-2 control-label">图片：</label>
                                <div class="col-sm-8">
                                   <img src="@Model.Img"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9" style="text-align:center">
                                    <button type="submit" class="btn btn-primary new_button_style">保存</button>
                                    <button type="reset" class="btn new_button_style">清空</button>
                                    <a href="/SysAdmin/ImageList/WebImageList" class="btn btn-primary new_button_style">返回</a>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function afterAddOrEditWebCaseImg(ret) {
            if (ret.RetCode == 1) {
                swal({
                    title: "添加成功",
                    text: "是否继续添加信息？",
                    type: "success",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "是, 继续",
                    cancelButtonText: "不, 返回",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function (isConfirm) {
                    if (isConfirm) {
                        window.location.href = window.location.href;
                    } else {
                       history.go(-1);
                    }
                });
            }
        }



    </script>
}

