@model AIYunNet.CMS.Domain.Model.DecDemand
@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.Domain.Model
@{
    ViewBag.Title = "TenderPersonList";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
    WebWorkerService wSer = new WebWorkerService();
}

<link href="~/Content/mui-master/dist/css/mui.min.css" rel="stylesheet" />
<link href="~/Content/WorkerApp/css/buttoncss.css" rel="stylesheet" />
<style>
    ul.order-cancel-list li:last-child {
        height: 2rem;
        line-height: 1rem;
        padding: 0.3rem 0.5rem;
        border-top: 0px solid #e5e5e5;
    }
</style>
<script>
    //var html = "<h1>我的订单</h1>";
    $("title").html("招标信息");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
</script>
<div class="container" id="container">

    <div class="order-confirm">
        <div class="order-num" style="border-left: 3px solid #413129;margin-bottom: 0.1rem;"><span class="fl">招标编号：<em>@Model.Guid</em></span><span class="fr state" style="display:none;">等待支付</span></div>
        <ul class="order-confirm-list clearfix order-cancel-list">
            <li><h2>装修类型</h2><span>@Model.DemandTypeName</span></li>
            <li><h2>所在城市</h2><span>@Model.ProvinceName  @Model.CityName</span></li>
            <li><h2>装修面积</h2><span>@Model.buidingSpace m²</span></li>
            <li><h2>户&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</h2><span>@Model.HouseType</span></li>
            <li><h2>小区地址</h2><span>@Model.buidingname</span></li>
            <li><h2>业主姓名</h2><span>@Model.ownername</span></li>
            <li><h2>装修风格</h2><span>@Model.OneSentence</span></li>
        </ul>
        <div class="min-price">
            <div class="min-price-tit" style="padding: 0.2rem 0;"><h2>做工详情</h2></div>
            <div style="padding-bottom: 16px;">
                @Model.Info
            </div>
        </div>
        <div class="order-num" style="border-left: 3px solid #413129;margin-top: 10px;margin-bottom: 0.1rem;"><span class="fl">投标记录<em></em></span><span class="fr state" style="display:none;">等待支付</span></div>
        <ul class="mui-table-view mui-table-view-chevron">
            @foreach (var item in ViewBag.list as List<DecTender>)
            {
                WebWorker worker = wSer.GetWebWorkerByUserID(item.UserID);
                <li class="mui-table-view-cell mui-media">
                    <a class="mui-navigate-right" href="/MobileApp/MobileUser/TenderDetailByUser?guid=@Model.Guid&userid=@worker.UserID&workerid=@worker.WorkerID">
                        <img class="mui-media-object mui-pull-left" src="@AppSettingsHelper.ImgUrl@worker.thumbnailImage">
                        <div class="mui-media-body" style="width:60%;float:left">
                            @item.perName
                            <p class="mui-ellipsis">装修等级：@worker.Stars 级</p>
                        </div>

                        @if (item.IsAccept == 1)
                        { <div class="mui-media-body" style="float:right;">
                            <p class="mui-ellipsis" style="color:#009688">被选中</p>
                        </div>
                        }

                    </a>
                </li>
            }

        </ul>

    </div>
    @*<a class="pay" href="/MobileApp/mOrder/TenderDetailByWorker?guid=@Model.Guid">我要投标</a>*@
    <!--order-confirm-end-->

</div>


