@using AIYunNet.CMS.Domain.Model;
@using AIYunNet.CMS.BLL.Service;
@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "WebBuidingConstractList";
    Layout = "~/Areas/SysAdmin/Views/Shared/_SysAdminLayout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h2>装修合同列表</h2>
    </div>
    <div class="box-body" id="userList">
        <table id="userListDt" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
                <tr class="header-style" role="row">
                    <th class="text-center">
                        <input id="chkAll" type="checkbox">
                    </th>
                    <th>合同编号</th>
                    <th>创建日期</th>
                    <th>小区地址</th>
                    <th>是否通过</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.list != null)
                {
                    foreach (WebBuidingContract item in ViewBag.list as List<WebBuidingContract>)
                    {
                        <tr>
                            <td><input class="chkCompany" type="checkbox" value="@item.id"></td>
                            <td>@item.Guid</td>
                            <td>@item.AddOn</td>
                            <td>@item.filename</td>
                            <td>
                                @if (item.IsPass == 0)
                                {
                                    @:<span style="color:black">未审核</span>                                    
                                }
                                else if (item.IsPass == 2)
                                {
                                    @:<span style="color:red">否</span>                                  
                                }
                                else
                                {
                                    @:<span style="color:#246708">是</span>
                                }
                            </td>
                            <td>
                                <a class="btn1 btn-stroke" href="/SysAdmin/AppWorker/updateWebBuidingConstract?guid=@item.Guid"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;
                                <a class="btn1 btn-stroke" href="javascript:deleteUser('@item.Guid')"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            sessionStorage.setItem('url', '@Request.Url.ToString()');


            $("#userListDt").DataTable({
                "language": {
                    "emptyTable": "<span style='color:#ef4136;'>没有数据<br></span>",
                    "info": "显示 _START_ 到 _END_ ，总共 _TOTAL_ 条记录",
                    "infoEmpty": "没有记录",
                    "infoFiltered": "",
                    "lengthMenu": "显示 _MENU_ 条记录",
                    "search": "搜索:",
                    "zeroRecords": "<span style='color:#ef4136;'>没有匹配记录</span>"
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "order": [[4, "desc"]]
            });
        })

        function deleteUser(guid) {

            swal({
                title: "你确定?",
                text: "你将删除这个记录!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "是, 删除!",
                cancelButtonText: "不，取消",
                closeOnConfirm: false
            },
	function () {
	    $.ajax({
	        type: "post",
	        url: "/SysAdmin/AppWorker/deleteContract",
	        data: { "guid": guid },
	        success: function (data) {
	            if (data.RetCode = 1) {
	                window.location.href = window.location.href;
	            }
	        }

	    });
	});
        }
    </script>

}

