@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.BLL.Service;
@{
    ViewBag.Title = "mWorkerList";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
    string AreasID = Request["AreasID"];
    string positionID = Request["positionID"];
    string mkjcitycode = Request["mkjcitycode"];
    string sorttype = Request["sorttype"] == null ? "0" : "1";
    string SortOrder = " Stars " + Request["SortOrder"] + ",";
    if (sorttype == "1")
    {
        SortOrder = " PriceName " + Request["SortOrder"] + ",";
    }

    string gongzhong = Request["gongzhong"]==null?"工种": Request["gongzhong"];
    string AreasName = Request["AreasName"] == null ? SessionHelper.GetSession("mkjcityname").ToString() : Request["AreasName"];
}
<link href="~/Content/mui-master/dist/css/mui.min.css" rel="stylesheet" />
<script src="~/Content/mui-master/dist/js/mui.js"></script>
<link href="~/Content/WorkerApp/css/class.css" rel="stylesheet" />
<script>
    $("title").html("工人列表");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
</script>
<style>
    .mui-scroll-wrapper {
    top: 135px;
}
    .mui-content {
    background-color: white;
}
        .jbsf-item {
    border-bottom: 3px solid #e5e5e5;
}
</style>
<div class="container" id="container">
    <div class="mui-indexed-list-search mui-input-row mui-search" style="margin-top: 3px;">
        <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索工人" style="margin-bottom: 3px;">
    </div>
    <!--下拉分类-->
    <div class="cate-nav">
        <!--分类栏目开始-->
        <div class="mall-cate-box">
            <ul class="mall-cate">
                <li class=""><a id="AreasName" href="javascript:void(0);" data-type="category">@AreasName</a></li>
                <li class=""><a href="javascript:void(0);" data-type="district">排序</a></li>
                @*<li class=""><a href="javascript:void(0);" data-type="sort">接单数</a></li>*@
                <li class=""><a id="gongzhong" href="javascript:void(0);" data-type="screen">@gongzhong</a></li>
            </ul>
        </div>
        <!--分类栏目结束-->
        <!--弹出下拉列表开始-->
        <div class="sortdrop-wrapper hide" data-type="category" style="display: none;">
            <div class="sort-wrapper">
                <div class="sort-view">
                    <div>
                        <section class="select"><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=全城&AreasID=0&positionID=@positionID&gongzhong=@gongzhong&SortOrder=@Request["SortOrder"]" data-main="category_emptyMenu"><span class="all">全城</span></a></section>
                        @foreach (var item in ViewBag.t_Arealist as List<t_Area>)
                        {
                            <section><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@item.area&AreasID=@item.areaID&positionID=@positionID&gongzhong=@gongzhong&SortOrder=@Request["SortOrder"]" data-main="category_emptyMenu"> <span class="news">@item.area</span></a></section>
                        }
                    </div>
                    <i class="m-down hide" style="display: none;"></i>
                </div>
            </div>
        </div>

        <div class="sortdrop-wrapper hide" data-type="district" style="display: none;">
            <div class="sort-wrapper">
                <div class="sort-view">
                    <div>
                        <section class="select"><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@AreasName&AreasID=@AreasID&positionID=@positionID&gongzhong=@gongzhong&SortOrder=desc"><span>等级从高到底</span></a></section>
                        <section><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@AreasName&AreasID=@AreasID&positionID=@positionID&gongzhong=@gongzhong&SortOrder=asc"><span>等级从低到高</span></a></section>
                        <section><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@AreasName&AreasID=@AreasID&positionID=@positionID&gongzhong=@gongzhong&SortOrder=desc&sorttype=1"><span>价格从高到底</span></a></section>
                        <section><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@AreasName&AreasID=@AreasID&positionID=@positionID&gongzhong=@gongzhong&SortOrder=asc&sorttype=1"><span>价格从低到高</span></a></section>
                    </div>
                    <i class="m-down hide" style="display: none;"></i>
                </div>
            </div>
        </div>

        @*<div class="sortdrop-wrapper hide" data-type="sort" style="display: none;">
            <div class="sort-wrapper">
                <div class="sort-view">
                    <div>
                        <section class="select"><a href="#"> <span>从高到底</span></a></section>
                        <section><a href="#"><span>从低到高</span></a></section>
                    </div>
                    <i class="m-down hide" style="display: none;"></i>
                </div>
            </div>
        </div>*@

        <div class="sortdrop-wrapper hide" data-type="screen" style="display: none;">
            <div class="sort-wrapper" id="filterPop">
                <div class="sort-view sort-screen">
                    <div>
                        <section class="select"><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@AreasName&AreasID=@AreasID&positionID=0&gongzhong=全部&SortOrder=@Request["SortOrder"]"><span>全部</span></a></section>
                        @foreach (var item in ViewBag.workerlist as List<WebLookup>)
                        {
                            <section><a href="/MobileApp/MobileWorker/mWorkerList?AreasName=@AreasName&AreasID=@AreasID&positionID=@item.Code&gongzhong=@item.Description&SortOrder=@Request["SortOrder"]"><span>@item.Description</span></a></section>
                        }
                    </div>
                    <i class="m-down hide" style="display: none;"></i>
                </div>
            </div>
        </div>
        <!--弹出下拉列表结束-->
    </div>
    <div class="pop-shade hide" style="display: none; height: 100%;"></div>
    <!--分类下拉列表js引入-->
    <script src="~/Content/WorkerApp/js/class/iscroll-5.1.2.min.js"></script>
    <script src="~/Content/WorkerApp/js/class/slideNav.min.js"></script>
    <!--分类下拉列表结束-->
    <!--内容列表-->
    <div class="jbsf-group mui-content mui-scroll-wrapper" id="refreshContainer">
        <div class="mui-scroll">
            <div class="mui-table-view mui-table-view-chevron">

            </div>
        </div>

    </div>
    <!--内容列表-->

</div>
<script type="text/javascript">

    (function () {

        //上拉加载下拉刷新
        mui.init({pullRefresh:{
            container: '#refreshContainer',
            up: {
                contentrefresh: '正在加载...',
                callback: pullupRefresh
            }
        }
        });
        //加载更多
        var pageSize = 10;//每页显示条数
        var counter = 1;//计数器
        var pageStart = 1;//开始数据条数
        var Flag=true;
        function cutStr(str) {
            if (str.length > 2) {
                return str.substring(0, 2) + "...";
            }
            return str;
        }
        data(pageStart, pageSize);
        function data(pageIndex, PageSize) {
            //业务
            var result = "";
            $.ajax({
                type: 'post',
                url: '/Handler/GetPageListAjax.ashx',
                async: false,
                dataType: "json",
                data: {
                    mkjcitycode: $("#mkjcitycode").val(),
                    pageIndex: pageIndex,
                    PageSize: PageSize,
                    AreasID: '@AreasID',
                    SortOrder:'@SortOrder',
                    positionID:'@positionID',
                    WorkerCategory: '装修工人',
                    methodname: "GetDecWorkList"
                },
                success: function (data) {
                    var datajson = data;
                    Flag = datajson.list == null || datajson.list == undefined || datajson.list == '';
                    //判断是否有返回值 当没有返回值的时候就为空，则代表没有更多数据了
                    console.log(Flag);
                    if(Flag==false){
                        counter++;
                    }
                    $.each(datajson.list, function (i, item) {
                        result += '<div class="jbsf-item">'
                            + '<a href="/MobileApp/MobileWorker/mWorkerDetail?workerid=' + item.WorkerID + '">'
                             + '<div class="jbsf-item-img" style="float: left;border-radius:8px;"><img src="@AppSettingsHelper.ImgUrl' + item.thumbnailImage + '"></div>'
                              + '<div class="jbsf-item-txt" style="float: left;">'
                              + '<h2>' + item.WorkerName + '</h2>'
                              + '<div class="order-total"><span class="work-type">等级：</span><span>';
                        for(var i=0;i<item.Huang;i++)
                        {
                            result += '<img src="/Content/imgStar/jinguan.gif" style="width:16px;height:16px;float: left;"/>';
                        }
                        for(var i=0;i<item.Ying;i++)
                        {
                            result += '<img src="/Content/imgStar/huangguan.gif" style="width:16px;height:16px;float: left;"/>';
                        }
                        for(var i=0;i<item.Xing;i++)
                        {
                            result += '<img src="/Content/imgStar/zuanshi.gif" style="width:16px;height:16px;float: left;"/>';
                        }
                        result += '</span></div>'
                              + '<div class="jbsf-details"><span class="work-type">' + item.WorkerPosition + '</span><span class="work-money" style="margin-left: 10px;">' + item.PriceName + '元</span><span class="work-ages" style="margin-left: 10px;">' + item.WorkYears + '</span><span class="worker-address" style="margin-left: 10px;" title="' + item.AreasName + '">' + cutStr(item.AreasName) + '</span></div>'
                              + '</div></a></div>';
                    });

                    jQuery(result).insertBefore('#refreshContainer .mui-scroll .mui-table-view');
                    //注意：此处属于异步获取DOM 在列表中的所有事件应放在此处，防止dom节点获取失败。
                    pageStart++;
                    mui('#refreshContainer').on('tap', 'a', function () {
                        window.top.location.href = this.href;
                    });
  
                }
            }
        );

        }
        /**
         * 上拉加载具体业务实现
         */
        function pullupRefresh() {
            setTimeout(function () {
                mui('#refreshContainer').pullRefresh().endPullupToRefresh((Flag)); //参数为true代表没有更多数据了。
                data(pageStart, pageSize);
            }, 200);
        }
    })();
    mui('body').on('click', 'a', function () {
        window.top.location.href = this.href;
    });

</script>