@using AIYunNet.CMS.BLL.Service;
@using AIYunNet.CMS.Domain.Model;
@using AIYunNet.CMS.Common.Utility;
@{
    ViewBag.Title = "BuidingContract";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
    WebRecommendService reSer = new WebRecommendService();
    //装修app轮播
    List<WebRecommend> listlubo = reSer.GetWebRecommendList(22);
    //装修app案例
    List<WebRecommend> listanli = reSer.GetWebRecommendList(23);
    //装修app新闻
    List<WebRecommend> listxinwen = reSer.GetWebRecommendList(24);
    //装修app攻略
    List<WebRecommend> listgonglue = reSer.GetWebRecommendList(25,4);
}
<script>
    $("title").html("首页");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
</script>
<style>
    .clearfix li {
        border-radius: 8px;
    }

    .ind-nav .more {
        background-color: white;
    }
</style>
<link href="~/Content/mui-master/dist/css/mui.min.css" rel="stylesheet" />
<style>
    .mui-slider .mui-slider-group .mui-slider-item {
        width: 48%;
        margin-left: 5px;
    }

    .ind-item h3.red {
        color: #413129;
    }
</style>

<div class="container" id="container">
    <div class="mui-indexed-list-search mui-input-row mui-search" style="margin-top: 3px;">
        <input type="search" class="mui-input-clear mui-indexed-list-search-input" placeholder="搜索" style="margin-bottom: 3px;">
    </div>
    @*<div class="header-bot-item">
            <em>铜陵</em>
            <h2>家帮网</h2>
            <span class="tel"></span>
        </div>*@

    <!--Banner-->
    <div class="banner" id="index-banner">
        <div class="banner-pics">
            <ul class="banner-pics-list OnSale-banner">
                @{int k = 0;}
                @foreach (var item in listlubo)
                {
                    if (k < 3)
                    {
                        <li><a href="@item.RecWechartUrl"><img src="@AppSettingsHelper.ImgUrl@item.RecommendImg" alt="" /></a></li>
                    }
                    k++;
                }
            </ul>
        </div>
        <ul class="banner-tit">
            <li class="on"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <script type="text/javascript">
        TouchSlide({
            slideCell: "#index-banner",
            titCell: ".banner-tit li",//开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
            mainCell: ".banner-pics-list",
            effect: "left",
            autoPlay: true,//自动播放
            //autoPage:true, //自动分页
        })
    </script>
    <!--banner-end-->
    <!--家居安装开始-->
    <div class="ind-nav ind-nav1">
        <div class="ind-tit">
            <h2>家居装修</h2>
        </div>
        <ul class="clearfix">
            <li style="background-color: white;border:2px solid #78664C;"><div><a href="/MobileApp/App/GJIndex"><i><img src="~/content/workerapp/updateimages/zgj.png"></i><em style="color:black;">装修管家</em></a></div></li>
            <li style="background-color: #91887E;"><div><a href="/MobileApp/MobileWorker/mWorkerLeaderList"><i><img src="/content/workerapp/updateimages/zgz1.png"></i><em>找工长</em></a></div></li>
            <li style="background-color: #564E48;"><div><a href="/MobileApp/MobileWorker/mWorkerList"><i><img src="/content/workerapp/updateimages/zgr.png"></i><em>找工人</em></a></div></li>
            <li style="background-color: #78664C;"><div><a href="floor-classification.html"><i><img src="/content/workerapp/updateimages/zgs.png"></i><em>找公司</em></a></div></li>
            <li style="background-color: #968D75;"><div><a href="floor-classification.html"><i><img src="/content/workerapp/updateimages/sjs.png"></i><em>设计师</em></a></div></li>
            <li style="background-color: #625138;"><div><a href="/MobileApp/App/TenderList"><i><img src="/content/workerapp/updateimages/tbdt.png"></i><em>招标大厅</em></a></div></li>
            <li style="background-color: #82705C;"><div><a href="/MobileApp/App/TenderList"><i><img src="/content/workerapp/updateimages/wx.png"></i><em>安装维修</em></a></div></li>
            <li style="background-color: #413129;"><div><a href="add-class.html"><i><img src="/content/workerapp/updateimages/ys.png"></i><em>搬家运输</em></a></div></li>
            <li style="background-color: white;"><div><a href="javascript:void(0)" class="more"><i><img src="/content/workerapp/images/more.png"></i><em style="color:black;">更多</em></a></div></li>
        </ul>

    </div>
    <!--家居安装结束-->
    <!--家居维修开始-->
    <div class="ind-nav ind-nav2" style="display:none;">
        <div class="ind-tit">
            <h2>家居维修</h2>
        </div>
        <ul class="clearfix">
            <li><div><a href="/MobileApp/MobileWorker/mWorkerLeaderList"><i><img src="/content/workerapp/images/jjwx.png"></i><em>寻找工长</em></a></div></li>
            <li><div><a href="/MobileApp/MobileWorker/mWorkerList"><i><img src="/content/workerapp/images/wywx.png"></i><em>寻找工人</em></a></div></li>
            <li><div><a href="repair-details.html"><i><img src="/content/workerapp/images/mbxf.png"></i><em>木板修复</em></a></div></li>
            <li><div><a href="repair-details.html"><i><img src="/content/workerapp/images/djwx.png"></i><em>灯具维修</em></a></div></li>
            <li><div><a href="repair-details.html"><i><img src="/content/workerapp/images/xsgdst.png"></i><em>下水管道疏通</em></a></div></li>
            <li><div><a href="add-class.html"><i><img src="/content/workerapp/images/xczx.png"></i><em>现场增项</em></a></div></li>
            <li><div><a href="javascript:void(0)" class="more"><i><img src="/content/workerapp/images/more.png"></i><em>更多</em></a></div></li>
        </ul>
    </div>
    <!--家居维修结束-->
    <!--新闻-->
    <style>
        .mui-slider-title {
    color: white;
    font-size: 22px;
    line-height: 46px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 46px;
    margin-bottom: 88px;
    text-align: center;
    text-indent: 12px;
    opacity: 0.5;
    background-color: #000;
}
    </style>
    <div class="ind-nav ind-nav3">
        <div class="ind-tit">
            <h2>案例赏析</h2>
        </div>

        <div id="slider" class="mui-slider">
            <div class="mui-slider-group mui-slider-loop">
                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
                @{ int i = 0;}
                @foreach (var item in listanli)
                {
                        if (i == 0)
                        {
                            <div class="mui-slider-item mui-slider-item-duplicate">
                                <a href="@item.RecWechartUrl">
                                    <img src="@AppSettingsHelper.ImgUrl@item.RecommendImg">
                                    <p class="mui-slider-title">@item.RecommendName</p>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="mui-slider-item">
                                <a href="@item.RecWechartUrl">
                                    <img src="@AppSettingsHelper.ImgUrl@item.RecommendImg">
                                    <p class="mui-slider-title">@item.RecommendName</p>
                                </a>
                            </div>
                        }                  
                    i++;
                }
                @{ int j = 0;}
                @foreach (var item in listanli)
                {
                    if (j < 2)
                    {
                        if (j == 1)
                        {
                            <div class="mui-slider-item mui-slider-item-duplicate">
                                <a href="@item.RecWechartUrl">
                                    <img src="@AppSettingsHelper.ImgUrl@item.RecommendImg">
                                    <p class="mui-slider-title">@item.RecommendName</p>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="mui-slider-item">
                                <a href="@item.RecWechartUrl">
                                    <img src="@AppSettingsHelper.ImgUrl@item.RecommendImg">
                                    <p class="mui-slider-title">@item.RecommendName</p>
                                </a>
                            </div>
                        }
                    }

                    j++;
                }
            </div>
            <div class="mui-slider-indicator mui-text-right" style="display:none;">
                <div class="mui-indicator mui-active"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
                <div class="mui-indicator"></div>
            </div>
        </div>

    </div>
    <!--新闻-->
    <div class="ind-nav ind-nav4" style="margin-top: 11px;">
        <div class="ind-tit" style="border-bottom: 1px solid #ededed;height: 2rem;">
            <h2 style="float:left;">装修攻略</h2>
            <div style="float:right;font-size: 14px;line-height: 2rem;margin-right: 8px;" onclick="topagegonglue('/MobileApp/App/gonglueList')">更多</div>
        </div>
        <div id="trip_list" style="width:100%;overflow:hidden;">
            <div class="am-tabs" data-am-tabs="">
                <div class="am-tabs-bd" style="touch-action: pan-y; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                    <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                        <ul style="height: auto;">
                            @foreach (var item in listgonglue)
                            {
                                <li class="view" style="width: 100%;height: auto;" onclick="topagegonglue('@item.RecWechartUrl')">
                                    <div class="pic">
                                        <img src="@AppSettingsHelper.ImgUrl@item.RecommendImg" />
                                        <div class="cont">
                                            <div class="num">
                                                <p style="font-size: 16px;">@item.RecommendName</p>
                                                <p sstyle="white-space: nowrap;">@StringHelper.StringTruncat(item.RecommendInfo, 50, "...")</p>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </li>
                            }
                            
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script>
        function topagegonglue(url)
        {
            window.location.href = url;
        }
    </script>
    <style>
                #trip_list .view .cont {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 15px 15px 5px 15px;
            background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.5));
            background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0,0,0,0)), color-stop(1,rgba(0,0,0,0.5)));
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.5)', GradientType='0');
        }
                #trip_list .view .pic .num {
            float: left;
        }
                #trip_list .view .pic .num p {
            color: white;
            font-size: 12px;
        }
                .am-tabs-bd .am-tab-panel * {
            -webkit-user-drag: none;
        }#trip_list .view .pic .num span {
            color: white;
            font-size: 14px;
            margin-right: 5px;
        }#trip_list .view {
            margin-bottom: 10px;
        }
         #trip_list .view .pic {
            position: relative;
            width: 100%;
            height: 150px;
            overflow: hidden;
        }
    </style>
    <!--二手置换 货运配送开始-->
    <div class="ind-nav ind-nav5" style="margin-top: 11px;">
        <div class="ind-tit" style="border-bottom: 1px solid #ededed;height: 2rem;">
            <h2 style="float:left;">装修新闻</h2>
            <div style="float:right;font-size: 14px;line-height: 2rem;margin-right: 8px;" onclick="topagegonglue('/MobileApp/App/gonglueList')">更多</div>
        </div>
        <div class="swiper-container favor-list">

            @foreach (var item in listxinwen)
            {
                <a href="@item.RecWechartUrl">
                    <dl>
                        <dt>
                            <img src="@AppSettingsHelper.ImgUrl@item.RecommendImg" style="height:120px;width:160px;" />
                            @*<span></span>*@
                        </dt>
                        <dd>
                            <h2>@item.RecommendName</h2>
                            <p>@StringHelper.StringTruncat(item.RecommendInfo, 30, "...")</p>

                        </dd>
                    </dl>
                </a>
            }

        </div>

    </div>
    <!--二手置换 货运配送结束-->
    <style>
                .swiper-slide {
            -webkit-flex-shrink: 0;
            -ms-flex: 0 0 auto;
            flex-shrink: 0;
            width: 100%;
            height: 100%;
            position: relative;
        }
                .favor-list a {
            display: block;
            width: 100%;
        }
                a {
            text-decoration: none;
        }
                html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, address, cite, del, em, img, q, u, i, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td, caption, tbody, tfoot, thead, article, aside, details, summary, figure, figcaption, footer, header, menu, nav, section, audio, input, select, textarea {
            margin: 0;
            padding: 0;
            border: 0;
        }
                .favor-list a:first-child dl {
            border-top: 1px solid #e1e1e1;
        }.favor-list dl {
            overflow: hidden;
            padding: 0.5rem;
            border-bottom: 1px solid #e1e1e1;
            background-color: #fff;
        }.favor-list dt {
            width: 45%;
            position: relative;
        }.favor-list dt, .favor-list dd {
            float: left;
        }img {
            width: 100%;
            display: block;
        }.favor-list dt span {
            display: block;
            width: 0.92rem;
            height: 0.92rem;
            background-color: #fd3d3d;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            position: absolute;
            top: -0.5rem;
            right: -0.5rem;
        }.favor-list dd {
            width: 48%;
            margin-left: 0.8rem;
            line-height: 100%;
        }.favor-list dd h2 {
             line-height:2;
            font-weight: normal;
            font-size: 17px;
            color: #333;
        }.favor-list dd p {
            font-size: 14px;
            color: #666;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            /*white-space: nowrap;*/
            margin: 0;
        }.favor-list dd small {
            color: #9c9c9c;
            font-size: 0.6rem;
            display: block;
        }
    </style>
</div>
<script src="~/Content/mui-master/examples/hello-mui/js/mui.min.js"></script>
<script>
    mui.init({
        swipeBack: true //启用右滑关闭功能
    });
    var slider = mui("#slider");
    document.getElementById("switch").addEventListener('toggle', function (e) {

        slider.slider({
            interval: 0
        });

    });
</script>
