@model AIYunNet.CMS.Domain.Model.WebBuiding
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.Domain.Model;
@{
    ViewBag.Title = "AddBuidingStages";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    string[] stagesIDArr = null;
    string[] stagesTextArr = null;
    if (Model != null && !string.IsNullOrWhiteSpace(Model.constructionstageID))
    {
        stagesIDArr = Model.constructionstageID.Split(',');
        stagesTextArr = Model.constructionstage.TrimEnd(',').Split(',');
    }
    IEnumerable<SelectListItem> workPositionList = ViewBag.workPositionList as IEnumerable<SelectListItem>;
    int DemandID = Convert.ToInt32(Request["DemandID"]);
    DemandService DeSer = new DemandService();
    DecDemand demand = DeSer.GetDecDemandByID(DemandID);
    string Guid = Request["Guid"];
    int UserID = Request["UserID"] == null ? 0 : Convert.ToInt32(Request["UserID"].ToString());
}
@section head{
    <link href="~/Content/Plugins/wangEditor/css/wangEditor.css" rel="stylesheet" />
<link href="~/Content/Plugins/datepicker/datepicker3.css" rel="stylesheet" />
<style>
    .error {
        color: red;
    }

    #stageCaseForm textarea, input {
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    #stageCaseForm .set_div > input {
        width: 10%;
        height: 40px;
    }

    #stageCaseForm .set_l {
        margin-right: 10px;
        margin-left: 10px;
    }

    #stageCaseForm .div_workstage span {
        padding: 10px;
    }

    #stageCaseForm .div_workstage input {
        width: 20px;
        height: 20px;
        display: inline;
        margin-right: 5px;
    }
</style>
}

<div class="centers_mr">
    <div class="centers_r_items">
        <div class="upload-left">
            <form id="stageCaseForm">
                @Html.HiddenFor(m => m.BuidingID)
                <div class="req-push-title"><p class="req-name"><i></i><span>填写工程计划</span></p></div>

                @if (DemandID == 0)
                {   <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label"><i>*</i>小区名称(工程标题)</span></div>
                    <div class="tab-r">
                        <input id="BuidingTitle" name="BuidingTitle" value="@Model.BuidingTitle" type="text" class="u-ipt-txt" style="width:30%" />
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label"><i>*</i>简单介绍</span></div>
                    <div class="tab-r">
                        @Html.TextAreaFor(m => m.BuidingBrief, new { row = "4", col = "10", style = "width:80%", })
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                    <div class="form-box-list">
                        <div class="tab-l">
                            <span class="form-box-label"><i>*</i>详细介绍</span>
                        </div>
                        <div class="tab-r">
                            @Html.TextAreaFor(m => m.BuidingInfo, new { row = "4", col = "10", style = "height:400px;width:80%", })
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                }
                else
                {
                    <div class="form-box-list">
                        <div class="tab-l"><span class="form-box-label"><i>*</i>小区名称(工程标题)</span></div>
                        <div class="tab-r">
                            <input id="BuidingTitle" name="BuidingTitle" value="@demand.buidingname" type="text" class="u-ipt-txt" readonly="readonly" style="width:30%" /><label style="color:red;">此标题为业主小区名称不能修改</label>
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                    <div class="form-box-list">
                        <div class="tab-l">
                            <span class="form-box-label">阶段设置(<span style="color:#ff0000">最多设置6个</span>)</span>
                        </div>
                        <div class="tab-r div_workstage">
                            @if (workPositionList != null && workPositionList.Count() > 0)
                            {
                                foreach (SelectListItem item in workPositionList)
                                {
                                    <span>
                                        @if (stagesIDArr != null && stagesIDArr.Contains(item.Value))
                                        {
                                            <input type="checkbox" name="workPosition" checked="checked" value="@item.Value" data-text="@item.Text" />@item.Text
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="workPosition" value="@item.Value" data-text="@item.Text" />@item.Text
                                        }
                                    </span>
                                }
                            }
                            <input id="selectedStagesCode" type="hidden" value="@Model.constructionstageID" />
                            <input id="selectedStagesText" type="hidden" value="@Model.constructionstage" />
                            <div id="selectedStages">
                                @if (stagesTextArr != null)
                                {
                                    foreach (string t in stagesTextArr)
                                    {
                                        <span style="background-color:#a1e6ff;margin-right:5px;">@t</span><i class="fa fa-long-arrow-right fa-2x" style="color:Highlight;"></i>
                                    }
                                }
                            </div>
                        </div>
                        <div class="clearfiexd"></div>
                    </div>
                }
                <div class="form-box-list">
                    <div class="tab-l">
                        <span class="form-box-label"><i>*</i>项目情况</span>
                    </div>
                    <div class="tab-r">
                        <span class="set_l">价格</span>
                        @Html.TextBoxFor(m => m.Price, new { style = "width:5%", @class = "u-ipt-txt" }) 元
                        <span class="set_l">面积</span>
                        @Html.TextBoxFor(m => m.Space, new { style = "width:5%", @class = "u-ipt-txt" }) m²
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l">
                        <span class="form-box-label">施工开始时间</span>
                    </div>
                    <div class="tab-r">
                        <input type="text" id="datetimepicker" style="width:120px;" class="u-ipt-txt" name="StartTime" value="@Model.StartTime">
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <div class="tab-l"><span class="form-box-label"><i>*</i>上传封面</span></div>
                    <div class="tab-r">
                        <div class="upimg">
                            @if (string.IsNullOrWhiteSpace(Model.thumbnailImage))
                            {
                                <img src="" id="ImgLook" style="width:380px;height:280px;">
                            }
                            else
                            {
                                <img src="@AppSettingsHelper.ImgUrl@Model.thumbnailImage" id="ImgLook" style="width:380px;height:280px;">
                            }
                            <input class="btn btn-default" style="width:100px;margin-left:10px;" type='button' value='选择图片' onclick='javascript: $("#ImageUpload").click();' />
                            <input type="file" name="ImageUpload" id="ImageUpload" multiple style="display:none;" />
                            <a class="btn btn-primary" style="color:#fff" href="javascript:void(0);" id="BtnUpload">上传图片</a>
                            <span class="form-sm" style="display:block">尺寸大小380px*280px图片大小不超过300K</span>
                        </div>
                    </div>
                    <input type="hidden" name="CaseImageBig" value="@Model.BuidingImage" id="ImageUrl" />
                    <input type="hidden" name="thumbnailImage" value="@Model.thumbnailImage" id="thumbnailImage" />
                    <div class="clearfiexd"></div>
                </div>

                <div class="form-box-list">
                    <div class="tab-l">
                        <span class="form-box-label">设置</span>
                    </div>
                    <div class="tab-r">
                        <span class="set_l">显示顺序</span>
                        @Html.TextBoxFor(m => m.ShowOrder, new { style = "width:5%", @class = "u-ipt-txt" })
                        <span class="set_l" style="display:none;">热门推荐</span>
                        @Html.CheckBoxFor(m => m.IsHot, new { style = "display:none;" })
                        <span class="set_l">置顶显示</span>
                        @Html.CheckBoxFor(m => m.IsTop, new { style = "width:20px;height:20px;" })
                    </div>
                    <div class="clearfiexd"></div>
                </div>
                <div class="form-box-list">
                    <a id="btnSubmit" class="btn-submit" href="javascript:void()">提交发布</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/Plugins/webupload/jQueryfileupload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/Plugins/webupload/jQueryfileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.fileupload.js"></script>
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.fileupload-ui.js"></script>
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.iframe-transport.js"></script>
    <script src="~/Content/Plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Content/Plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<script src="~/Content/Plugins/wangEditor/js/wangEditor.js"></script>
    <script>
        $(function () {
            $("#datetimepicker").datepicker({
                language: "zh-CN",
                autoclose: true,//选中之后自动隐藏日期选择框
                clearBtn: true,//清除按钮
                //todayBtn: true,//今日按钮
                todayHighlight: true,
                format: "yyyy-mm-dd"//日期格式
            });
        });

        $(function () {
            var selectedStages = [];
            var existedIDs = $("#selectedStagesCode").val();
            var existedTexts = $("#selectedStagesText").val();
            if (existedIDs) {
                var existedIDArr = existedIDs.substring(0, existedIDs.length - 1).split(',');
                var existedTextArr = existedTexts.substring(0, existedTexts.length - 1).split(',');
                for (var i = 0; i < existedIDArr.length; i++) {
                    selectedStages.push({ "code": existedIDArr[i], "text": existedTextArr[i] });
                }
            }

            $("input[name=workPosition]").click(function () {
                var chk = $(this);
                if (chk.prop("checked")) {

                        selectedStages.push({ "code": chk.val(), "text": chk.data("text") });
                        if (selectedStages.length > 6)
                        {
                            layer.alert('装修阶段不能多于六个！', { icon: 5 });
                            var code = chk.val();
                            var index = selectedStages.findIndex(function (item) {
                                return item.code == code;
                            });
                            selectedStages.splice(index, 1);
                            return false;
                        }
                } else {
                    var code = chk.val();
                    var index = selectedStages.findIndex(function (item) {
                        return item.code == code;
                    });
                    selectedStages.splice(index, 1);
                }
                var html = '';
                var codestr = '';
                var cdoeText = '';
                for (var i = 0; i < selectedStages.length; i++) {
                    codestr += selectedStages[i].code + ',';
                    cdoeText += selectedStages[i].text + ',';
                    html += '<span style="background-color:#a1e6ff;margin-right:5px;">' + selectedStages[i].text + '</span><i class="fa fa-long-arrow-right fa-2x" style="color:Highlight;"></i>';
                }
                $("#selectedStagesText").val(cdoeText);
                $("#selectedStagesCode").val(codestr);
                $("#selectedStages").html(html);
            });
            //表单验证
            var isValidate = $("#stageCaseForm").validate({
                rules: {
                    BuidingTitle: "required",
                    BuidingBrief: "required",
                    BuidingInfo: "required",
                    Price: {
                        required: true,
                        number: true
                    },
                    Space: {
                        required: true,
                        number: true
                    }
                },
                messages: {
                    BuidingBrief: "此处不能为空",
                    BuidingBrief: "此处不能为空",
                    Price: {
                        required: "此字段不能为空",
                        number: "必须输入数字"
                    },
                    Space: {
                        required: "此字段不能为空",
                        number: "必须输入数字"
                    }
                }
            });
            $("#btnSubmit").click(function () {
                if (!isValidate.checkForm()) {
                    isValidate.showErrors();
                    return false;
                }
                var BuidingTitle = $("#BuidingTitle").val();
                var BuidingID = $("#BuidingID").val();
                var BuidingBrief = $("#BuidingBrief").val();
                var BuidingInfo = $("#BuidingInfo").val();
                var Price = $("#Price").val();
                var Space = $("#Space").val();
                var selectedStagesCode = $("#selectedStagesCode").val();
                var selectedStagesText = $("#selectedStagesText").val();
                var ShowOrder = $("#ShowOrder").val();
                var IsHot = $("#IsHot").prop("checked") ? true : false;
                var IsTop = $("#IsTop").prop("checked") ? true : false;
                var BuidingImage = $("#ImageUrl").val();
                var thumbnailImage = $("#thumbnailImage").val();
                var StartTime = $("#datetimepicker").val();
                $.ajax({
                    type: "post",
                    url: "/PeopleCenter/CenterCases/AddOrEditBuidingStages",
                    data: {
                        Guid: '@Guid',
                        UserID: '@UserID',
                        BuidingID: BuidingID,
                        BuidingTitle: BuidingTitle,
                        BuidingBrief: BuidingBrief,
                        BuidingInfo: BuidingInfo,
                        Price: Price,
                        Space: Space,
                        ConstructionstageID: selectedStagesCode,
                        Constructionstage: selectedStagesText,
                        ShowOrder: ShowOrder,
                        IsHot: IsHot,
                        IsTop: IsTop,
                        BuidingImage: BuidingImage,
                        thumbnailImage: thumbnailImage,
                        StartTime: StartTime,
                        DemandID: "@DemandID"
                    },
                    success: function (data) {
                        if (data.RetCode == 1) {
                            if (BuidingID > 0) {
                                layer.alert('修改成功', { icon: 6 }, function (index) {
                                    window.location.href = window.location.href
                                });
                            } else {
                                layer.alert('添加成功', { icon: 6 }, function (index) {
                                    window.location.href = $.session.get('lasturl');
                                });
                            }

                        }
                    }

                });
            });

            InitUploadPlugin();

        })

        function InitUploadPlugin() {
            var jqXHRData = new Array();
            initFileUpload();
            $('#BtnUpload').on('click', function () {
                if (jqXHRData.length > 0) {
                    for (var i = 0; i < jqXHRData.length; i++) {
                        jqXHRData[i].submit();
                    }
                    return true;
                } else {
                    return false;
                }
            });

            function initFileUpload() {
                $('#ImageUpload').fileupload({
                    url: '/PeopleCenter/UploadPic/CenterPictrueUpload',
                    dataType: 'json',
                    add: function (e, data) {
                        jqXHRData.push(data);
                    },
                    done: function (event, data) {
                        if (data.result.isUploaded) {
                            //$("#ImageUpload").val(data.result.message);
                            $("#ImageUrl").val(data.result.message);
                            $("#ImgLook").attr("src", "@AppSettingsHelper.ImgUrl" + data.result.message);
                            $("#thumbnailImage").val(data.result.thumbnailmessage);
                        } else {
                            alert(data.result.message);
                        }
                    },
                    fail: function (event, data) {
                        if (data.files[0].error) {
                            alert(data.files[0].error);
                        }
                    },
                    progressall: function (e, data) {
                        var progress = parseInt(data.loaded / data.total * 100, 10);
                        //$('#progress .bar').css('width', progress + '%');
                    }
                });
            }
        }

        $(function () {
            var editor = new wangEditor('BuidingInfo');

            // 上传图片
            editor.config.uploadImgUrl = '/SysAdmin/FileUpload/UploadFileForEditor';

            // 配置自定义参数
            editor.config.uploadParams = {
                token: 'abcdefg',
                user: 'wangfupeng1988'
            };
            // 设置 headers
            editor.config.uploadHeaders = {
                'Accept': 'text/x-json'
            };
            editor.create();
     
        })
    </script>
}

