@using AIYunNet.CMS.Domain.Model

@model List<WebBuiding>
@{
    ViewBag.Title = "BuidingStagesList";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    List<string> list = new List<string>();
    List<string> listid = new List<string>();
}
@section head{
    <style>
        #stageContent input, select {
            border: solid 1px #808080;
        }

        #stageContent #addStageBtn {
            background: #ff6900;
            width: 140px;
            border: solid 1px #ff6900;
        }

        .public_m5 table tbody tr th {
            background: #fff;
        }
    </style>
}
<div class="centers_mr" id="stageContent">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active" style="width: 99px;">订单进度管理</a>
        </div>
        <div class="items-con">
            <div class="public_m1 u-xiaoxi">
                <div class="public_m5">
                    <table border="0" cellspacing="0" cellpadding="0" id="stageCaseTable">
                        <thead>
                            <tr style="border-bottom:1px solid #000">
                                <th>查看详情</th>
                                <th>开始时间</th>
                                <th width="10%">阶段1</th>
                                <th width="10%">阶段2</th>
                                <th width="10%">阶段3</th>
                                <th width="10%">阶段4</th>
                                <th width="10%">阶段5</th>
                                <th width="10%">阶段6</th>
                                <th width="10%">业主验收</th>
                                <th>操作</th>
                                @*<th>是否完工</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (WebBuiding buiding in Model)
                                {
                                    list = buiding.constructionstage.Split(',').Where(c => c != "").ToList<string>();
                                    listid = buiding.constructionstageID.Split(',').Where(c => c != "").ToList<string>();
                                    int lastindex = list.Count - 1;
                                    <tr>
                                        <th><a href="/Workers/DecBuidingDetail?WorkerID=@buiding.WorkerID&BuidingID=@buiding.BuidingID" target="_blank">@buiding.BuidingTitle</a></th>
                                        <th>@buiding.StartTime</th>
                                        @for (int i = 0; i < 6; i++)
                                        {
                                            if (i < list.Count)
                                            {
                                                if (i == list.Count - 1 || i == 5)
                                                {
                                                    if (buiding.StageNow == i)
                                                    {
                                                        <th><a href="javascript:updateStagesInfo(@buiding.BuidingID,@listid[i])" style="background-color:#A1E700;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a></th>
                                                    }
                                                    else
                                                    {
                                                        <th><a href="javascript:updateStagesInfo(@buiding.BuidingID,@listid[i])" style="background-color:#a1e6ff;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a></th>
                                                    }
                                                }
                                                else
                                                {
                                                    if (buiding.StageNow == i)
                                                    {
                                                        <th><a href="javascript:updateStagesInfo(@buiding.BuidingID,@listid[i])" style="background-color:#A1E700;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a></th>
                                                    }
                                                    else
                                                    {
                                                        <th><a href="javascript:updateStagesInfo(@buiding.BuidingID,@listid[i])" style="background-color:#a1e6ff;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a></th>
                                                    }
                                                }

                                            }
                                            else
                                            {
                                                <th></th>
                                            }
                                        }

                                        @if (buiding.IsUserEnd == 1)
                                        {
                                            <th style="color:#009688;">合格</th>
                                        }
                                        else if (buiding.IsUserEnd == 2)
                                        {
                                            <th style="color:#ff0000;">不合格</th>
                                        }
                                        else
                                        {
                                            <th>等待验收</th>
                                        }
                                        @if (buiding.IsWorkerEnd == 1)
                                        {
                                            <th style="color:#009688;">项目竣工</th>
                                        }
                                        else
                                        {
                                            <th><a href="javascript::void(0)" class="editIsWorkerEnd"><i class="fa fa-pencil"></i><input type="hidden" name="lastindex" value="@lastindex" /><input type="hidden" name="StageNow" value="@buiding.StageNow" /><input type="hidden" name="buidingID" value="@buiding.BuidingID" /></a></th>
                                        }
                                        
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>
                    <div style="color:#ff0000">*提示：点击阶段图标上传当前阶段做工信息，绿色图标代表施工当前阶段。</div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            sessionStorage.setItem('lasturl', '@Request.Url.ToString()');
            $('#stageCaseTable').DataTable({
                "language": {
                    "emptyTable": "<span style='color:#ef4136;'>没有数据<br></span>",
                    "info": "显示 _START_ 到 _END_ ，总共 _TOTAL_ 条记录",
                    "infoEmpty": "没有记录",
                    "infoFiltered": "",
                    "lengthMenu": "显示 _MENU_ 条记录",
                    "search": "搜索:",
                    "zeroRecords": "<span style='color:#ef4136;'>没有匹配记录</span>",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    },
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false
            });

        });

        function updateStagesInfo(buidingID, StageID) {
            var url = "/PeopleCenter/CenterCases/UpdateBuidingStagesInfo?buidingID=" + buidingID + "&StageID=" + StageID + "&rnd=" + Math.random();
            window.location.href = url;
        }

        $(".editIsWorkerEnd").click(function () {
            var buidingID = $(this).find("input[name=buidingID]").val();
            var StageNow = $(this).find("input[name=StageNow]").val();
            var lastindex = $(this).find("input[name=lastindex]").val();
            //配置一个透明的询问框
            layer.msg('是否确认竣工。', {
                time: 20000, //20s后自动关闭
                btn: ['竣工', '关闭'],
                yes: function (index, layero) {
                    if (StageNow != lastindex) {
                        layer.msg('项目未完成<br>您不能竣工');
                    } else {
                        editIsWorkerEnd(buidingID);

                        window.location.href = window.location.href;
                    }

                },
                btn2: function (index, layero) {

                }
            });
        })


        function editIsWorkerEnd(buidingID) {
            $.ajax({
                type: "post",
                url: "/PeopleCenter/CenterCases/IsWorkerEnd",
                data: {
                    buidingID: buidingID
                },
                success: function (data) {
                    if (data.RetCode == 1) {
                        //$('#stageCaseTable').DataTable().ajax.reload();                      
                    }
                }

            });
        }
    </script>
}

