@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.BLL.IService
@using AIYunNet.CMS.BLL.Service
@using AIYunNet.CMS.Common.Utility;
@model List<WebBuiding>
@{
    ViewBag.Title = "BuidingStagesListByUser";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    List<string> list = new List<string>();
    List<string> listid = new List<string>();
    WebWorkerService worser = new WebWorkerService();
    WebBuidingStagesService SageSer = new WebBuidingStagesService();
}

@section head{
    <style>
        #stageContent input, select {
            border: solid 1px #808080;
        }

        #stageContent #addStageBtn {
            background: #ff6900;
            width: 140px;
            border: solid 1px #ff6900;
        }

        .public_m5 table tbody tr th {
            background: #fff;
        }

       .thstage > a {
            color: black;
        }
        .thstage > i:last-child {
        display:none;
        }
    </style>
}
<div class="centers_mr" id="stageContent">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active" style="width: 99px;">装修进度</a>
        </div>
        <div class="items-con">
            <div class="public_m1 u-xiaoxi">
                <div class="public_m5">
                    <table border="0" cellspacing="0" cellpadding="0" id="stageCaseTable">
                        <thead>
                            <tr style="border-bottom:1px solid #000">
                                <th>查看详情</th>
                                <th>开始时间</th>
                                <th>装修流程</th>
                                <th>竣工状态</th>
                                <th>验收状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Count > 0)
                            {
                                foreach (WebBuiding buiding in Model)
                                {     
                                    list = buiding.constructionstage.Split(',').Where(c => c != "").ToList<string>();
                                    listid = buiding.constructionstageID.Split(',').Where(c => c != "").ToList<string>();
                                    <tr>
                                        <th><a href="/Workers/DecBuidingDetail?WorkerID=@buiding.WorkerID&BuidingID=@buiding.BuidingID" target="_blank" title="点击查看施工细节">@buiding.BuidingTitle</a></th>
                                        <th>@buiding.StartTime</th>
                                        <th class="thstage">
                                            @for (int i = 0; i < 6; i++)
                                            {
                                                if (i < list.Count)
                                                {
                                                    WebBuidingStages stage = SageSer.GetBuidingStageByBuidingIDAndStageID(buiding.BuidingID, Convert.ToInt32(listid[i]));
                                                    if (stage.IsUserEnd == 2)
                                                    {
                                                        <a class="stages" href="javascript:OpenStage(@buiding.BuidingID,@listid[i],'@list[i].Replace("工", "阶段")','@stage.StageContent')" style="background-color:red;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a><i class="fa fa-arrow-right" style="color: #B5B5B5;"></i>
                                                    }
                                                    else if (stage.IsUserEnd == 1)
                                                    {
                                                        <a class="stages" href="javascript:OpenStagebyUserEnd(@buiding.BuidingID,@listid[i],'@list[i].Replace("工", "阶段")','@stage.StageContent')" style="background-color:#40E0D0;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a><i class="fa fa-arrow-right" style="color: #B5B5B5;"></i>
                                                    }
                                                    else
                                                    {
                                                        if (stage.IsComplete)
                                                        {
                                                            <a class="stages" href="javascript:OpenStage(@buiding.BuidingID,@listid[i],'@list[i].Replace("工", "阶段")','@stage.StageContent')" style="background-color:#a1e6ff;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a><i class="fa fa-arrow-right" style="color: #B5B5B5;"></i>
                                                        }
                                                        else
                                                        {
                                                            <a class="stages" href="javascript:void(0)" style="background-color:#B5B5B5;margin-right:5px;padding: 5px;">@list[i].Replace("工", "阶段")</a><i class="fa fa-arrow-right" style="color: #B5B5B5;"></i>
                                                        }
                                                    }
                                                }
                                                else
                                                {

                                                }
                                            }

                                        </th>

                                        @if (buiding.IsWorkerEnd == 0)
                                        {
                                            <th>未竣工</th>
                                        }
                                        else
                                        {
                                            <th style="color:#009688;">质保中</th>
                                        }

                                        @if (buiding.IsUserEnd == 0)
                                        {
                                            <th>未验收</th>
                                        }
                                        else if (buiding.IsUserEnd == 1)
                                        {
                                            <th style="color:#009688;">合格</th>
                                        }
                                        else if (buiding.IsUserEnd == 2)
                                        {
                                            <th style="color:#ff0000;">不合格</th>
                                        }
                                        @if (buiding.IsUserEnd == 1)
                                        {
                                            <th><a title="查看评价" href="javascript:void(0)" class="OpenComment"><i class="fa fa-thumbs-o-up"></i><input type="hidden" name="buidingID" value="@buiding.BuidingID" /></a></th>
                                        }
                                        else
                                        {
                                            <th>
                                                <a href="javascript::void(0)" class="editIsUserEnd">
                                                    <i class="fa fa-pencil"></i>
                                                    <input type="hidden" name="IsWorkerEnd" value="@buiding.IsWorkerEnd" />
                                                    <input type="hidden" name="buidingID" value="@buiding.BuidingID" />
                                                    <input type="hidden" name="Guid" value="@buiding.Guid" />
                                                    <input type="hidden" name="GetUserID" value="@worser.GetWebWorkerByID(buiding.WorkerID).UserID" />
                                                </a>
                                            </th>
                                        }
                                    </tr>
                                    
                                }

                            }
                        </tbody>
                    </table>
                    <div style="color:#ff0000">*提示：绿色标记代表施工当前阶段。</div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            //去掉最后一个标签
            sessionStorage.setItem('lasturl', '@Request.Url.ToString()');
            $('#stageCaseTable').DataTable({
                "language": {
                    "emptyTable": "<span style='color:#ef4136;'>没有数据<br></span>",
                    "info": "显示 _START_ 到 _END_ ，总共 _TOTAL_ 条记录",
                    "infoEmpty": "没有记录",
                    "infoFiltered": "",
                    "lengthMenu": "显示 _MENU_ 条记录",
                    "search": "搜索:",
                    "zeroRecords": "<span style='color:#ef4136;'>没有匹配记录</span>",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "前一页",
                        "sNext": "后一页",
                        "sLast": "尾页"
                    },
                },
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false
            });

        });
        function OpenStagebyUserEnd(buidingid, stageid, title, content) {
            if (content == "") {
                content = "施工者还没有上传信息！！"
            }
            layer.open({
                type: 1,
                title: title + "施工情况",
                skin: 'layui-layer-rim', //加上边框
                area: ['500px', '700px'], //宽高
                content: content
            });
        }
        function OpenStage(buidingid, stageid, title, content) {
            if (content == "") {
                content = "施工者还没有上传信息！！"
            }
            layer.open({
                type: 1,
                title: title + "施工情况",
                skin: 'layui-layer-rim', //加上边框
                area: ['500px', '700px'], //宽高
                btn: ['合格', '不合格', '关闭'],
                content: content,
                yes: function (index, layero) {
                    IsUserEndStage(buidingid, stageid, 1);
                },
                btn2: function (index, layero) {
                    IsUserEndStage(buidingid, stageid, 2);
                },
                btn3: function (index, layero) {

                }
            });
        }
        function IsUserEndStage(buidingID, stageID, IsUserend) {
            $.ajax({
                type: "post",
                url: "/PeopleCenter/CenterCases/IsUserEndStage",
                data: {
                    buidingID: buidingID,
                    stageID: stageID,
                    IsUserend: IsUserend
                },
                success: function (data) {
                    if (data.RetCode == 1) {
                        //$('#stageCaseTable').DataTable().ajax.reload();
                        window.location.href = window.location.href;
                    }
                }

            });
        }
        $(".editIsUserEnd").click(function () {
            var buidingID = $(this).find("input[name=buidingID]").val();
            var IsWorkerEnd = $(this).find("input[name=IsWorkerEnd]").val();
            var GetUserID = $(this).find("input[name=GetUserID]").val();
            var Guid = $(this).find("input[name=Guid]").val();
            //配置一个透明的询问框
            layer.msg('是否通过验收？<br>（装修合格请点击“通过”，不合格请点击“延时”。）', {
                time: 20000, //20s后自动关闭
                btn: ['合格', '不合格', '关闭'],
                yes: function (index, layero) {
                    if (IsWorkerEnd == 0) {
                        layer.msg('项目未竣工<br>您不能验收');
                    } else {
                        IsUserEnd(buidingID, 1);
                        layer.close(index);
                        layer.open({
                            type: 2,
                            scrollbar: false,
                            title: '我要评论',
                            shadeClose: true,
                            shade: 0.8,
                            area: ['772px', '280px'],
                            content: ['/PeopleCenter/CenterCases/BuidingCommentScore?CaseID=' + buidingID + '&CaseType=WebBuiding&GetUserID=' + GetUserID + '&Guid=' + Guid, 'no'],
                            end: function () {
                                location.reload();
                            }

                        });
                        //window.location.href = window.location.href;
                    }

                },
                btn2: function (index, layero) {
                    if (IsWorkerEnd == 0) {
                        layer.msg('项目未竣工<br>您不能验收');
                    } else {
                        IsUserEnd(buidingID, 2);
                        layer.close(index);
                        layer.open({
                            type: 2,
                            scrollbar: false,
                            title: '我要评论',
                            shadeClose: true,
                            shade: 0.8,
                            area: ['772px', '280px'],
                            content: ['/PeopleCenter/CenterCases/BuidingCommentScore?CaseID=' + buidingID + '&CaseType=WebBuiding&GetUserID=' + GetUserID + '&Guid=' + Guid, 'no'],
                            end: function () {
                                location.reload();
                            }

                        });
                    }
                },
                btn3: function (index, layero) {

                }
            });
        })
        $(".OpenComment").click(function () {
            var CaseID = $(this).find("input").val();
            OpenComment(CaseID);
        })

        function OpenComment(CaseID) {
            layer.open({
                type: 2,
                scrollbar: false,
                title: '我要评论',
                shadeClose: true,
                shade: 0.8,
                area: ['772px', '280px'],
                content: ['/PeopleCenter/CenterCases/BuidingCommentScore?CaseID=' + CaseID, 'no'],
                end: function () {
                    //location.reload();
                }

            });
        }

        function IsUserEnd(buidingID, IsUserend) {
            $.ajax({
                type: "post",
                url: "/PeopleCenter/CenterCases/IsUserEnd",
                data: {
                    buidingID: buidingID,
                    IsUserend: IsUserend
                },
                success: function (data) {
                    if (data.RetCode == 1) {
                        //$('#stageCaseTable').DataTable().ajax.reload();
                    }
                }

            });
        }
    </script>
}

