@using AIYunNet.CMS.Domain.Model
@model List<WebBuiding>
@{
	ViewBag.Title = "BuidingStagesList";
	Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
}
@section head{
	<style>
		#stageContent input, select {
			border: solid 1px #808080;
		}

		#stageContent #addStageBtn {
			background: #ff6900;
			width: 140px;
			border: solid 1px #ff6900;
		}
	</style>
}
<div class="centers_mr" id="stageContent">
	<div class="centers_r_items">
		<div class="action_area" style="padding:10px;">
			<a id="addStageBtn" class="btn btn-primary" href="/PeopleCenter/CenterCases/AddOrEditBuidingStages?buidingID=0">添加阶段案例</a>
		</div>
		<table class="table table-striped" id="stageCaseTable">
			<thead>
				<tr>
					<th>名称</th>
					<th>简介</th>
					<th>缩略图</th>
					<th>面积</th>
					<th>总价</th>
					<th>阶段</th>
					<th>当前阶段</th>
					<th>开始时间</th>
					<th>热门</th>
					<th>至首</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.Count > 0)
				{
					foreach (WebBuiding buiding in Model)
					{
						<tr>
							<td>@buiding.BuidingTitle</td>
							<td style="width:10%">
								@buiding.BuidingBrief
							</td>
							<td>
								<img src="@buiding.thumbnailImage" style="width:100px;height:100px" />
							</td>
							<td>@buiding.Space</td>
							<td>@buiding.Price</td>
							<td style="width:10%">@buiding.constructionstage</td>
							<td>
								@if (string.IsNullOrWhiteSpace(buiding.StageNowDesc))
								{
									<a>添加</a>
								}
								else
								{
									<a>@buiding.StageNowDesc</a>
								}
							</td>
							<td>@buiding.StartTime</td>
							<td>
								@{
									if (buiding.IsHot)
									{
										@:<a style="color:#ff0000">是</a>
								}
									else
									{
										@:<a>否</a>
								}
								}
							</td>
							<td>
								@{
									if (buiding.IsTop)
									{
										@:<a style="color:#ff0000">是</a>
								}
									else
									{
										@:<a>否</a>
								}
								}
							</td>
							<td>@buiding.AddOn</td>
							<td>
								<a href="javascript:editBuiding(@buiding.BuidingID)">修改</a>
								<a style="display:block;" href="javascript:deleteBuiding(@buiding.BuidingID)">删除</a>
								<a href="javascript:updateStagesInfo(@buiding.BuidingID)">管理阶段</a>
							</td>
						</tr>
										}

									}
			</tbody>
		</table>
	</div>
</div>
@section Scripts{
	<script type="text/javascript">
		$(document).ready(function ()
		{
			$('#stageCaseTable').DataTable({
				"language": {
					"emptyTable": "<span style='color:#ef4136;'>没有数据<br></span>",
					"info": "显示 _START_ 到 _END_ ，总共 _TOTAL_ 条记录",
					"infoEmpty": "没有记录",
					"infoFiltered": "",
					"lengthMenu": "显示 _MENU_ 条记录",
					"search": "搜索:",
					"zeroRecords": "<span style='color:#ef4136;'>没有匹配记录</span>",
					"oPaginate": {
						"sFirst": "首页",
						"sPrevious": "前一页",
						"sNext": "后一页",
						"sLast": "尾页"
					},
				},
				"paging": true,
				"lengthChange": true,
				"searching": true,
				"ordering": false,
				"info": true,
				"autoWidth": false
			});

		});

		function editBuiding(buidingID)
		{
			var url = "/PeopleCenter/CenterCases/AddOrEditBuidingStages?buidingID=" + buidingID + "&rnd=" + Math.random();
			window.location.href = url;
		}

		function deleteBuiding(buidingID)
		{
			var c = confirm("确定要删除这条记录吗？");
			if (c != true)
			{
				return;
			}

			$.ajax({
				type: "post",
				url: "/PeopleCenter/CenterCases/DeleteWebBuiding",
				data: { buidingID: buidingID },
				success: function (data)
				{
					window.location.href = window.location.href;
				}
			});
		}

		function updateStagesInfo(buidingID)
		{
			var url = "/PeopleCenter/CenterCases/UpdateBuidingStageInfo?buidingID=" + buidingID + "&rnd=" + Math.random();
			window.location.href = url;
		}
	</script>
}

