@using AIYunNet.CMS.Domain.Model
@model WebBuidingStages
@{
    ViewBag.Title = "UpdateBuidingStagesInfo";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
}
@section head{
    <link href="~/Content/Plugins/wangEditor/css/wangEditor.css" rel="stylesheet" />
    <style>
        #ddlStage {
            border: solid 1px #E0E0E0;
            height: 35px;
            border-radius: 4px;
            width: 200px;
        }

        #timeStageInfoDiv textarea, input {
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        #timeStageInfoDiv .set_div > input {
            width: 10%;
            height: 40px;
        }

        #timeStageInfoDiv .set_l {
            margin-right: 10px;
            margin-left: 10px;
        }

        #timeStageInfoDiv .div_workstage span {
            padding: 10px;
        }

        #timeStageInfoDiv .div_workstage input {
            width: 20px;
            height: 20px;
            display: inline;
            margin-right: 5px;
        }

        #uploadedImages td {
            padding: 10px;
        }
    </style>
}
<div class="centers_mr">
    <div class="centers_r_items" id="timeStageInfoDiv">
        <div class="req-push-title">
            <p class="req-name"><i></i><span>填写阶段信息</span>--<span>@Model.StageName</span></p>
        </div>
		<!--工长发布信息-->
            <div class="form-box-list">
                <div class="tab-l"><span class="form-box-label">工地信息或图片</span></div>
                <div class="tab-r">
                    @Html.TextAreaFor(m => m.StageContent, new { @class = "form_field", @rows = "5", id = "txtStageInfo", placeholder = "请输入描述", @style = "height:400px;max-height:500px;" })
                </div>
                <div class="clearfiexd"></div>
            </div>
        <div class="form-box-list">
            <div class="tab-l"><span class="form-box-label">是否完工</span></div>
            <div class="tab-r">
                @Html.CheckBoxFor(m => m.IsComplete, new { style = "width:20px;height:20px;" })
            </div>
            <div class="clearfiexd"></div>
        </div>
        <div class="form-box-list">
            <a id="btnSave" class="btn-submit" href="javascript:void(0)">提交发布</a>
        </div>
    </div>
</div>
@section Scripts{
    <link href="~/Content/Plugins/webupload/jQueryfileupload/css/jquery.fileupload.css" rel="stylesheet" />
    <link href="~/Content/Plugins/webupload/jQueryfileupload/css/jquery.fileupload-ui.css" rel="stylesheet" />
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.fileupload.js"></script>
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.fileupload-ui.js"></script>
    <script src="~/Content/Plugins/webupload/jQueryfileupload/js/jquery.iframe-transport.js"></script>
    <script src="~/Content/Plugins/wangEditor/js/wangEditor.js"></script>
    <script>
		$(function ()
		{
			//这段富文本编辑器有问题
			var editor = new wangEditor('txtStageInfo');
			// 上传图片
			editor.config.uploadImgUrl = '/SysAdmin/FileUpload/UploadFileForEditor';

			// 配置自定义参数
			editor.config.uploadParams = {
				token: 'abcdefg',
				user: 'wangfupeng1988'
			};
			// 设置 headers
			editor.config.uploadHeaders = {
				'Accept': 'text/x-json'
			};
			editor.create();

			$("#btnSave").click(function ()
			{
				updateBuidingStage();			
			});

			InitUploadPlugin();
		})

		function updateBuidingStageTime()
		{
			var timeStageTitle = $("#txtTimeStageTitle").val().trim();
			if (!timeStageTitle)
			{
				alert("标题不能为空");
				return;
			}
			var buidingID = $("#hidBuidingID").val();
			var timeStageInfo = $("#txtTimeStageInfo").val();
			var uploadImgs = $("#ImageUrl").val();
			var uploadThumbnailImage = $("#thumbnailImage").val();
			var endDate = $("#txtEndDate").val();
			var sortOrder = $("#txtSorted").val();
			debugger;
			$.ajax({
				type: "post",
				url: "/PeopleCenter/CenterCases/UpdateBuidingStageTimeInfo",
				data: {
					WebBuidingStageID: buidingID,
					Title: timeStageTitle,
					TimeStageInfo: timeStageInfo,
					TimeStageContent: uploadImgs,
					sortID: sortOrder,
					endtime: endDate,
					TimeStageThumContent: uploadThumbnailImage
				},
				success: function (ret)
				{
				    layer.alert('添加成功', { icon: 6 }, function (index) {
				        window.location.href = "/PeopleCenter/CenterCases/BuidingStagesList";
				    });
				}
			});
		}

		function updateBuidingStage()
		{
			var content = $("#txtStageInfo").val();
			var IsComplete = $("#IsComplete").prop("checked") ? true : false;
			if (delHtmlTag(content) == "")
			{
			    layer.alert('请写点什么吧！',{ icon: 2 });
			    return false;
			}
			$.ajax({
				type: "post",
				url: "/PeopleCenter/CenterCases/UpdateBuidingStagesInfo",
				data: {
				    ID:'@Model.ID',
					WebBuidingID: '@Model.WebBuidingID',
				    StageContent: content,
				    IsComplete: IsComplete
				},
				success: function (data)
				{
				    layer.alert('信息修改成功', { icon: 6 }, function (index) {
				        window.location.href = "/PeopleCenter/CenterCases/BuidingStagesList";
				    });
				}
			});
		}

		function InitUploadPlugin()
		{
			var jqXHRData = new Array();
			initFileUpload();
			$('#BtnUpload').on('click', function ()
			{
				if (jqXHRData.length > 0)
				{
					for (var i = 0; i < jqXHRData.length; i++)
					{
						jqXHRData[i].submit();
					}
					return true;
				} else
				{
					return false;
				}
			});

			function initFileUpload()
			{
				$('#ImageUpload').fileupload({
					url: '/PeopleCenter/UploadPic/CenterPictrueUpload',
					dataType: 'json',
					add: function (e, data)
					{
						jqXHRData.push(data);
					},
					done: function (event, data)
					{
						if (data.result.isUploaded)
						{
							var imageUrlStr = $("#ImageUrl").val() + "," + data.result.message;
							imageUrlStr = imageUrlStr.substr(1, imageUrlStr.length - 1);
							$("#ImageUrl").val(imageUrlStr);

							var thumbnailImageStr = $("#thumbnailImage").val() + "," + data.result.thumbnailmessage;
							thumbnailImageStr = thumbnailImageStr.substr(1, thumbnailImageStr.length - 1);
							$("#thumbnailImage").val(thumbnailImageStr);
							$("#uploadedImages").append('<tr><td><img src="' + data.result.thumbnailmessage + '"/></td><td><a>删除</a></td></tr>');

						} else
						{
							alert(data.result.message);
						}
						jqXHRData = [];
					},
					fail: function (event, data)
					{
						if (data.files[0].error)
						{
							alert(data.files[0].error);
						}
						jqXHRData = [];
					},
					progressall: function (e, data)
					{
						var progress = parseInt(data.loaded / data.total * 100, 10);
						//$('#progress .bar').css('width', progress + '%');
					}
				});
			}
		}

		function HTMLDecode(text)
		{
			var temp = document.createElement("div");
			temp.innerHTML = text;
			var output = temp.innerText || temp.textContent;
			temp = null;
			return output;
		}
		function delHtmlTag(str) {
		    return str.replace(/<[^>]+>/g, "");//去掉所有的html标记  
		}
    </script>
}
