@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.BLL.Service
@model List<DecDemand>
@{
    ViewBag.Title = "WorkerDemandList";
    Layout = "~/Areas/PeopleCenter/Views/Shared/_LayoutCenter.cshtml";
    WebBuidingService ser = new WebBuidingService();
}
<style>
    .public_m5 input,select{
    border: solid 1px #808080;
    }
</style>
<div class="centers_mr">
    <div class="centers_r_items">
        <div class="items-tit">
            <a class="tit-name active">我的订单</a>
        </div>
        <div class="items-con">
            <div class="public_m1 u-xiaoxi">
                <div class="public_m5">
                    <table border="0" cellspacing="0" cellpadding="0" id="demandlist">
                        <thead>
                            <tr style=" border-bottom:1px solid #000">
                                <th>选择</th>
                                <th>类型</th>
                                <th>业主</th>
                                <th>联系方式</th>
                                <th>城市</th>
                                <th>小区</th>
                                <th>面积</th>
                                <th>发布时间</th>
                                @*<th>当前阶段</th>*@
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DecDemand item in Model)
                            {
                                WebBuiding buiding = ser.GetWebBuidingByDemandID(item.id);

                                //List<string>list = buiding.constructionstage.Split(',').Where(c => c != "").ToList<string>();
                                //List<string> listid = buiding.constructionstageID.Split(',').Where(c => c != "").ToList<string>();
                                <tr>
                                    <td><input type="checkbox" value="@item.id"></td>
                                    <td>@item.DemandTypeName</td>
                                    <td>@item.ownername</td>
                                    <td>@item.ownertel</td>
                                    <td>@item.CityName</td>
                                    <td>@item.buidingname</td>
                                    <td>@item.buidingSpace m²</td>
                                    <td>@item.AddOn.ToString("yyyy-MM-dd")</td>
                                    @*<td><a href="/Workers/DecBuidingDetail?WorkerID=@buiding.WorkerID&BuidingID=@buiding.BuidingID"  style="color:#ff0000" target="_blank" title="点击查看完整流程">@list[buiding.StageNow].Replace("工", "阶段")</a></td>*@
                                    @if (item.IsPlan)
                                    {
                                        <td><a href="/PeopleCenter/CenterCases/AddOrEditBuidingStages?DemandID=@item.id&Guid=@item.Guid">查看计划</a></td>
                                    }
                                    else
                                    {
                                        <td><a href="/PeopleCenter/CenterCases/AddOrEditBuidingStages?DemandID=@item.id&Guid=@item.Guid&UserID=@item.PublishuserID">发布计划</a></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>
            </div>

        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
		$(document).ready(function ()
		{
		    sessionStorage.setItem('lasturl', '@Request.Url.ToString()');
		    $('#demandlist').DataTable({
				"language": {
					"emptyTable": "<span style='color:#ef4136;'>没有数据<br></span>",
					"info": "显示 _START_ 到 _END_ ，总共 _TOTAL_ 条记录",
					"infoEmpty": "没有记录",
					"infoFiltered": "",
					"lengthMenu": "显示 _MENU_ 条记录",
					"search": "搜索:",
					"zeroRecords": "<span style='color:#ef4136;'>没有匹配记录</span>",
					"oPaginate": {
						"sFirst": "首页",
						"sPrevious": "前一页",
						"sNext": "后一页",
						"sLast": "尾页"
					},
				},
				"paging": true,
				"lengthChange": true,
				"searching": true,
				"ordering": false,
				"info": true,
				"autoWidth": false
			});

		});

    </script>
}
