@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility
@{
    ViewBag.Title = "Imagelist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{


    <!-- Animate.css -->
    <link rel="stylesheet" href="/content/pbl/css/animate.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="/content/pbl/css/magnific-popup.css">
    <!-- Salvattore -->
    <link rel="stylesheet" href="/content/pbl/css/salvattore.css">
    <!-- Theme Style -->
    <link rel="stylesheet" href="/content/pbl/css/style.css">
    <!-- Modernizr JS -->
    <script src="/content/pbl/js/modernizr-2.6.2.min.js"></script>
    <link href="~/Content/snncar/css/home.css" rel="stylesheet" />

    <style>
        .row-fluid .span3 {
            width: 19.076923%;
        }

        .row-fluid [class*="span"] {
            margin-left: 10px;
        }

        .module_cont {
            margin-bottom: 0px !important;
        }

        .footer_search .field_search {
            height: 34px;
        }
    </style>
}
<div class="content_wrapper">
    <div class="container">
        <div class="comfilter-bd">
            <h4 class="headInModule" style="text-align: left;">图库精选</h4>
            <div class="row-fluid">
                <div class="span3 module_cont module_iconboxes" id="housestyle">
                    <div class="shortcode_iconbox">
                        <h4>家具别墅</h4>
                        <p>Home Design</p>
                    </div>
                </div><!--.module_cont -->

                <div class="span3 module_cont module_iconboxes" id="commercialstyle">
                    <div class="shortcode_iconbox">
                        <h4>商业空间</h4>
                        <p>Commercial Space</p>
                    </div>
                </div><!--.module_cont -->
                <div class="span3 module_cont module_iconboxes" id="designerrstyle">
                    <div class="shortcode_iconbox">
                        <h4>名师作品</h4>
                        <p>Design Master</p>
                    </div>
                </div><!--.module_cont -->
                <div class="span3 module_cont module_iconboxes" id="hotalstyle">
                    <div class="shortcode_iconbox">
                        <h4>酒店设计</h4>
                        <p>Original</p>
                    </div>
                </div><!--.module_cont -->
                <div class="span3 module_cont module_iconboxes" id="softcoverstyle">
                    <div class="shortcode_iconbox">
                        <h4>软装方案</h4>
                        <p>Softcover</p>
                    </div>
                </div><!--.module_cont -->
            </div><!-- .row-fluid -->

            <div class="filterBox">
                <dl class="fliter-bd clearfix" id="housestylelist">
                    <dt>家居别墅：</dt>
                    <dd class="clickTagWidget">
                        <a class="on" href="javascript:void(0);">不限<input type="hidden" value="0"></a>
                        @foreach (WebLookup goodat in ViewBag.housestylelist)
                        {
                            if (Convert.ToInt32(goodat.Code) != 0)
                            {
                                <a href="#">@goodat.Description<input type="hidden" value="@goodat.Code"></a>
                            }

                        }
                    </dd>
                </dl>
                <dl class="fliter-bd clearfix" id="commercialstylelist" style="display:none;">
                    <dt>商业空间：</dt>
                    <dd>
                        <a class="on" href="javascript:void(0);">不限<input type="hidden" value="0"></a>
                        @foreach (WebLookup goodat in ViewBag.commercialstylelist)
                        {
                            if (Convert.ToInt32(goodat.Code) != 0)
                            {
                                <a href="javascript:void(0);">@goodat.Description<input type="hidden" value="@goodat.Code"></a>
                            }
                        }
                    </dd>
                </dl>
                <dl class="fliter-bd clearfix" id="designerrstylelist" style="display:none;">
                    <dt>名师作品：</dt>
                    <dd>
                        <a class="on" href="javascript:void(0);">不限<input type="hidden" value="0"></a>
                        @foreach (WebLookup goodat in ViewBag.designerrstylelist)
                        {
                            if (Convert.ToInt32(goodat.Code) != 0)
                            {
                                <a href="javascript:void(0);">@goodat.Description<input type="hidden" value="@goodat.Code"></a>
                            }
                        }
                    </dd>
                </dl>
                <dl class="fliter-bd clearfix" id="hotalstylelist" style="display:none;">
                    <dt>酒店设计：</dt>
                    <dd>
                        <a class="on" href="javascript:void(0);">不限<input type="hidden" value="0"></a>
                        @foreach (WebLookup goodat in ViewBag.hotalstylelist)
                        {
                            if (Convert.ToInt32(goodat.Code) != 0)
                            {
                                <a href="javascript:void(0);">@goodat.Description<input type="hidden" value="@goodat.Code"></a>
                            }
                        }
                    </dd>
                </dl>
                <dl class="fliter-bd clearfix" id="softcoverstylelist" style="display:none;">
                    <dt>软装方案：</dt>
                    <dd>
                        <a class="on" href="javascript:void(0);">不限<input type="hidden" value="0"></a>
                        @foreach (WebLookup goodat in ViewBag.softcoverstylelist)
                        {
                            if (Convert.ToInt32(goodat.Code) != 0)
                            {
                                <a href="javascript:void(0);">@goodat.Description<input type="hidden" value="@goodat.Code"></a>
                            }
                        }
                    </dd>
                </dl>
            </div>
        </div>
        <div class="sub_title">
            <!-- 排序 -->
            <div class="left" id="sort"> <a href="#" data="default" class="on" id="default" value="default">默认排序</a> <a href="#" data="desc" id="addon" title="点击按发布时间排序" value="desc"><span class="inline-block">最新</span><i class="i-up"></i></a> <a href="#" data="desc" id="browsecount" title="点击按浏览量排序" value="desc"><span class="inline-block">最热</span><i class="i-up"></i></a></div>
            <div class="right"> <span class="car_sum">共<strong></strong>部作品</span> </div>
            <input type="hidden" id="SortOrder" value="" />
            <script>
                $(function () {
                    $("#sort > a").val("desc");
                    $("#sort > a").click(function () {
                        if ($(this).attr("id") == "default") {
                            var SortOrder1 = " ";
                            $("#SortOrder").val(SortOrder1);
                            noticeVue.GetPageList(1);
                        } else if ($(this).val() == "desc") {
                            var SortOrder1 = $(this).attr("id") + " " + $(this).val() + ",";
                            $("#SortOrder").val(SortOrder1);
                            $(this).val("asc");
                            $(this).find("span").val("asc");
                            $(this).find("i").attr("class", "i-down");
                            noticeVue.GetPageList(1);
                        } else if ($(this).val() == "asc") {
                            var SortOrder1 = $(this).attr("id") + " " + $(this).val() + ",";
                            $("#SortOrder").val(SortOrder1);
                            $(this).val("desc");
                            $(this).find("span").val("desc");
                            $(this).find("i").attr("class", "i-up");
                            noticeVue.GetPageList(1);
                        }
                    });
                })
            </script>
        </div>
    </div>
    <div id="fh5co-main">
        <div class="container">


            <div class="row" id="masonry">

                <div id="fh5co-board" data-columns v-for="item in pageList">

                    <div class="item">
                        <div class="animate-box">
                            <a v-bind:href="'/Imglist/PictureList?webImgID='+item.ImgId" class="" v-bind:title="item.ImgTitle">
                                <img v-bind:src="'@AppSettingsHelper.ImgUrl'+item.ImgUrl" v-bind:alt="item.ImgTitle" style="width:280px;">
                            </a>
                        </div>
                        <div class="fh5co-desc">{{item.ImgTitle}}</div>
                    </div>
                    @*<div class="item">
                            <div class="animate-box">
                                <a href="/content/pbl/images/img_2.jpg" class="image-popup fh5co-board-img"><img src="/content/pbl/images/img_2.jpg" alt="Free HTML5 Bootstrap template"></a>
                                <div class="fh5co-desc">Veniam voluptatum voluptas tempora debitis harum totam vitae hic quos.</div>
                            </div>
                        </div>*@
                </div>
            </div>

            <div class="team_page">
                <div class="M-box1" style="text-align:center;"></div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <!-- jQuery -->
    @*<script src="/content/pbl/js/jquery.min.js"></script>*@
    <!-- jQuery Easing -->
    <script src="/content/pbl/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="/content/pbl/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="/content/pbl/js/jquery.waypoints.min.js"></script>
    <!-- Magnific Popup -->
    <script src="/content/pbl/js/jquery.magnific-popup.min.js"></script>
    <!-- Salvattore -->
    <script src="/content/pbl/js/salvattore.min.js"></script>
    <!-- Main JS -->
    <script src="/content/pbl/js/main.js"></script>

    <script>
        $("#housestyle").click(function () {
            $("#housestylelist").attr("style", "display:block;");
            $("#housestylelist").prevAll("dl").attr("style", "display:none;");
            $("#housestylelist").nextAll("dl").attr("style", "display:none;");
            $(".fliter-bd > dd > a").removeClass();
            $("#housestylelist > dd > a").eq(0).attr("class", "on");
            noticeVue.GetPageList(1);
        });
        $("#commercialstyle").click(function () {
            $("#commercialstylelist").attr("style", "display:block;");
            $("#commercialstylelist").prevAll("dl").attr("style", "display:none;");
            $("#commercialstylelist").nextAll("dl").attr("style", "display:none;");
            $(".fliter-bd > dd > a").removeClass();
            $("#commercialstylelist > dd > a").eq(0).attr("class", "on");
            noticeVue.GetPageList(1);
        });
        $("#designerrstyle").click(function () {
            $("#designerrstylelist").attr("style", "display:block;");
            $("#designerrstylelist").prevAll("dl").attr("style", "display:none;");
            $("#designerrstylelist").nextAll("dl").attr("style", "display:none;");
            $(".fliter-bd > dd > a").removeClass();
            $("#designerrstylelist > dd > a").eq(0).attr("class", "on");
            noticeVue.GetPageList(1);
        });
        $("#hotalstyle").click(function () {
            $("#hotalstylelist").attr("style", "display:block;");
            $("#hotalstylelist").prevAll("dl").attr("style", "display:none;");
            $("#hotalstylelist").nextAll("dl").attr("style", "display:none;");
            $(".fliter-bd > dd > a").removeClass();
            $("#hotalstylelist > dd > a").eq(0).attr("class", "on");
            noticeVue.GetPageList(1);
        });
        $("#softcoverstyle").click(function () {
            $("#softcoverstylelist").attr("style", "display:block;");
            $("#softcoverstylelist").prevAll("dl").attr("style", "display:none;");
            $("#softcoverstylelist").nextAll("dl").attr("style", "display:none;");
            $(".fliter-bd > dd > a").removeClass();
            $("#softcoverstylelist > dd > a").eq(0).attr("class", "on");
            noticeVue.GetPageList(1);
        });
        //点击分类改变样式
        $(".fliter-bd > dd >a").click(function () {
            $(this).addClass("on").prevAll("a").removeClass();
            $(this).nextAll("a").removeClass();
            noticeVue.GetPageList(1);
        });
        //图库个数
        var destotal = "";
        var noticeVue = new Vue({
            el: '#masonry',
            data: {
                pageList: []
            },
            mounted: function () {
                this.GetPageList(1);
            },
            methods: {
                //分页查询
                GetPageList: function (pageIndex) {
                    var _self = this;
                    var PageSize = 40;
                    var housestylelist = $("#housestylelist  > dd > .on > input").val();
                    var commercialstylelist = $("#commercialstylelist > dd  > .on > input").val();
                    var designerrstylelist = $("#designerrstylelist > dd  > .on > input").val();
                    var hotalstylelist = $("#hotalstylelist  > dd > .on > input").val();
                    var softcoverstylelist = $("#softcoverstylelist > dd  > .on > input").val();
                    var SortOrder = $("#SortOrder").val();
                    //案例分页Ajax
                    $.ajax({
                        async: false,
                        type: "post",
                        url: "../Handler/GetPageListAjax.ashx",
                        data: {
                            pageIndex: pageIndex,
                            PageSize: PageSize,
                            housestylelist: housestylelist,
                            commercialstylelist: commercialstylelist,
                            designerrstylelist: designerrstylelist,
                            hotalstylelist: hotalstylelist,
                            softcoverstylelist: softcoverstylelist,
                            SortOrder:SortOrder,
                            methodname: "GetImgList"
                        },
                        success: function (data) {
                            if (data) {
                                var html = '';
                                var pagebar = '';
                                var datajson = eval('(' + data + ')');
                                
                                _self.pageList = datajson.list;
                                if (_self.pageList != null) {
                                    destotal = datajson.recordcount;
                                    //列出页码,jq分页控件
                                    $('.M-box1').pagination({
                                        totalData: datajson.recordcount,
                                        showData: PageSize,
                                        coping: true,
                                        current: pageIndex,
                                        callback: _self.pageselectCallback

                                    });

                                    Vue.nextTick(function () {
                                        //样式
                                        $(".car_sum > strong").html(destotal);
                                        magnifPopup();
                                        offCanvass();
                                        mobileMenuOutsideClick();
                                        animateBoxWayPoint();
                                    });
                                } else
                                {
                                    Vue.nextTick(function () {
                                        //样式
                                        $(".car_sum > strong").html(0);
                                    });
                                }
                                


                            } else {
                                $("#masonry").empty();
                            }
                        },
                        error: function (xhr, type) {
                            alert('Ajax error!');
                        }
                    });

                },
                //分页回调函数
                pageselectCallback: function (pageIndex) {
                    var _self = this;
                    //获取当前页码
                    _self.GetPageList(pageIndex.getCurrent());
                },
                //js获取Url参数
                GetQueryString: function (name) {
                    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                    var r = window.location.search.substr(1).match(reg);
                    if (r != null) return unescape(r[2]); return null;
                }


            }
        });
    </script>
}
