@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility;
@using AIYunNet.CMS.BLL.Service;
@model WebUser
@{
    ViewBag.Title = "UserData";
    Layout = "~/Areas/MobileApp/Views/Shared/_mobileLayout.cshtml";
    WebWorkerService wSer = new WebWorkerService();
    WebWorker worker = wSer.GetWebWorkerByUserID(Convert.ToInt32(SessionHelper.Get("UserID")));
}
<link href="~/Content/mui-master/examples/hello-mui/css/mui.min.css" rel="stylesheet" />
<link href="~/Content/mui-master/examples/hello-mui/css/app.css" rel="stylesheet" />
<link href="~/Content/mui-master/examples/hello-mui/css/mui.picker.css" rel="stylesheet" />
<link href="~/Content/mui-master/examples/hello-mui/css/mui.poppicker.css" rel="stylesheet" />
<script src="~/Content/mui-master/examples/hello-mui/js/mui.min.js"></script>
<script src="~/Content/mui-master/examples/hello-mui/js/mui.picker.js"></script>
<script src="~/Content/mui-master/examples/hello-mui/js/mui.poppicker.js"></script>
<script src="~/Content/mui-master/examples/hello-mui/js/city.data.js"></script>
<script src="~/Content/mui-master/examples/hello-mui/js/city.data-3.js"></script>
<script src="~/Content/mobileapp/html5ImgCompress-master/dist/html5ImgCompress.min.js"></script>
<link href="~/Content/WorkerApp/css/buttoncss.css" rel="stylesheet" />
<style>
    .mui-pciker-list {
        background-color: #ddd;
    }
</style>
<script>
    $("title").html("个人资料");
    //var html = "<h1>AU装修宝</h1>";
    //$("#header > .back").after(html);
</script>
<div class="container" id="container">

    <div class="personal-data1">
        <ul>
            <li><a href="javascript:void(0);" onclick="EditPersonDataText(this, 'NickName')"><span>用户名(昵称)</span><em>@Model.NickName</em></a></li>
            <li><a href="javascript:void(0);" id="uploadpic" onclick='javascript: $("#ImageUpload").click();'><span>头像</span><em><img id="thum" src="@AppSettingsHelper.ImgUrl@Model.thumbnailImage" style="width:50px;height:50px;border-radius:5px;margin-top: 4px;"></em></a></li>
            <input type="file" id="ImageUpload" style="display:none;">

            <li><a href="javascript:void(0);" onclick="EditPersonDataText(this, 'Email')"><span>邮箱</span><em>@Model.Email</em></a></li>
            <li><a href="javascript:void(0);"><span>手机号</span><em>@Model.Telephone</em></a></li>
            <li><a href="javascript:void(0);" onclick="EditPersonDataText(this, 'TrueName')"><span style="color:red;">*</span><span>真实姓名</span><em>@Model.TrueName</em></a></li>
            <li><a href="javascript:void(0);" onclick="EditPersonDataText(this, 'Sex')"><span style="color:red;">*</span><span>性别</span><em>@Model.Sex</em></a></li>
            <li><a href="javascript:void(0)" id="showCityPicker"><span style="color:red;">*</span><span>所在地</span><em id="showCityPickerem">@Model.ProvinceName  @Model.CityName</em><i id="cityid" style="display:none;">@Model.CityID</i></a></li>
        </ul>
    </div>
    <script>
        var TrueName = "@Model.TrueName";
        var Sex = "@Model.Sex";
        var CityName = "@Model.CityName";
        if (TrueName == null || TrueName == "" || Sex == null || Sex == "" || CityName == null || CityName == "") {
            //自定义标题风格
            layer.open({
                title: [
                  '重要提示',
                  'background-color: #FF4351; color:#fff;'
                ]
              , content: '请完整填写个人资料，标红部分为必填项，资料不完整将无法发布需求。'
            });
        }
        $("#uploadpic").click(function () {
            $('#ImageUpload').on('change', function (e) {
                new html5ImgCompress(e.target.files[0], {
                    before: function (file) {
                        console.log('单张: 压缩前...');
                        var data = new FormData();
                        data.append('file', file);
                        data.append("name", file.name);
                        $.ajax({
                            type: "post",
                            url: "/MobileApp/upload/mPictrueUpload",
                            datatype: 'JSON',
                            fileElementId: 'file',
                            async: false,
                            // 告诉jQuery不要去处理发送的数据
                            processData: false,
                            // 告诉jQuery不要去设置Content-Type请求头
                            contentType: false,
                            cache: false,
                            traditional: true,
                            data: data,
                            success: function (data) {
                                if (data.isUploaded) {
                                    var Img = data.message;
                                    var thum = data.thumbnailmessage;
                                    var thuming = '@AppSettingsHelper.ImgUrl' + thum;

                                    $.ajax({
                                        type: "post",
                                        url: "/MobileApp/MobileCenter/updateUserData",
                                        data: {
                                            data:Img+";"+thum,
                                            type:"Img"
                                        },
                                        success: function (data) {
                                            if (data=="1") {
                                                $("#thum").attr("src", thuming);
                                            }
                                        }

                                    });
                                }
                            }

                        });

                    },
                    done: function (file, base64) {
                        console.log('单张: 压缩成功...');
                        //insertImg(file, j); // 显示原图
                        //insertImg(base64, j++); // 显示压缩后
                    },
                    fail: function (file) {
                        console.log('单张: 压缩失败...');
                    },
                    complete: function (file) {
                        console.log('单张: 压缩完成...');
                    },
                    notSupport: function (file) {
                        alert('浏览器不支持！');
                    }
                });
            })

        })
    </script>
</div>
<script>
    function EditPersonDataText(item,type)
    {
        var title = $(item).find("span").text();
        var data=$(item).find("em").text();
        window.location.href = "/MobileApp/MobileCenter/EditUserDataText?title=" + title + "&type=" + type + "&data=" + data;
    }
</script>
<script>
    (function ($, doc) {
				$.init();
				$.ready(function() {
					/**
					 * 获取对象属性的值
					 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
					 * param {Object} obj 对象
					 * param {String} param 属性名
					 */
					var _getParam = function(obj, param) {
						return obj[param] || '';
					};
				    //普通示例

				    //-----------------------------------------
				    //级联示例

					    var cityPicker = new $.PopPicker({
					        layer: 2
					    });
					    cityPicker.setData(cityData);
					    var showCityPickerButton = doc.getElementById('showCityPicker');
					    //var cityResult = doc.getElementById('cityResult');
					    showCityPickerButton.addEventListener('tap', function (event) {
					        cityPicker.show(function (items) {
					            //cityResult.innerText = "你选择的城市是:" + items[0].text + " " + items[1].text;
					            document.getElementById("showCityPickerem").innerHTML = items[0].text + " " + items[1].text;
					            document.getElementById("cityid").innerHTML = items[1].value;

					            selectcity(items[1].value, "CityID");
					            //返回 false 可以阻止选择框的关闭
					            //return false;
					        });
					    }, false);


				    //-----------------------------------------
					    function selectcity(data,type)
					    {
					        // 第一步： 获得XMLHttpRequest对象
					        var ajax = new XMLHttpRequest();
					        // 第二步： 设置状态监听函数
					        ajax.onreadystatechange = function () {
					            console.log(ajax.readyState);
					            console.log(ajax.status);
					            // 第五步：在监听函数中，判断readyState=4 && status=200表示请求成功
					            if (ajax.readyState == 4 && ajax.status == 200) {
					                // 第六步： 使用responseText、responseXML接受响应数据，并使用原生JS操作DOM进行显示
					                console.log(ajax.responseText);
					                console.log(ajax.responseXML);// 返回不是XML，显示null
					                console.log(JSON.parse(ajax.responseText));
					                console.log(eval("(" + ajax.responseText + ")"));
					            }
					        }
					        // 第三步： open一个链接
					        ajax.open("POST", "/MobileApp/MobileCenter/updateUserData", false);//true异步请求，false同步
					        ajax.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
					        // 第四步： send一个请求。 可以发送对象和字符串，不需要传递数据发送null
					        ajax.send("data=" + data + "&type=" + type);
					        //window.top.location.href = window.top.location.href;
					    }
				    //-----------------------------------------
					    
				    //-----------------------------------------

				});
    })(mui, document);


</script>

