@using AIYunNet.CMS.Domain.Model
@using AIYunNet.CMS.Common.Utility
@using AIYunNet.CMS.BLL.Service;

@{
    ViewBag.Title = "HomeIndex";
    Layout = "~/Views/Shared/_LayoutDec.cshtml";
    WebCommonService webCommenService = new WebCommonService();

}
<link href="~/Content/design/sheji.index.css" rel="stylesheet" />
<link href="~/Content/design/swiper/swiper-3.4.2.min.css" rel="stylesheet" />
<script src="~/Content/design/swiper/swiper-3.4.2.jquery.min.js"></script>
<style>
    .wrap_1180 .new_top_bar ,.wrap_1180 .index_logo ,.wrap_1180 .top_menu ,.wrap_1180 .content ,.wrap_1180 .cppyright_content{ width: 1180px;}
                #gallery .w .gallery_img .img_inner .img_on {
        width: 243px;
        height: 475px;
        position: absolute;
        left: 0;
        top: 0;
        /*background: rgba(255,0,0,0.3);*/
    }
            #gallery .w .gallery_img .img_inner {
        position: relative;
        float: left;
        margin-right: 1px;
    }
            #gallery .w .gallery_img .img_inner .img_on .home {
        text-align: center;
        line-height: 120px;
        color: #fff;
        position: absolute;
        left: 80px;
        bottom: 0;
    }
            #gallery .w .gallery_img .img_inner .img_on .house {
        width: 134px;
        height: 134px;
        background: rgba(0,0,0,0.3);
        /*border: 1px solid #fff;*/
        border-radius: 134px;
        text-align: center;
        line-height: 134px;
        color: #fff;
        position: absolute;
        left: 50px;
        top: 98px;
    }
</style>
<script>
    $(function () {
        //面包屑样式
        $(".column_content").hover(function () {
            $(this).find('.column').show()//.stop(true,true);
        }, function () {
            $(this).find('.column').hide()//.stop(true,true);
        });

        var indexSwiper = new Swiper('#index_slider', {
            autoplay: 3000,//可选选项，自动滑动
            pagination: '.slider_mark',
            paginationClickable: true,
            paginationElement: 'li',
        })
        //装修推荐样式
        $(".des-tab-list").hover(function () {
            var index = $(this).index();
            $(this).addClass('cur');//.stop(true,true);
            $(this).prevAll(".des-tab-list").removeClass("cur");
            $(this).nextAll(".des-tab-list").removeClass("cur");
            $(".designers_list").eq(index).show();
            $(".designers_list").eq(index).prevAll(".designers_list").hide();
            $(".designers_list").eq(index).nextAll(".designers_list").hide();
        }, function () {
        });

    })
</script>
@section IndexNav{
    <div class="column_side">
        <div class="column column_outside">

            <div class="column_content content_outside outside_cur">
                <div class="column_name">@ViewBag.jzDeclist.name<em></em></div>
                <div class="column_list">
                    @foreach (WebRecommend item in ViewBag.jzDeclist.list)
                    {
                        if (item.IsRed == true)
                        {
                            <a href="@item.RecommendUrl" target="_blank" class="red">@item.RecommendName</a>
                        }
                        else
                        {
                            <a href="@item.RecommendUrl" target="_blank" class="">@item.RecommendName</a>
                        }

                    }
                    <div class="clear"></div>
                </div>

                <!--二级菜单-->
                <div class="column column_inner inner_01">
                    <div class="column_content column_content_cur">
                        <div class="column_name no_border">户型</div>
                        <div class="column_list">
                            @foreach (WebLookup item in webCommenService.GetLookupList("Case_house_type"))
                            {
                                <a href="http://www.shejiben.com/works/home/s0k1m0a0/" class="" target="_blank">@item.Description</a>
                            }

                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="column_content">
                        <div class="column_name">风格</div>
                        <div class="column_list">
                            @foreach (WebLookup item in webCommenService.GetLookupList("Case_style"))
                            {
                                <a href="http://www.shejiben.com/works/home/s0k1m0a0/" class="" target="_blank">@item.Description</a>
                            }
                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
                <!--二级菜单 End-->

            </div>

            <div class="column_content content_outside">
                <div class="column_name no_border">@ViewBag.gzDeclist.name<em></em></div>
                <div class="column_list">
                    @foreach (WebRecommend item in ViewBag.gzDeclist.list)
                    {
                        if (item.IsRed == true)
                        {
                            <a href="@item.RecommendUrl" target="_blank" class="red">@item.RecommendName</a>
                        }
                        else
                        {
                            <a href="@item.RecommendUrl" target="_blank" class="">@item.RecommendName</a>
                        }

                    }
                    <div class="clear"></div>
                </div>
                <!--二级菜单-->
                <div class="column column_inner inner_02" style="display: none;">
                    <div class="column_content">
                        <div class="column_name">类型</div>
                        <div class="column_list">
                            @foreach (WebLookup item in webCommenService.GetLookupList("Case_gz_style"))
                            {
                                <a href="http://www.shejiben.com/works/home/s0k1m0a0/" class="" target="_blank">@item.Description</a>
                            }
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <!--二级菜单 End-->
            </div>

            <div class="column_content no_border content_outside">
                <div class="column_name">@ViewBag.tkDeclist.name<em></em></div>
                <div class="column_list">
                    @foreach (WebRecommend item in ViewBag.tkDeclist.list)
                    {
                        if (item.IsRed == true)
                        {
                            <a href="@item.RecommendUrl" target="_blank" class="red">@item.RecommendName</a>
                        }
                        else
                        {
                            <a href="@item.RecommendUrl" target="_blank" class="">@item.RecommendName</a>
                        }

                    }
                    <div class="clear"></div>
                </div>

                <div class="column column_inner inner_03" style="display: none;">
                    <div class="column_content">
                        <div class="column_name no_border">所在城市</div>
                        <div class="column_list">
                            <a href="http://www.shejiben.com/zsj/beijing/" class="" target="_blank">北京</a>
                            <a href="http://www.shejiben.com/zsj/shanghai/" class="" target="_blank">上海</a>
                            <a href="http://www.shejiben.com/zsj/guangzhou/" class="" target="_blank">广州</a>
                            <a href="http://www.shejiben.com/zsj/shenzhen/" class="" target="_blank">深圳</a>
                            <a href="http://www.shejiben.com/zsj/nanjing/" class="" target="_blank">南京</a>
                            <a href="http://www.shejiben.com/zsj/tianjin/" class="" target="_blank">天津</a>
                            <a href="http://www.shejiben.com/zsj/hangzhou/" class="" target="_blank">杭州</a>
                            <a href="http://www.shejiben.com/zsj/wuhan/" class="" target="_blank">武汉</a>
                            <a href="http://www.shejiben.com/zsj/chengdu/" class="" target="_blank">成都</a>
                            <a href="http://www.shejiben.com/zsj/xian/" class="" target="_blank">西安</a>
                            <a href="http://www.shejiben.com/zsj/fuzhou1/" class="" target="_blank">福州</a>
                            <a href="http://www.shejiben.com/zsj/suzhou1/" class="" target="_blank">苏州</a>
                            <a href="http://www.shejiben.com/zsj/zhengzhou/" class="" target="_blank">郑州</a>
                            <a href="http://www.shejiben.com/zsj/hefei/" class="" target="_blank">合肥</a>
                            <a href="http://www.shejiben.com/zsj/guiyang/" class="" target="_blank">贵阳</a>
                            <a href="http://www.shejiben.com/zsj/ningbo/" class="" target="_blank">宁波</a>
                            <a href="http://www.shejiben.com/zsj/changsha/" class="" target="_blank">长沙</a>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="column_content">
                        <div class="column_name">擅长空间</div>
                        <div class="column_list">
                            @foreach (WebLookup item in webCommenService.GetLookupList("People_good_at_style"))
                            {
                                <a href="http://www.shejiben.com/zsj/jiajuzhuzhai/" class="" target="_blank">@item.Description</a>
                            }
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
<!--滚动图-->
<div class="swiper-container" id="index_slider">
    <ul class="banner_slider swiper-wrapper">
        @foreach (var item in ViewBag.lunbolist.list as List<WebRecommend>)
        {
            <li class="swiper-slide" style="background: url(&quot;@AppSettingsHelper.ImgUrl@item.RecommendImg&quot;) center center no-repeat; width: 1903px; height: 420px;">
                <a href="@item.RecommendUrl" target="_blank" style="display:block;width:100%;height:420px;">&nbsp;</a>
            </li>
        }
    </ul>
    <ul class="slider_mark"></ul>
</div>
<!-- 亮点介绍 -->
<ul class="module_list">
    <li>
        <span class="icon icon_cast"></span>
        <span class="module_words">
            <a href="http://www.shejiben.com/works/home/" target="_blank">浏览真实设计案例</a>
            <label>百万设计师的原创作品</label>
        </span>
    </li>
    <li>
        <span class="icon icon_answer"></span>
        <span class="module_words">
            <a href="http://ask.shejiben.com" target="_blank">找到知名装修公司</a>
            <label>装修公司在线咨询</label>
        </span>
    </li>
    <li>
        <span class="icon icon_designers"></span>
        <span class="module_words">
            <a href="http://www.shejiben.com/zsj/" target="_blank">找到满意的设计师</a>
            <label>设计师云集于此</label>
        </span>
    </li>
    <li>
        <span class="icon icon_trade"></span>
        <span class="module_words">
            <a href="http://www.shejiben.com/zb/" target="_blank">在线资金托管</a>
            <label>权威资金托管，满意后付款</label>
        </span>
    </li>
</ul>

<!--装修推荐-->
<div class="column_index search_designers" id="search_designers">
    <div class="column_name clearfix">
        <p>装修推荐</p>
        <label>
            @*<a href="http://www.shejiben.com/zsj/beijing/" target="_blank">北京</a>
                <a href="http://www.shejiben.com/zsj/shanghai/" target="_blank">上海</a>
                <a href="http://www.shejiben.com/zsj/guangzhou/" target="_blank">广州</a>
                <a href="http://www.shejiben.com/zsj/shenzhen/" target="_blank">深圳</a>
                <a href="http://www.shejiben.com/zsj/suzhou1/" target="_blank">苏州</a>
                <a href="http://www.shejiben.com/zsj/hangzhou/" target="_blank">杭州</a>*@
            <a href="http://www.shejiben.com/zsj/" target="_blank">更多 &gt;</a>
        </label>
    </div>
    <div class="content_designers">
        <ul class="tab_name">
            <li class="des-tab-list cur">@ViewBag.tuijianlist.name<em></em></li>
            <li class="des-tab-list">@ViewBag.designerlist.name<em></em></li>
            <li class="des-tab-list">@ViewBag.workheaderlist.name<em></em></li>
            <li class="des-tab-list">@ViewBag.companylist.name<em></em></li>
        </ul>
        <div class="designers_detail">
            <!--设计大咖-->
            <div class="designers_list" id="designers_list_01" style="display: block;">
                <!--大图-->
                <div class="scroll_content swiper-container swiper-container_01" id="designers_list_scroll_01">
                    <ul class="designers_list_top swiper-wrapper" id="designers_list_scroll" style="width: 7752px; height: 184px; transform: translate3d(-1020px, 0px, 0px); transition-duration: 0s;">
                        @foreach (var item in ViewBag.tuijianlist.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide swiper-slide-duplicate" style="width: 204px; height: 184px;">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                                <div class="user_msg">
                                    <a href="javascript:void(0)" class="user_name" target="_blank">@item.RecommendName</a>
                                    @*<a href="javascript:void(0)" class="user_company" target="_blank">赵亚奇设计</a>*@
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <!--大图End-->
                <!--小图-->
                <div class="scroll_content scroll_content-s swiper-container swiper-container-s01" id="designers_list_scroll_b1">
                    <ul class="designers_list_bottom swiper-wrapper" style="width: 3060px; height: 84px; transform: translate3d(-1020px, 0px, 0px); transition-duration: 0s;">
                        @foreach (var item in ViewBag.tuijianlistsmall.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide" style="width: 102px; height: 84px;">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" style="height:82px;width:82px" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                                <a href="@item.RecommendUrl" class="username" target="_blank">@item.RecommendName</a>
                            </li>
                        }
                    </ul>
                </div>
                <!--小图 End-->
            </div>
            <!--设计大咖 End-->
            <!--精英设计-->
            <div class="designers_list" id="designers_list_02" style="display:none;">
                <div class="scroll_content swiper-container swiper-container_02" id="designers_list_scroll_02">
                    <ul class="designers_list_top swiper-wrapper">
                        @foreach (var item in ViewBag.designerlist.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" style="height:184px;width:184px" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                                <div class="user_msg">
                                    <a href="@item.RecommendUrl" class="user_name" target="_blank">@item.RecommendName</a>
                                </div>

                            </li>
                        }
                    </ul>
                </div>

                <div class="scroll_content scroll_content-s swiper-container swiper-container-s02" id="designers_list_scroll_b2">
                    <ul class="designers_list_bottom swiper-wrapper">
                        @foreach (var item in ViewBag.designerlistsmall.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" style="height:82px;width:82px" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                                <a href="@item.RecommendUrl" class="username" target="_blank">@item.RecommendName</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <!--精英设计 End-->
            <!--工长-->
            <div class="designers_list" id="designers_list_03" style="display:none;">
                <div class="scroll_content swiper-container swiper-container_03" id="designers_list_scroll_03">
                    <ul class="designers_list_top swiper-wrapper">
                        @foreach (var item in ViewBag.workheaderlist.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" style="height:184px;width:184px" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                                <div class="user_msg">
                                    <a href="@item.RecommendUrl" class="user_name" target="_blank">@item.RecommendName</a>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
                <div class="scroll_content scroll_content-s swiper-container swiper-container-s03" id="designers_list_scroll_b3">
                    <ul class="designers_list_bottom swiper-wrapper">
                        @foreach (var item in ViewBag.workheaderlistsmall.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" style="height:82px;width:82px" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                                <a href="@item.RecommendUrl" class="username" target="_blank">@item.RecommendName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>


            <div class="designers_list" id="designers_list_04" style="display:none;">
                <div class="scroll_content swiper-container swiper-container_04" id="designers_list_scroll_04">
                    <ul class="designers_list_top swiper-wrapper">
                        @foreach (var item in ViewBag.companylistsmall.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide">
                                <a href="@item.RecommendUrl" class="img" target="_blank">
                                    <img class="lazy" src="@AppSettingsHelper.ImgUrl@item.thumbnailImage" style="height:184px;width:184px">
                                </a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="scroll_content scroll_content-s swiper-container swiper-container-s04" id="designers_list_scroll_b4">
                    <ul class="designers_list_bottom swiper-wrapper">
                        @foreach (var item in ViewBag.companylist.list as List<WebRecommend>)
                        {
                            <li class="swiper-slide">
                                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!--设计案例-->
<div class="column_index search_case">
    <div class="column_name clearfix">
        <p>@ViewBag.caselist.name</p>
        <label>
            <a href="http://www.shejiben.com/works/home/" target="_blank">更多 &gt;</a>
        </label>
    </div>
    <div class="index_case_list">
        <div id="gallery">
            <div class="w">
                <div class="gallery_img">
                    @foreach (WebRecommend Gallerystyle in ViewBag.caselist.list)
                    {
                        <div class="img_inner">
                            <img src="~/Content/images/tu_16.jpg" alt="" style="width:233px;height:475px;">
                            <div class="img_on">
                                <a href="@Gallerystyle.RecommendUrl" target="_blank">
                                    <div class="house">@Gallerystyle.RecommendName</div>
                                </a>
                                <div class="home">@Gallerystyle.RecommendInfo</div>
                            </div>
                        </div>
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!--<ul>
            <li>
                <a href="http://www.shejiben.com/sjs/7545757/case-3430582-1.html" class="big_img" target="_blank"><img src="http://pic1.shejiben.com/case/2017/07/17/20170717152553-5f1482b1-la.jpg"></a>
                <a href="http://www.shejiben.com/sjs/7545757/case-3430582-1.html" class="small_img" target="_blank"><img src="http://pic.shejiben.com/user/57/sjb_headphoto_7545757_d.jpg?1510283928"></a>
                <a href="http://www.shejiben.com/sjs/7545757/case-3430582-1.html" class="title" target="_blank">理想与爱情（一如年少）</a>
                <span class="name">JORYA玖雅</span>
            </li>
            <li>
                <a href="http://www.shejiben.com/sjs/7737235/case-3516106-1.html" class="big_img" target="_blank"><img src="http://pic.shejiben.com/case/2017/11/27/20171127145158-dbb39a89-la.jpg"></a>
                <a href="http://www.shejiben.com/sjs/7737235/case-3516106-1.html" class="small_img" target="_blank"><img src="http://pic.shejiben.com/user/35/sjb_headphoto_7737235_d.jpg?1489113801"></a>
                <a href="http://www.shejiben.com/sjs/7737235/case-3516106-1.html" class="title" target="_blank">万科湖畔样板间</a>
                <span class="name">ULD家居设计</span>
            </li>
            <li>
                <a href="http://www.shejiben.com/sjs/6245961/case-3503849-1.html" class="big_img" target="_blank"><img src="http://pic.shejiben.com/case/2017/11/07/20171107163210-38c6236e-la.jpg"></a>
                <a href="http://www.shejiben.com/sjs/6245961/case-3503849-1.html" class="small_img" target="_blank"><img src="http://pic.shejiben.com/user/61/sjb_headphoto_6245961_d.jpg?1477625352"></a>
                <a href="http://www.shejiben.com/sjs/6245961/case-3503849-1.html" class="title" target="_blank">深圳亞太醫療美容醫院 Shen..</a>
                <span class="name">谢秉峻-厘米设计</span>
            </li>
            <li>
                <a href="http://www.shejiben.com/sjs/7479096/case-3318085-1.html" class="big_img" target="_blank"><img src="http://pic1.shejiben.com/case/2017/02/07/20170207165357-9ab6e0d0-la.jpg"></a>
                <a href="http://www.shejiben.com/sjs/7479096/case-3318085-1.html" class="small_img" target="_blank"><img src="http://pic.shejiben.com/user/96/sjb_headphoto_7479096_d.jpg?1480055847"></a>
                <a href="http://www.shejiben.com/sjs/7479096/case-3318085-1.html" class="title" target="_blank">方信原设计作品-纯白澈之居</a>
                <span class="name">方信原</span>
            </li>
        </ul>-->
    </div>
</div>

<!--装修公司-->
<div class="column_index search_company">
    <div class="column_name">
        <p>@ViewBag.CompanyTJlist.name</p>
        <label>
            <a href="http://www.shejiben.com/zsj/beijing/" target="_blank">北京</a>
            <a href="http://www.shejiben.com/zsj/shanghai/" target="_blank">上海</a>
            <a href="http://www.shejiben.com/zsj/guangzhou/" target="_blank">广州</a>
            <a href="http://www.shejiben.com/zsj/shenzhen/" target="_blank">深圳</a>
            <a href="http://www.shejiben.com/zsj/suzhou1/" target="_blank">苏州</a>
            <a href="http://www.shejiben.com/zsj/hangzhou/" target="_blank">杭州</a>
            <a href="http://www.shejiben.com/zsj/" target="_blank">更多 &gt;</a>
        </label>
        <div class="clear"></div>
    </div>
    <div class="swiper-container index_rank_img" id="index_rank_img">
        <div class="swiper-button-prev swiper-button-black"></div>
        <div class="swiper-button-next swiper-button-black"></div>
        <ul class="banner_slider swiper-wrapper">
            @foreach (var item in ViewBag.CompanyTJlist.list as List<WebRecommend>)
            {
                <li class="swiper-slide" style="background: url(&quot;@AppSettingsHelper.ImgUrl@item.RecommendImg&quot;) center center no-repeat; width: 1180px; height: 174px;">
                    <a href="@item.RecommendUrl" target="_blank" style="display:block;width:100%;height:420px;">&nbsp;</a>
                </li>
            }
        </ul>
    </div>
</div>
<script>
    $(function () {
        var companySwiper = new Swiper('#index_rank_img', {
            autoplay: 10000,//可选选项，自动滑动
            prevButton: '.swiper-button-prev',
            nextButton: '.swiper-button-next',
        })

        $(".column_name_l > p").click(function () {
            var indexp = $(this).index();
            $(this).addClass("cur").prevAll("p").removeClass("cur");
            $(this).nextAll("p").removeClass("cur");
            $(".pic_content > ul.index_pic_list").eq(indexp).show();
            $(".pic_content > ul.index_pic_list").eq(indexp).prevAll("ul").hide();
            $(".pic_content > ul.index_pic_list").eq(indexp).nextAll("ul").hide();

        });

    })
</script>
<!--家装图库，工装图库-->
<div class="column_index search_pic" id="search_pic">
    <div class="column_name">
        <div class="column_name_l"><p class="cur">@ViewBag.jiazhuanglist.name</p><p>@ViewBag.gongzhuanglist.name</p></div>
        <div class="column_name_r">
            <label>
                <a href="http://www.shejiben.com/works/keting/" target="_blank">客厅</a>
                <a href="http://www.shejiben.com/works/woshi/" target="_blank">卧室</a>
                <a href="http://www.shejiben.com/works/weishengjian/" target="_blank">卫生间</a>
                <a href="http://www.shejiben.com/works/canting/" target="_blank">餐厅</a>
                <a href="http://www.shejiben.com/works/chufang/" target="_blank">厨房</a>
                <a href="http://www.shejiben.com/works/ertongfang/" target="_blank">儿童房</a>
                <a href="http://www.shejiben.com/works/yangtai/" target="_blank">阳台</a>
                <a href="http://www.shejiben.com/works/" target="_blank">更多 &gt;</a>
            </label>

            <label style="display:none;">
                <a href="http://www.shejiben.com/works/jiudiankongjian/" target="_blank">酒店</a>
                <a href="http://www.shejiben.com/works/gouwukongjian/" target="_blank">商场</a>
                <a href="http://www.shejiben.com/works/shangyezhanshi/" target="_blank">商店</a>
                <a href="http://www.shejiben.com/works/bangongkongjian/" target="_blank">办公室</a>
                <a href="http://www.shejiben.com/works/canyinkongjia/" target="_blank">餐厅</a>
                <a href="http://www.shejiben.com/works/yulekongjian/" target="_blank">酒吧/KTV</a>
                <a href="http://www.shejiben.com/works/shoulouzhongxin/" target="_blank">售楼处</a>
                <a href="http://www.shejiben.com/works/gonggongkongjian/" target="_blank">更多 &gt;</a>
            </label>
        </div>

        <div class="clear"></div>
    </div>
    <div class="pic_content">
        <ul class="index_pic_list">
            @{ int i = 0;}
            @foreach (WebRecommend item in ViewBag.jiazhuanglist.list)
            {
                if (i == 0 || i == 4)
                {
                    <li class="li_01">
                        <a href="@item.RecommendUrl" target="_blank" class="img"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                        <a href="@item.RecommendUrl" target="_blank" class="title"></a>
                    </li>
                }
                else
                {
                    <li class="">
                        <a href="@item.RecommendUrl" target="_blank" class="img"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                        <a href="@item.RecommendUrl" target="_blank" class="title">@item.RecommendName</a>
                    </li>
                }
                i++;
            }
            <div class="clear"></div>
        </ul>
        <ul class="index_pic_list" style="display:none;">
            @{ int j = 0;}
            @foreach (WebRecommend item in ViewBag.gongzhuanglist.list)
            {
                if (j == 0 || j == 4)
                {
                    <li class="li_01">
                        <a href="@item.RecommendUrl" target="_blank" class="img"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                        <a href="@item.RecommendUrl" target="_blank" class="title"></a>
                    </li>
                }
                else
                {
                    <li class="">
                        <a href="@item.RecommendUrl" target="_blank" class="img"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                        <a href="@item.RecommendUrl" target="_blank" class="title">@item.RecommendName</a>
                    </li>
                }
                j++;
            }

            <div class="clear"></div>
        </ul>
    </div>
</div>

<!--原创出品-->
<div class="column_index search_original">
    <div class="column_name">
        <p>原创出品</p>
        <label>
            <a href="http://www.shejiben.com/news/" target="_blank">设计资讯</a>
            <a href="http://www.shejiben.com/space/" target="_blank">空间谈</a>
            <a href="http://www.shejiben.com/zt/" target="_blank">名人访谈</a>
        </label>
        <div class="clear"></div>
    </div>
    <div class="index_original_list">
        <a class="column_name red" href="http://www.shejiben.com/images/jiexi/" target="_blank">@ViewBag.newslist.name<em></em></a>
        @foreach (WebRecommend item in ViewBag.newslist.list)
        {
            <div class="original_detail">
                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                <a href="@item.RecommendUrl" class="title" target="_blank">@StringHelper.StringTruncat(item.RecommendName, 18, "..")</a>
            </div>
        }
    </div>
    <div class="index_original_list">
        <a class="column_name green" href="http://www.shejiben.com/zt/" target="_blank">@ViewBag.worklist.name<em></em></a>
        @foreach (WebRecommend item in ViewBag.worklist.list)
        {
            <div class="original_detail">
                <a href="@item.RecommendUrl" class="img" target="_blank"><img class="lazy" src="@AppSettingsHelper.ImgUrl@item.RecommendImg"></a>
                <a href="@item.RecommendUrl" class="title" target="_blank">@StringHelper.StringTruncat(item.RecommendName, 18, "..")</a>
            </div>
        }

    </div>
</div>
<!--最新动态-->
<div class="column_index search_news">
    <div class="column_name">
        <p>装修攻略</p>
        <label>
            <a href="http://ask.shejiben.com/" target="_blank">更多 &gt;</a>
        </label>
        <div class="clear"></div>
    </div>
    <div class="index_news_list">
        <div class="news_info answer_list">
            <p class="column_name">@ViewBag.liuchenglist.name</p>
            <div class="column_new_content" id="showQuestionList">
                <div class="scroll_content" style="height: 3030px;">
                    <div class="list" id="liucheng">
                        @foreach (WebRecommend item in ViewBag.liuchenglist.list)
                        {
                            <div class="news_list">
                                <div class="news_msg">
                                    <a href="@item.RecommendUrl" target="_blank">@StringHelper.StringTruncat(item.RecommendName, 18, "..")</a>
                                    <p>
                                        @StringHelper.StringTruncat(item.RecommendInfo, 20, "..")
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <a class="check_more" href="http://ask.shejiben.com/" target="_blank">去看完整流程<em class="arrow">&gt;</em></a>
        </div>
        <div class="news_info commit">
            <p class="column_name">装修问答</p>
            <div class="column_new_content" id="showDemandList">
                <div class="scroll_content" style="height: 3030px;">
                    <div class="list">
                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/51.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">周先生提交了设计需求</span>
                                <p class="answer"><em>河北邯郸市邯山区40m²酒店空间设计</em></p>
                                <p class="last_time">1分钟前</p>
                            </div>
                        </div>
                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/134.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">艾先生提交了设计需求</span>
                                <p class="answer"><em>广西五象航洋城南宁400m²办公空间设计</em></p>
                                <p class="last_time">11分钟前</p>
                            </div>
                        </div>
                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/14.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">黄义华女..提交了设计需求</span>
                                <p class="answer"><em>重庆市渝北区70m²平层住宅设计</em></p>
                                <p class="last_time">23分钟前</p>
                            </div>
                        </div>
                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/19.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">杨先生提交了设计需求</span>
                                <p class="answer"><em>福建漳州市88m²平层住宅设计</em></p>
                                <p class="last_time">26分钟前</p>
                            </div>
                        </div>
                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/141.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">李先生提交了设计需求</span>
                                <p class="answer"><em>北京市海淀区45m²平层住宅设计</em></p>
                                <p class="last_time">41分钟前</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="check_more" href="http://www.shejiben.com/zb/?from=index" target="_blank">提交我的问题<em class="arrow">&gt;</em></a>
        </div>
        <div class="news_info order">
            <p class="column_name">大家都在预约设计师</p>
            <div class="column_new_content" id="showOrderList">
                <div class="scroll_content" style="height: 3030px;">
                    <div class="list">

                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/128.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">张工预约了<a href="http://www.shejiben.com/sjs/1659413/" target="_blank" style="display:inline-block">骆小宁</a>做设计</span>
                                <p class="answer"><em>宿州</em><em>其他</em><em>1400㎡</em></p>
                                <p class="last_time">35分钟前</p>
                            </div>
                        </div>

                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/1.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">艾预约了<a href="http://www.shejiben.com/sjs/886377/" target="_blank" style="display:inline-block">周晓安设..</a>做设计</span>
                                <p class="answer"><em>南宁</em><em>住宅空间</em><em>400㎡</em></p>
                                <p class="last_time">42分钟前</p>
                            </div>
                        </div>

                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/66.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">李女士预约了<a href="http://www.shejiben.com/sjs/467258/" target="_blank" style="display:inline-block">李云鹏</a>做设计</span>
                                <p class="answer"><em>北京</em><em>住宅空间</em><em>102㎡</em></p>
                                <p class="last_time">48分钟前</p>
                            </div>
                        </div>

                        <div class="news_list">
                            <img src="http://img.shejiben.com/headphoto/85.jpg?v=1456423482">
                            <div class="news_msg">
                                <span class="news_title">张先生预约了<a href="http://www.shejiben.com/sjs/3159472/" target="_blank" style="display:inline-block">木梵设计..</a>做设计</span>
                                <p class="answer"><em>上海</em><em>住宅空间</em><em>44㎡</em></p>
                                <p class="last_time">54分钟前</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <a class="check_more" href="http://www.shejiben.com/zsj/" target="_blank">去找设计师<em class="arrow">&gt;</em></a>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    $(function () {
        var doscroll = function () {
            var $parent = $('#liucheng');
            var $first = $parent.find('.news_list:first');
            var height = $first.height();
            $first.animate({
                height: 0   //或者改成： marginTop: -height + 'px'
            }, 500, function () {// 动画结束后，把它插到最后，形成无缝
                $first.css('height', height).appendTo($parent);
                // $first.css('marginTop', 0).appendTo($parent);
            });
        };
        setInterval(function () { doscroll() }, 2000);
    })

</script>